[2020-07-14 14:31] chicco785 commented on #338
@pinkerltm we are going to check generated queries, something is clearly broken.

[2020-07-14 14:40] pinkerltm commented on #338
Sorry, I wasn't clear... it returns only 534 rows although the database table holds 62.524 for this specific device.

[2020-07-14 14:42] chicco785 commented on #338
@pinkerltm can you export data and ship them to us?

[2020-07-14 14:47] pinkerltm commented on #338
@chicco785 mhm...only via another channel as I am not allowed to publish it here. I'll send you a message where to get the timeseries of this device as CSV File, ok?

[2020-07-20 12:08] c0c0n3 commented on #318
closed by #335

[2020-07-20 12:08] #318 closed

[2020-07-20 16:19] c0c0n3 commented on #274
implemented as part of #275.

[2020-07-20 16:19] #274 closed

[2020-07-21 06:25] pinkerltm commented on #338
@chicco785 Did you receive my testdata file and were you able to import it?

[2020-07-21 08:03] chicco785 commented on #338
@pinkerltm we got the data, but we hadn't time to work on it yet

[2020-07-21 10:34] ilarimikkonen opened #339 "Data models with StructuredValues cannot be read from Crate DB"
There are some data models out there where there are StructuredValues. This works fine with Orion context Broker, but when the values go with notification to QL/Crate, those values cannot be read (or at least we have not come up with a way) from Crate DB

What is the recommendation how to deal with StructuredValues in FIWARE data models.

Here is one example:

https://github.com/smart-data-models/

[2020-07-21 12:15] c0c0n3 commented on #339
When a notification contains an entity with an attribute of `StructuredValue` type, QL saves that attribute's value in the in the corresponding CrateDB entity table with a type of `object`. This bit should work fine, if you come across an instance where it does not, please file a bug with QL ;-)

You should be able to retrieve the attribute as `StructuredValue` too, e.g. querying `refPublicTranspo

[2020-07-22 10:59] daminichopra commented on #287
Hi @c0c0n3 , Extension [PostGIS](http://postgis.net/) can be installed alongside with [TimescaleDB](https://www.timescale.com/). PostGIS supports 3D points, which are created by [ST_MakePoint](https://postgis.net/docs/ST_MakePoint.html). In short TimescaleDB does support 3D coordinates whereas CrateDB does not support 3D coordinates which i have described in [PR](https://github.com/smartsdk/ngsi-t

[2020-07-22 15:26] c0c0n3 commented on #287
Hi @daminichopra thanks so much for this!
@Glagnar so it turns out Crate doesn't support 3D coords and now there's a mention of it in the manual---see #340 by @daminichopra. I reckon we can close this issue then. If you can't do without 3D, you may want to consider using QL with the Timescale backend + PostGIS extension, as @daminichopra points out. Our manual documents how to set up a QL backend

[2020-07-22 15:26] #287 closed

[2020-07-24 11:02] daminichopra commented on #334
Hi @chicco785 @ccsr @c0c0n3 , I investigated on this issue and below are the error logs which i get while notifying request.

![Capture](https://user-images.githubusercontent.com/35693908/88383492-400d7b00-cdc8-11ea-9019-de9b70194d91.PNG)
![capture1](https://user-images.githubusercontent.com/35693908/88383501-44d22f00-cdc8-11ea-8f88-e66eb44cc0b0.PNG)

Please confirm and assign this issue to me if

[2020-07-24 11:17] chicco785 commented on #334
@daminichopra assigned!

[2020-07-25 12:44] chicco785 opened #341 "geocache should not be critical for cluster health"
https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/reporter/health.py#L70

if not available, simply it should not be used till is back

[2020-07-26 08:22] chicco785 opened #342 "improve logs"
list entity ids, tenant, and servicePaths

move to debug

List entityId and attribute

[2020-07-29 16:39] c0c0n3 opened #343 "Nested array limitations"
### The problem
Crate (`3.x` and `4.x`) does *not* support nested arrays, not even in a JSON document. In fact, the [reference section on arrays][crate-arrays] makes it plain:

What's surprising though is that the `object` type doesn't support storing a JSON document containing nested arrays---this doesn't seem to be documented anywhere, so perhaps it's a bug. Here's an example where we create a t

[2020-07-29 16:44] c0c0n3 commented on #322
For the sake of completeness, this issue is related to #343. In fact, the `location` attribute in the original example has a type of `GeoProperty` which eventually causes QL to store it in an `object` column, but the insert fails because Crate doesn't support nested arrays in a JSON document:

    "coordinates": [
                     [
                       [14.85921182, 48.68756989],

[2020-07-29 16:59] c0c0n3 opened #344 "Rethink how to store original data for Crate backend"
### The problem
Turning on saving of original data when using the Crate backend results in an insert failure if the data contains nested arrays. Both the initial and the recovery insert fail because the type of the original data column is `object` and Crate does *not* support nested arrays in JSON docs---see #343 about it. Notice this only affects the Crate backend, not Timescale.

### What to do

[2020-07-29 17:02] c0c0n3 commented on #344
Here's how to reproduce the issue. Start QL with the `KEEP_RAW_ENTITY` environment variable set to true. Then use the below script to make QL bomb out.

[code]

[2020-07-30 13:49] ilarimikkonen opened #345 "ReadtheDocs structural issue"
Hi guys,

when reading https://quantumleap.readthedocs.io/en/latest/ there is a link on the left Navigation pane User->home:

![image](https://user-images.githubusercontent.com/7221736/88930652-6f1e6380-d284-11ea-85f4-6ab459e4d100.png)

when clicking that it jumps to:

![image](https://user-images.githubusercontent.com/7221736/88930716-85c4ba80-d284-11ea-9e79-0fa6dad78f3a.png)

which feels like un

[2020-08-04 09:06] ilarimikkonen opened #347 "Programmatic deletion of Table from Crate DB"
**Is your feature request related to a problem? Please describe.**
When data is received by QL via notifications from CB, a table is created to Crate DB. Data can be deleted from Crate via API endpoints, but the table stays in the Crate DB.

**Describe the solution you'd like**
An API endpoint to remove table from the Crate DB

**Describe alternatives you've considered**
1) exec to container 2) st

[2020-08-04 10:04] c0c0n3 opened #348 "Log entry timestamps"
**Is your feature request related to a problem? Please describe.**
Currently log entries don't have a timestamp, e.g.

    DEBUG:crate.client.http:Sending request to /_sql? ...
    INFO:reporter.reporter:Notification successfully processed

**Describe the solution you'd like**
Prepend log entries with a timestamp, e.g.

    [2020-07-15 10:41:41.568+00] DEBUG:crate.client.http:Sending request to /_

[2020-08-04 10:07] c0c0n3 commented on #345
@ilarimikkonen good catch, thanks for reporting it!

[2020-08-04 10:20] c0c0n3 commented on #347
If you delete **all** records through the API delete endpoint, then this should happen automatically:

1. The entity table gets dropped---i.e. QL should issue the `DROP TABLE ...` statement for you.
2. The corresponding table entry should be deleted from the metadata table.

It looks like this isn't happening for you? Can you confirm you deleted **all** the records in the table **using the delete

[2020-08-04 11:19] c0c0n3 commented on #334
closed by #346

[2020-08-04 11:19] #334 closed

[2020-08-05 06:01] daminichopra commented on #348
Hi @chicco785 @c0c0n3 , I would like to work on this Issue. Please assign. Thank you

[2020-08-11 08:49] ilarimikkonen commented on #347
Setup:
Running Crate 3.3.5. with 0.7.5. QL. Orion in front

Test:
1) create a new tenant: deletetest1 - OK
2) push data to tenant - OK
3) get data from tenant - OK
4) create a subscription to QL - OK
5) push data - OK
6) check subscription - OK
7) check data from Crate - OK:
[code]
8) do delete - OK:
[code]
9) check from crate - NOK:
[code]

RESULT: - table remains
EXPECTED: - table is dropped

[2020-08-11 11:06] mclucky commented on #338
@chicco785 are there any news on this issue? We (@pinkerltm) using QL API for a big data energy project and rely on that functionality to work. Can we somehow help?

[2020-08-13 06:31] ccsr opened #349 "All the subscripted records from Context Broker is not in Quantum Leap when on high loads"
**Describe the bug**
Not all the records are found in Quantum Leap when subscribed to Context Broker on high burst load. Some records are missing from Quantum Leap

**To Reproduce**
Steps to reproduce the behaviour:
Set up simple set up with "Context Broker->Quantum Leap (CrateDB)"
Create a subscription for a tenant from Context Broker to Quantum Leap
Start sending data by using JMeter or attached

[2020-08-13 07:06] chicco785 commented on #349
thx @ccsr
in your tests, what are the resources allocated to crate? be a ware that recommended size for node is 8CPU 32GB

[2020-08-13 07:42] chicco785 opened #350 "Auto recover from: UnavailableShardsException"
**Is your feature request related to a problem? Please describe.**

If for what ever reason shards for a table are not available, injection fails:

[code]

This can be recovered with ```ALTER CLUSTER REROUTE RETRY FAILED``` query. For details check [here](https://crate.io/docs/crate/reference/en/4.2/sql/statements/alter-cluster.html#reroute-retry-failed)

**Describe the solution you'd like**
A cle

[2020-08-13 07:45] chicco785 commented on #338
@mclucky @pinkerltm it's a bad timing, with holidays and projects for customers, not sure when we will have time to luck into it

[2020-08-13 08:53] pierre-josselin opened #351 "Typing issue with NGSI-LD and QuantumLeap"
**Describe the bug**
QuantumLeap does not seem to work well with NGSI-LD, the recorded values are all "null". The problem is probably with the unrecognized "Property", "GeoProperty" and "Relationship" types.

**To Reproduce**
1. I created an entity of type _Device_
_http://localhost:1026/ngsi-ld/v1/entities_
`{
    "@context": [
        "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"

[2020-08-13 09:36] chicco785 commented on #351
@pierre-josselin ql does not support ngsi-ld at the time being

[2020-08-13 11:36] pinkerltm commented on #349
We experienced similar behaviour with a much smaller update rate of about 200 Entitites per second (but Crate also had not very much ressources...3 Nodes with 2CPUs and 12GB each which we are currently doubling).

For bulk importing we also made a PoC where we write directly to crate bypassing orion (and therefore QL) and utilize the "bulk_args" propterty of crates HTTP API (https://crate.io/docs/

[2020-08-13 16:01] pinkerltm commented on #338
@chicco785 I´ve spinned up the code locally, debugging the generated SQL Statement to sort things out. What I didn't know yet: QL inserts `and fiware_servicepath = ''` to the WHERE clause, so you expect the fiware_servicepath to be an empty string.

Our data rows whic aren#t returned have all fiware_servicepath set to NULL, as we don't use the servicepath and data got restored from a CSV File, so

[2020-08-13 16:35] chicco785 commented on #338
ql should use the `fiware_servicepath` of the orginal entity in orion, is any path set in orion? and do you use any header? it could be that the query is not correct when `fiware_servicepath` is not set in the header

[2020-08-14 05:33] ilarimikkonen commented on #347
hang on.. I may have confused concepts of schema and table. I'll check again.

[2020-08-14 05:50] pinkerltm commented on #338
Ok, thanks for clarifying this... as said, these rows were restored from CSV manually and therefore fiware_servicepath was not set. So it was my fault and I was able to solve this now by setting fiware_servicepath via an UPDATE Statement.

[2020-08-14 05:50] #338 closed

[2020-08-14 05:55] chicco785 commented on #338
@pinkerltm great!

[2020-08-14 06:03] chicco785 commented on #349
@pinkerltm crates does everything in memory, and it also seems that garbage collection is not very efficient.
also with a queue (which could is anyhow an interesting solution) the problem may not be solved: in fact data are not injected when a given table is not "green" this happens when all records are not fully replicated which of course it is easier to happen when a given table receives many up

[2020-08-14 06:12] pinkerltm commented on #349
@chicco785 Yes, I understand that a queue possibly wouldn't solve this problem... we just observed that crate handles a much higher load with lesser ressources when you have any chance to bulk_insert rows.

What I wanted to add further to THIS issue: We also observed not only that rows weren't inserted on high loads, but also that rows were duplicated (which can be easily worked around by setting

[2020-08-14 06:15] chicco785 commented on #349
@pinkerltm are you using context broker in high availability, i.e. two or more instances? we had duplicates only when by chance two instances of context broker generated parallel notifications (because they both picked up the notification before tagging it)

[2020-08-14 06:28] pinkerltm commented on #349
Yes, three instances. I thought the node which receives the Entity update is also responsible for notifying the subscribers (?) Luckily it turned out as a minor issue by just setting the primary key (no duplicates since then, and pk violation errors are just ignored ;) )

[2020-08-14 08:07] ccsr commented on #349
The VM has 32GB RAM and 16 core

[2020-08-14 10:02] ilarimikkonen commented on #347
I think the (potential) problem scenario is as such: 1) table is dropped. 2) someone creates a new tenant with the same name and type, but pushes different data. Then because the entry is persisted in the md_ets_metadata table there is an error.  Given that same data types would be used, this is no problem, but there is no guarantee.
But I need to test and validate this.

[2020-08-15 02:21] chicco785 commented on #349
for production purposes, it's better to wrap ql in a wsgi server, as clearly indicated by flask doc.

in this branch: https://github.com/smartsdk/ngsi-timeseries-api/tree/add-loadl-test
you can find a dockerfile version for the purpose. the code was also a bit tweaked to remove redundant select during insert (not tested in depth though - there may be issues if two concurrent updates stating a diff

[2020-08-18 09:05] ilarimikkonen commented on #347
Retested: schema and table remain after deleting data using `/V2/types` endpoint. entry stays in md_ets_metadata. no data in table.
If I do a drop table: `cr> drop table  "mtdeletetest3"."etdeletetestduno";` schema and table entries are removed and entry stays in md_ets_metadata

[2020-08-18 09:22] chicco785 commented on #347
@ilarimikkonen thx for the scouting. we look into extending https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/reporter/tests/test_delete.py to be sure the test you mention is covered and hence implemented.

[2020-08-18 09:24] chicco785 commented on #347
fyi: code that cover that is there, but clearly is not executed as expected (see https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/sql_translator.py#L985)

[2020-08-18 09:51] chicco785 commented on #347
@ilarimikkonen we checked the test and verified database behaviour (which is not automatically verified in the test).

it seems everything looks fine:
1. data is deleted.
2. table is deleted.
3. metadata are deleted.

can you provide a small script to reproduce your test? that would help to understand what goes wrong and why

thx

[2020-08-18 10:05] daminichopra commented on #342
Hi @chicco785 , Please assign this issue to me if no one is working on it.

Also i want to confirm my understanding on this:

1.  Need to  include list `entity ids, tenant, and servicePaths` with `Backend selected for tenant 'ekz' is: crate`.
2.  `INFO` needs to be moved to `DEBUG`
3.  Need to include List `entityId and attribute`  with `WARNING:translators.crate:'string' is not a supported NGSI t

[2020-08-18 13:57] chicco785 commented on #342
correct

geocoding.factory:Env
geocoding.factory:Geo
translators.factory:Backend

should be `DEBUG`

This warning tells that one of the attributes provided is not in the proper format,
the warning needs to include the entityId where this occurred and the attribute that caused the error.

No, it's ok to stay `WARNING`

[2020-08-21 08:47] Siedlerchr opened #353 "No records found when specifying fromDate Parameter after upgrading to 0.7.6 although data exists"
**Describe the bug**

When I specify the fromDate Paramter it returns no records , although data for this time index exists.

**To Reproduce**
Steps to reproduce the behavior:
Have some Data inserted previously from Fiware orion
`/v2/entities/urn:ngsi-ld:XXXX:2f6617eb-b21a-46c2-9121-cdc476f24744?type=XXX&lastN=10000&`
[code]
Now add a fromDate filter
`/v2/entities/urn:ngsi-ld:XXXX:2f6617eb-b21a-46

[2020-09-01 09:24] ilarimikkonen commented on #347
IDK how to help here; assuming that there is already some data in the database, doing a curl like this does the deletion, but leaves some artifacts like mentioned:

`curl --location --request DELETE 'https://sthdata.domain.fi/ql/v2/types/tenanttests' \
--header 'fiware-service: bbbbb' \
--header 'fiware-servicepath: /'`

I've been trying to figure out a script, but this is not a trivial effort for

[2020-09-01 11:59] c0c0n3 commented on #348
closed by #352

[2020-09-01 11:59] #348 closed

[2020-09-01 12:04] c0c0n3 commented on #351
@pierre-josselin closing this issue since implementing NGSI-LD is on our roadmap already :-)

[2020-09-01 12:04] #351 closed

[2020-09-01 12:10] c0c0n3 commented on #353
@Siedlerchr thanks for reporting the issue, we'll look into that. Just to confirm

when you say encoded, you mean you **URL-encoded the whole** `fromDate` value as in

    fromDate=2020-07-08T09%3A00%3A00.000Z

Thanks!

[2020-09-07 15:17] c0c0n3 opened #356 "Add PID and TID to log lines"
### Is your feature request related to a problem? Please describe
We're in the process of switching from the Flask dev server to Gunicorn. There'll be lots of processes kicking around and, depending on Gunicorn worker type, async IO or/and multiple threads per process all of which is going to make it really hard to tell which log lines belong to which execution flow.

### Describe the solution you

[2020-09-11 08:41] c0c0n3 opened #358 "Broken OSM city shape"
### Describe the bug
Geocoding of city locations is currently broken.

### To Reproduce
Run `test_entity_add_city_shape` in the `geocoding.tests.test_geocoding` module. If you debug it, you'll see that the call to OSM

    info = geocoder.osm(key, maxRows=10)

returns an `info` object with a `current_result.osm_type == 'node'` whereas we expect `current_result.osm_type == 'relation'`.

### Expecte

[2020-09-11 08:54] chicco785 commented on #358
this rather a change in the database of osm, if you try for example Milan:
https://nominatim.openstreetmap.org/search?q=Milano&format=jsonv2&addressdetails=1&limit=10

[2020-09-11 08:56] c0c0n3 opened #359 "Gunicorn tuning"
### Is your feature request related to a problem? Please describe.
PR #357 introduced initial support for Gunicorn, but we probably still have some work to do before we have a good prod configuration---see TODOs in `src/server/gconfig.py`.

### Describe the solution you'd like
As we get more experience with Gunicorn in production, streamline configuration, with an eye on performance and security.

[2020-09-11 09:12] c0c0n3 opened #360 "Gunicorn docs"
### Is your feature request related to a problem? Please describe.
There's no mention in the manual of how to run QuantumLeap in Gunicorn.

### Describe the solution you'd like
Update the manual to explain how to run QuantumLeap in Gunicorn, performance tuning, and security settings. This is best done after we get more experience with running Gunicorn in prod, see #359. Also, we should move much o

[2020-09-11 09:17] c0c0n3 commented on #301
In the end we decided to use Gunicorn instead of uWSGI. Since we now have implemented the necessary Gunicorn plumbing (#357), I'm closing this issue.

[2020-09-11 09:17] #301 closed

[2020-09-11 09:24] c0c0n3 commented on #358
either way, it's broken :-)
perhaps we shouldn't consider the `osm_type` since it isn't part of the API. I'm not even sure what their API actually is, so I'd have to dig deeper before fixing this. But to me, operation inputs and outputs are an integral part of an API. So we should see if API outputs are clearly documented somewhere, then stick to that...

[2020-09-11 10:04] daminichopra commented on #356
Please assign this issue to me. Thanks

[2020-09-11 10:24] c0c0n3 commented on #356
no prob, done, thx!

[2020-09-14 17:07] c0c0n3 opened #362 "Gunicorn container halts test session"
### Describe the bug
During the test session in the Travis build, it looks like the Gunicorn server in the Docker container suddenly comes to the foreground, so tests stop, and eventually Travis kills the build.

### To Reproduce
Do a clean check out of the `master` branch, **fully** prune your Docker system taking care of not leaving behind any dangling images/containers, remove all your Python v

[2020-09-18 06:48] Siedlerchr commented on #353
@c0c0n3  Sorry for the late answer. Somehow this slipped  through. Yes, I meant urlencoded, e.g. `2020-01-01T02%3A30%3A00.000Z`

[2020-09-18 10:30] ilarimikkonen commented on #347
[code]
Result in crate:
[code]
and metadata and schema remain. @chicco785 is this enough? if not, let's have a call.

[2020-09-18 11:27] c0c0n3 commented on #342
closed by #355

[2020-09-18 11:27] #342 closed

[2020-09-18 11:29] c0c0n3 commented on #353
@Siedlerchr no worries :-) thanks so much for getting back to me though, much appreciated!!

[2020-09-18 11:34] c0c0n3 commented on #347
@ilarimikkonen thank you so much for this. We'll try to reproduce and add this test case to the test suite as @chicco785 mentioned some time ago. We'll keep you posted :-)

[2020-09-19 15:50] chicco785 commented on #362
the problem is not gunicorn, but the new image using entrypoint instead of command, which makes the integration tests fail in the content load fase

[2020-09-20 16:32] chicco785 commented on #353
@Siedlerchr i added a test to produce a similar case to the one you have in pr #364:
https://github.com/smartsdk/ngsi-timeseries-api/pull/364/files#diff-e30630bb6e6ea12a30a3835f274ecbd6R287

as you can see, all tests are passing, so it may be something weird related to your specific entity. I invite you to provide a a minimal input that reproduce the bug.

[2020-09-20 16:46] chicco785 commented on #353
of course the test are not including the upgrade step, i.e. data are inserted and queried in the current version of ql

[2020-09-20 18:03] chicco785 commented on #347
thx @ilarimikkonen there is indeed a bug, tests have always no servicePath, so this case was not covered.

[2020-09-21 07:44] c0c0n3 commented on #362
ah, thanks for that. I wonder why tests were passing for a while even on Travis as well as on our boxes. Anyhoo, let's fix forward.

[2020-09-21 08:50] chicco785 commented on #332
Maybe by checking "compliancy" we can solve it: allowed characters are the ones in the plain ASCII set, except the following ones: control characters, whitespace, &, ?, / and #.

[2020-09-21 16:58] joselopezfernandez opened #366 "Error k8s container"
My k8s cluster version is 1.17.7, everything was working but Azure told me to update and now quantumleap to cratedb doesn't work. I have this error in the pod:

OCI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"bash\": executable file not found in $PATH": unknown

I have correct values in url /v2, like this, but no repsonse in entities, subscr

[2020-09-21 17:16] chicco785 commented on #366
@joselopezfernandez so everything was working before the k8s update.... and now it is not, this weird.
my only guess is that by updating (are you using :latest ?) you updated your version of quantumleap to "latest" which does not have /v2/version path indeed and may need some more configuration parameters. (Never use as default image "latest" in prod it is not semantically versioned!!!)
If that's

[2020-09-21 18:49] joselopezfernandez commented on #366
Thanks @chicco785, I have tried using a previous version without success, it is easy to change, do you think that could be the error?

Do you know if there is a log file that I could check? Or the status of the service?
Regards.
Jose

[2020-09-22 06:18] chicco785 commented on #366
surely, there is ql log you can check, and see what's wrong

[2020-09-22 07:15] chicco785 commented on #366
the endpoint for health checks on the last version is "/health"

[2020-09-22 07:24] joselopezfernandez commented on #366
I have the same http 404 error in v2/health

I have accessed the tests directory of the container, and I try to execute the file and it gives me an error,
/bin/sh: ./test_integration.py: Permission denied

The directory has these files:
__init__.py          common.py            docker-compose.yml   notify-load-test.js  run_load_tests.sh    run_tests.sh         test_bc.py           test_integration

[2020-09-22 07:37] chicco785 commented on #366
clearly your image is "latest"

v2/health was moved to /health since 0.7.5 or 0.7.6. (as for /version)

did you try to open quantum leap logs? did you set them in debug mode?

tests works if you configure them properly. regardless, your error may mean that you have some restrictions on uid or whatever other security aspect forced by k8s.

[2020-09-22 07:49] joselopezfernandez commented on #366
Thanks @chicco785 , in /health I have the error:
{
  "details": {
    "crateDB": "cannot reach crate"
  },
  "status": "fail"
}

Sorry, I don't know how to see QL logs

[2020-09-22 08:15] chicco785 commented on #366
Kubectl logs-f qlpodname

So ql cannot reach crate, that’s your problem

[2020-09-22 11:27] joselopezfernandez commented on #366
Hi @chicco785, everything works again, as you intuited from the beginning, it was a failure with latest version in my configuration. Going back to 0.7.0 it works as before.

Thanks for your time.

[2020-09-22 12:02] #208 closed

[2020-09-22 12:03] c0c0n3 commented on #208
closed by #363

[2020-09-22 12:06] c0c0n3 commented on #362
fixed by #363

[2020-09-22 12:06] #362 closed

[2020-09-22 12:52] #366 closed

[2020-09-23 08:13] josselin-pierre opened #368 "Something went wrong with QL"
QuantumLeap used to work, but for some time now it returns `"Something went wrong with QL. Error: SQLActionException[SQLParseException: Invalid index name: mtdefault]"` when I try to access entity history.
QuantumLeap 0.7.6 with docker and docker-compose on debian 9.

**orion**
http://host:1026/v2/entities/test
`{
    "id": "test",
    "type": "test",
    "temperature": 19
}`

http://host:1026/v2/

[2020-09-23 08:42] c0c0n3 commented on #368
Hello @josselin-pierre, thanks for using QuantumLeap. The error trace hints at a problem with your Crate schema. Can you check if there's a schema called `mtdefault`? My guess is that all your entities where in that schema and at some point some other process or script dropped the schema? Or did you upgrade Crate skipping a major version?

[2020-09-23 08:46] c0c0n3 commented on #356
closed by #367.

[2020-09-23 08:46] #356 closed

[2020-09-23 09:06] josselin-pierre commented on #368
@c0c0n3 Thank for your reply, i'm using Crate 3.1.6 and I haven't upgraded it.
But i have probably upgraded quatum leap from 0.7.5 to latest.
Sorry but i am not familiar with crate, how can i connect to it to do a query ?

[2020-09-23 09:26] c0c0n3 commented on #368
Pleasure!

Okay, there could be a QuantumLeap backward compat issue but let's first try to rule out the obvious, i.e. making sure the schema is there. You should be able to just browse to the Crate admin console at `http://your-crate-host:4200`---assuming you deployed vanilla Crate without tweaking any config. From there you should be able to see what tables and schemas are in your DB.

[2020-09-23 09:57] josselin-pierre commented on #368
A graphical interface, better than expected!

Here are the existing tables in Crate :
![image](https://user-images.githubusercontent.com/71328058/93997181-64b7ac00-fd93-11ea-9f55-7f20c68f49e4.png)

There is indeed a table mtdefault.ettest :
![image](https://user-images.githubusercontent.com/71328058/93997296-89138880-fd93-11ea-862b-67d58e3ca4f3.png)

[2020-09-23 09:58] josselin-pierre commented on #368
Data are correctly saved in Crate :
![image](https://user-images.githubusercontent.com/71328058/93997824-1951cd80-fd94-11ea-99b3-76b33c13a5f3.png)

[2020-09-23 10:28] c0c0n3 opened #369 "Efficient entity deletion by ID"
### Is your feature request related to a problem? Please describe.
The entity delete endpoint (`/v2/entities/{entityId}`) lets you delete entity data by ID. It additionally takes an optional type parameter to determine which table the data to delete is in. This is in line with what Orion does, so it's a good thing to keep it the same, i.e. similar API spec. However, the implementation as it stands

[2020-09-24 06:21] c0c0n3 commented on #368
@josselin-pierre thanks for this. Is there any chance you could post here your docker compose file too? That'd help us debugging...

[2020-09-24 07:17] chicco785 commented on #368
@josselin-pierre i would revert to 0.7.5, i don't think - also by doc - we support anymore crate 3.1.6 with newer versions

[2020-09-24 07:27] josselin-pierre commented on #368
@c0c0n3 sure

.env
https://pastebin.com/vrTVu3AN

docker-compose.yml
https://pastebin.com/khmhR5Cp

@chicco785
I tried to revert QL to 0.7.5 but it still not working.
I also tried to upgrade Crate to 3.3.5, same problem.

But if it's a specific problem don't bother, I've deployed a new clean install of all modules and it's working again.
But this time with QL 0.7.6 and Crate 3.3.X and I froze vers

[2020-09-24 07:56] c0c0n3 commented on #368
Glad to hear that! Also I tried to reproduce myself using the docker compose file you posted above, but everything went smoothly, I could create a default tenant with test entities and then retrieve the entities through the API. If I had to guess, I'd say the backing Lucene index on  your old`/data` got corrupted, but have no idea how or why.

Since it doesn't look like there's anything we can do

[2020-09-24 07:56] #368 closed

[2020-09-24 10:43] profijoeln commented on #349
Hello, we have tried this load-test image (`smartsdk/quantumleap:load-test@sha256:edc18cfbcd77f7e0d1053e1db1d18fc5e48164303cbe2598b26883f4ce0562ef`) but with this image Orion CB receives a respond code 500 from quantumleap:

`time=Thursday 24 Sep 05:59:39 2020.408Z | lvl=WARN | corr=21db6118-fe2b-11ea-a73c-0242ac280018 | trans=1600858489-368-00000459742 | from=10.0.0.2 | srv=testqlnew | subsrv=<no

[2020-09-24 11:54] chicco785 commented on #349
@profijoeln we merged on master the wsgi support which should help with performance (assuming crate has enough resources to copy with that - in our tests performance bottle necks boils down to crate), the image you reference was very experimental and had some tweaks to cache in memory configuration queries, which is not ideal since it may generate concurrency issues. we still think that caching is

[2020-09-25 09:10] #347 closed

[2020-09-25 09:24] c0c0n3 commented on #347
@ilarimikkonen we just merged #365 into master with a fix for your issue. We also changed slightly the delete endpoint so that it won't drop tables by default---to avoid some race conditions, see #365 about it. To drop the table you'll have to explicitly add a query parameter `dropTable=true` to the URL you'd normally use to delete entities by type as in

    curl -X DELETE /v2/types/doomedDevice?

[2020-09-25 18:16] c0c0n3 commented on #353
@Siedlerchr PR #364 brought into master two new test cases to cover the scenario you detailed earlier. Both pass without a glitch, we'd like to dig deeper to see how come those queries didn't work for you but we'll need your help. If you could please post here:

1. Exact HTTP request (or curl command, or equivalent) you used to create a subscription in Orion.
2. Exact HTTP requests (or curl comman

[2020-09-25 20:31] Siedlerchr commented on #353
Thanks for the update, I will try to test it next week

[2020-09-28 11:46] ilarimikkonen commented on #347
sweet @c0c0n3 ! When do you think this will make it's way to a release?

[2020-09-28 13:25] c0c0n3 commented on #347
hi @ilarimikkonen, we're working on getting the Timescale backend on par with Crate which is possibly the last task before releasing `0.8`. If everything goes well, we should be able to release `0.8` towards the end of next week or the week after that. `0.8` will include this fix as well as a fully-fledged Timescale backend and Gunicorn support.

[2020-09-29 08:26] Siedlerchr commented on #353
I tested again today.
Same behaviour as last time. The previous QL version works fine.

From Postman doing the query manually without any params to check for data:
https://xxxx.inspireprojekt.de/v2/entities/urn:ngsi-ld:Device:Sensor35599?type=Device&lastN=100

[code]
Now with paramters toDate and fromDate and Z
(the format is equvialent/the same as the [Javascript Date.toIsoString()](https://devel

[2020-09-29 11:37] c0c0n3 commented on #353
@Siedlerchr thanks so much!!! we'll look into this...

[2020-09-29 19:46] chicco785 commented on #353
@Siedlerchr so you upgraded ql to 0.7.6, but you didn't upgrade crate to 4.x, correct? i think i found the problem in the query generator that produce a timestamp which is supported by crate 4.x but not by crate 3.x

[2020-09-29 20:57] chicco785 commented on #353
@Siedlerchr meanwhile that #371 makes to an official release, i backported the fix to 0.7.6, a new image should be available any time soon for you to test.

[2020-09-30 11:20] Siedlerchr commented on #353
@chicco785  Yes. we only updated the QL version docker version and not crate.  Happy to test the updated image.
When we upgrade QL and Crate to 4.x do we need to run any migration before or does QL do that?

[2020-09-30 11:33] chicco785 commented on #353
if you started with crate 3.x and you have 3.3.x running, no action is needed to run 4.0.x: https://crate.io/docs/crate/reference/en/4.2/appendices/release-notes/4.0.0.html#version-4-0-0-upgrade-notes

to run 4.2.x you would need to upgrade first to 4.0.x afaik. to be safe you should anyhow back your data: https://crate.io/a/backing-up-and-restoring-cratedb/

in somepoint you may need to run a tab

[2020-09-30 13:01] c0c0n3 opened #372 "Too broad exception clause in translator query method"
**Is your feature request related to a problem? Please describe.**
The query method of the SQL translator catches any exception thrown by the driver when executing the query which isn't optimal.

**Describe the solution you'd like**
Pick out relevant exception scenarios so that each error condition gets handled according to its cause and an informative message gets returned to the client.

**Descr

[2020-10-01 07:55] chicco785 commented on #337
@gboege following investigations, the issue is related to the usage of crate 3.x and fixed in #371, we back ported the fix to 0.7.6 as well.

* /v2/types without entityType is not a valid api call

so in 0.7.6 and latest the actual issue in your calls is related to:
* /v2/types/RideShareActivity/attrs/userDistanceKM-ALL + aggrMethod + aggrPeriod + fromDate + toDate

using crate 4.x would not have

[2020-10-02 19:57] chicco785 commented on #349
@profijoeln please have a look at PR #373 that should provide a more solid caching based on redis. i triggered also the public build of an image based on it with tag `smartsdk/quantumleap:redis-cache` to test it properly you would need redis, but beyond that, no specific configuration is needed.

despite that introducing redis generates of course some latency, thanks to other optimization on conne

[2020-10-05 10:46] profijoeln commented on #349
Hey @chicco785 !

Does your loadimpact test run for 60 seconds? Or do I misunderstand how this test works.

In our testing we have not limited CrateDB resources (or any component) and we have no indication of high resource use to begin with.  We have witnessed data-loss in longer tests like 24 hour tests of sending real data at speeds 60 msg/s. In OrionCB we check subscriptions to see that Orion h

[2020-10-05 12:39] chicco785 commented on #349
@profijoeln

the test runs for 60 seconds, plus 30 seconds of cool down.

vus are single clients
each client tries to send 100 updates in a row, as you can see in  `notify-load-test.js`

quantumleap has no queue itself, but https://gunicorn.org/ - the wsgi server has. so, till the ql process is not free it keeps up to 100 requests (or something like that), you should check in the gunicorn defaults

[2020-10-05 17:21] c0c0n3 opened #375 "Crate won't honour NGSI type when adding new column"
### Describe the bug
If QL receives an NGSI entity update with an attribute never seen before, the corresponding column will be created with an inferred type based on the attribute value. This inferred DB type may not be the same as the DB type corresponding to the attribute's NGSI type specified in the NGSI-to-SQL translation table. This issue only affects the Crate backend.

### To Reproduce
1.

[2020-10-05 17:34] c0c0n3 commented on #375
The problem here is that Crate dynamic columns are...a bit too dynamic :-)
In fact, w/r/t steps to reproduce above, when the entity gets notified for the first time (step 1), QL issues SQL similar to the following---omitting irrelevant details:

    create table if not exists t (a1 text) with (column_policy = 'dynamic');

Which results in `t` getting created with an `a1` column of type `text` and

[2020-10-06 07:18] c0c0n3 opened #376 "Enable Timescale equality geo queries"
### Is your feature request related to a problem? Please describe.
The Reporter always returns a `422` on receiving a geo query with an NGSI SLF `equals` operator---have a look at the `geo_query_handler` module. This is because geo queries were only supported by the Crate backend and a bug in Crate results in the `equals` operator not working properly---see #120 about it. As of PR #374 we've had a

[2020-10-06 08:21] c0c0n3 opened #377 "Update health endpoint"
### Is your feature request related to a problem? Please describe.
As of PR #374 we've had a fully functional Timescale backend but the health check is hardcoded to work with Crate only.
The health check should probably take into account Timescale too, since there may be cases where QL is configured to work with Timescale only.

### Describe the solution you'd like
Update the `health` endpoint to

[2020-10-06 08:35] c0c0n3 opened #378 "Rework Timescale Reporter tests"
This is just a reminder about tech debt from #374. The Reporter tests still need some love. At the moment there's a separate test suite for Timescale, but we could just have one test suite by adding Timescale to the existing Docker compose file and then route query tests to either backend using the existing service argument. This works for the query tests, for these other tests below we'll have to

[2020-10-06 09:58] daminichopra commented on #360
Hi @c0c0n3 @chicco785 , Please assign this issue to me. Thank you

[2020-10-06 19:16] chicco785 commented on #353
@Siedlerchr was the issue solved?

[2020-10-06 21:57] chicco785 commented on #349
@profijoeln
running 24h test on my laptop is probably out of question as you can imagine. still i have been doing few additional tests, with longer duration:

[code]

so, clearly hitting 105 req/s is not an issue on my mac (using docker with ql+redis+crate), which makes me think on a production server, you can get much more if needed.

still, as you can see what is not nice is the avg duration:
`a

[2020-10-08 06:38] Siedlerchr commented on #353
So the fix got backported to the 0.7.6 release? Then I will try to upgrade to it again.

[2020-10-08 07:08] chicco785 commented on #353
yes, check the hash to be sure you don't use an old cached version:
https://hub.docker.com/layers/smartsdk/quantumleap/0.7.6/images/sha256-4c1ee146dbcc959be0eb868f7e2ebebfada899be9f6ca38fb1ab40c68237cf77?context=repo

[2020-10-08 07:44] Siedlerchr commented on #353
Confirmed! Works now!

[2020-10-08 08:05] chicco785 commented on #353
lovely :)

On Thu, 8 Oct 2020 at 09:44, Christoph <notifications@github.com> wrote:

--
*Dr. FEDERICO MICHELE FACCA*
*CTO, Head of Martel Lab*
+41 788075838
*MARTEL INNOVATE* <https://www.martel-innovate.com/> - INNOVATION, WE MAKE
IT HAPPEN
Click *HERE* to download Martel reports and white papers!
<https://www.martel-innovate.com/premium-content/>
Follow us on *TWITTER* <https://twitter.com/Marte

[2020-10-08 08:11] #353 closed

[2020-10-08 08:11] chicco785 commented on #353
fix by #371

[2020-10-08 09:18] chicco785 commented on #337
@Siedlerchr in #371 confirmed that the issue related to `fromDate` and `toDate` with crate 3.x is solved. @gboege can we close?

[2020-10-08 09:20] gboege commented on #337
sure. let's close it.

[2020-10-08 09:20] #337 closed

[2020-10-15 19:39] mrproject06 opened #379 "docker container -" smartsdk/quantumleap " running in unhealthy state"
Docker container of image-  smartsdk/quantumleap latest tag is running in unhealthy state. Source of image : https://hub.docker.com/r/smartsdk/quantumleap

[2020-10-16 15:50] pinkerltm opened #381 "Notification not processed, Column __original_ngsi_entity__ unknown"
In our QL logs there is often the following entry:

[code]

Neither do we send any attribute called `__original_ngsi_entity__` in our payload nor did we define the etdevice table in crate ourselves. Mostly did I trust that QL will create a working schema on its own. We just defined primary keys afterwards to prohibit duplicates. The name of the missing column indicates that the sql translator trie

[2020-10-19 12:36] chicco785 commented on #381
@pinkerltm
it seems you are using `latest` which is not the stable release (which is still 0.7.6), anyhow ql should automatically add columns to crate (at least this is test up to crate 4.1.8) leveraging the column policy 'dynamic'.

by chance did you create/edit manually your table?

can you do "SHOW CREATE TABLE" on the related table?

[2020-10-19 14:48] chicco785 commented on #379
@mrproject06 can you:

1. provide your configuration?
2. report the outcome of curl -v http://qlhost:qlport/health

[2020-10-20 06:43] daminichopra commented on #369
Hi @c0c0n3 , Please assign this issue to me. Thank you

[2020-10-20 13:54] c0c0n3 opened #382 "Attribute text fallback is broken"
### Describe the bug
On receiving a notification with an entity having an attribute of unknown type, QuantumLeap fails to save the value's attribute as text.

### To Reproduce

[code]

results in the following being stored in Crate

    errorNumber: 2
    refVacuumPump: null
    refOutgoingPallet: [ "urn:ngsi-ld:Pallet:0003", "urn:ngsi-ld:Pallet:0004" ]

### Expected behavior
The `refVacuumPump` v

[2020-10-20 15:51] c0c0n3 opened #383 "Support Relationship attribute type"
### Is your feature request related to a problem? Please describe.
The `Relationship` attribute type is not officially part of the NGSI v2 spec but is nonetheless widely used by FiWare applications in practice. QuantumLeap does not include this type in its NGSI-to-SQL translation map.

### Describe the solution you'd like
Add the `Relationship` type to the NGSI-to-SQL map and save `Relationship` a

[2020-10-21 08:13] chicco785 commented on #381
@pinkerltm any feedback?

[2020-10-26 12:08] chicco785 opened #386 "support mismatch between DateTime (as medatata) and column type"
**Is your feature request related to a problem? Please describe.**

If something went wrong (usually due to crate dynamic columns) in the column typing w.r.t. the actual metadata type DateTime defined for a column, QL bombs.

**Describe the solution you'd like**
It would be better to just print out the value and raise a warning.

**Describe alternatives you've considered**
Fixing manually the colu

[2020-10-27 12:28] c0c0n3 commented on #386
closed by #387

[2020-10-27 12:28] #386 closed

[2020-10-27 12:37] c0c0n3 commented on #369
Hi @daminichopra, thanks for offering, I've just assigned this issue to you.

[2020-10-27 12:39] c0c0n3 commented on #360
@daminichopra done!

[2020-10-27 14:36] c0c0n3 opened #388 "Apply for CII Best Practices Badge"
As a FiWare GA, QL has to get a [CII Badge](https://bestpractices.coreinfrastructure.org/en)---see Jason's email about it, subject: *[Fiware-technical-committee] Applying for CII Best Practices Badge.*

I tried creating an account three times, but I never got the confirmation email from CII with the activation link. @chicco785 if you could please try creating an account with

Account Name: Martel

[2020-10-27 14:42] c0c0n3 opened #389 "Enforce FiWare Contributors License Agreement."
According to FiWare tech committee's recent decision, we'll have contributors sign a CLA. See Jason's email, subject: *[Fiware-technical-committee] Project Harmony - adopting and enforcing a CLA.* for what needs to happen and how to automate it with GH actions.

[2020-10-27 15:43] c0c0n3 commented on #381
@pinkerltm thanks for reporting this :-)

QL adds that automatically since #335---have a look at that PR for details of what that column is and what is for.

...and you guessed it right, Sir :-)

In general, I'd advise you against changing QL generated tables in any way since it could result in all sorts of wonderful and mysterious errors if e.g. the table definition gets out of sync w/r/t entity

[2020-10-28 09:45] c0c0n3 commented on #360
Notice PR #380 added a section to the user manual to explain how to run & configure with essential security settings.

[2020-10-28 10:46] daminichopra commented on #369
Hi @c0c0n3 , In orion `DELETE` Api support optional parameter `type` with `/v2/entities/{entityId}` in order to delete record from table.
The same thing we need to support for `DELETE` Api in Quantum leap with additional parameter as `type` with `/v2/entities/{entityId}` . Please confirm the understanding.

[2020-10-28 12:29] c0c0n3 commented on #369
Hi @daminichopra

Correct :-)

Actually, the delete endpoint already accepts a `type` param. And if you use pass it in, you'll see it does what it says on the tin. Ditto if you don't specify a `type` param. Then what's the problem? The problem is that we'd like to come up with a more efficient implementation (i.e. an algorithm with better time complexity) in the case no `type` param is given. In f

[2020-10-28 12:40] c0c0n3 commented on #324
closed by #374.

[2020-10-28 12:40] #324 closed

[2020-10-28 13:01] chicco785 commented on #369
problem may be solved leveraging on #373

let's wait for that to be finalised

[2020-10-28 14:07] chicco785 commented on #388
@c0c0n3 why not using the github account? https://bestpractices.coreinfrastructure.org/en/login

[2020-10-28 14:15] c0c0n3 commented on #388
badge owner should be martel, not c0c0n3?

[2020-10-28 14:20] chicco785 commented on #388
then also my email is not good, right?

[2020-10-28 15:44] c0c0n3 commented on #388
yea, ideally we'd use an admin-like email, e.g. admin@martel-innovate.com, if we do have one. i tried with mine@martel-innovate.com i.e. a tried to create an account in martel's name but with my email address as contact. the problem i had is that the account got created (and i can log in!) but it still isn't active since i never got the activation email in my martel inbox, so i thought there might

[2020-10-28 15:53] chicco785 commented on #388
no activation link arrived so far

[2020-10-28 16:03] chicco785 commented on #388
arrived now

[2020-10-28 16:26] c0c0n3 commented on #388
awesome, thanks alot. i'll take it from here. also i've found an email address we could use: info@orchestracities.com? if any of us gets emails there i could replace your email with orchestra's...

[2020-10-29 06:08] daminichopra commented on #369
@chicco785 , Ok then i will stop working on this issue as of now. Thanks

[2020-11-02 06:31] daminichopra commented on #382
Hi @c0c0n3 , Please assign this issue to me. Thank you

[2020-11-04 13:27] pinkerltm commented on #381
@chicco785 @c0c0n3 my apologies for the long delay ...had another project which claimed all my attention recently, I guess you are aware of such situations.

As stated above, we rely on QL to create the table, and I just altered it to have a primary key to keep it clean of duplicates. We are really struggling to not lose any measurements/state changes, therefore we collect them in Kafka (as an que

[2020-11-04 13:39] pinkerltm commented on #381
@c0c0n3 ok, if I understand all that right, I think the best approach for our scenario is to alter the type my `__original_ngsi_entity__` column to object. That way I would be able to recognize if any (!) failures happen during insert and will have a greater chance to not loose any data due to schema changes for example.

P.S. sorry, giving up the primary key/duplicate prevention is not really an

[2020-11-04 18:07] c0c0n3 commented on #375
so the bottom line is that our current insert strategy for adding new columns

    create table T if not exists ( ... new_colum MAPPED_TYPE ...)
    insert into T (...new_column...) values (... new_column_value ...)

is flawed since it will always result in Crate ignoring the first statement and then inferring `new_column`'s type based on the `new_column_value` given in the insert. Probably we sho

[2020-11-04 18:14] c0c0n3 commented on #344
Here are another couple of things to keep in mind:

* Because of #375, when upgrading from QL `0.7.5` to `0.7.6`, the `__original_ngsi_entity__` might be added with a `text` type instead of `object`---haven't tested this scenario, but we should.
* There may be cases where you don't want to save the original data at all, even on an insert error. For example, #381 would be less of a pain to @pinkerl

[2020-11-04 19:52] c0c0n3 commented on #381
@pinkerltm, thank you for getting back to us, no need to apologise! :-)

So I think I've got to the bottom of this. I've posted below detailed explanations but here's the take-home:

1. You can have a PK constraint on any table created by QL since it doesn't interfere with QL's normal operation.
2. QL creates tables with a column policy of `dynamic`. You can't make it `strict` like you have it at

[2020-11-05 18:11] c0c0n3 commented on #388
filling out the form was a bit of a schlep but it's done and dusted now. bage linked to readme too, see 1b525f1.

[2020-11-05 18:11] #388 closed

[2020-11-08 19:42] DerLinne opened #391 "Run TimescaleDB only"
**Is your feature request related to a problem? Please describe.**
We like to run QL with a TimescaleDB only Backend without Crate. Currently this seems to be not possible. When configuring only the TSDB Environment Parameters and setting the default backend to „timescale“ in the Quantum Leap Configuration, Crate is use additionally. Notifications fail in this case because Crate is tried to reach

[2020-11-08 22:59] DerLinne commented on #391
In the meantime I figured out, that Timescale is only useable for other Clients than default. So now it is running, but the documentation does not really explain how:

Examples:
- Wrong environment variables names in the documentation (PG instead of POSTGRES_DB as prefix)
- Missing environment variables names in the documentation (LOGLEVEL)
- Missleading Environment Variables Names (QL_DEFAULT_DB)

[2020-11-09 09:25] ilarimikkonen opened #392 "Supplying altitude in Location causes ColumnValidationException or does not arrive at all"
**Describe the bug**
Supplying altitude in Location causes ColumnValidationException. Example from Crash:

[code]

from QL logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a sub from Orion to QL
2. Send data to Orion. Payload example:

[code]

**Expected behavior**
Elevation is inserted or Documentation is updated stating that Elevation cannot be used.

**Environment (ple

[2020-11-09 10:24] chicco785 commented on #392
@ilarimikkonen cratedb does not support 3d coordinates, as the error in the log states:

[code]

[2020-11-10 08:40] c0c0n3 commented on #392
Yep, that's a sore point. Generally speaking, I feel we haven't done a good job about spec'ing what's an "acceptable" input, e.g. in your case, like you rightly point out, there should be a some kind of description of what types the `notify` endpoint can digest. To be fair tough, I think this is part of a broader problem with NGSI v2 which defines a generic data model of sorts (entity/attrs) that

[2020-11-10 09:12] c0c0n3 commented on #391
@DerLinne thank you for getting in touch!

You should be able to do that with a YAML config file where you set `default-backend: Timescale`, details over here:

- https://quantumleap.readthedocs.io/en/latest/admin/configuration/

Well, we do have one called `QL_DEFAULT_DB` but we've only been using that internally since it may change in the future when we consolidate configuration. Feel free to us

[2020-11-10 10:04] chicco785 commented on #391
@DerLinne can you let us know which documentation you are referring to? probably there is some old pointer around... as reported by @c0c0n3 the only missing documented variable is `QL_DEFAULT_DB` which is not official yet, and all other elements are included and up-to-date

[2020-11-11 16:00] chicco785 commented on #392
Documentation actually provides this information in relation to CrateDB:
https://quantumleap.readthedocs.io/en/latest/admin/crate/

[2020-11-11 16:01] chicco785 commented on #392
@ilarimikkonen given that the crate limitation is actually documented, anything else you expect from us?

[2020-11-11 16:09] chicco785 commented on #381
@pinkerltm i suppose we can close the issue given that `ColumnUnknownException: Column __original_ngsi_entity__ unknown` is caused by  hacking of tables and not a QL bug.

[2020-11-11 16:18] ilarimikkonen commented on #392
nope, this is perfect. Thanks!

[2020-11-11 16:18] #392 closed

[2020-11-11 18:29] c0c0n3 commented on #392
The point I was trying to make is that **we** don't but also have no easy way of doing it :-)

Our spec basically says anything with an entity ID and type can be shovelled down the `notify` endpoint which isn't true as @ilarimikkonen has learnt the hard way :-) Now you could say, well you can pass in whatever you like as long as the record `r` resulting from QL transforming the input JSON `e` into

[2020-11-12 17:25] c0c0n3 opened #393 "Can't connect to Timescale over SSL"
### Describe the bug
QuantumLeap bombs out when attempting to connect to Timescale over SSL. Here's the stack trace from the logs (irrelevant lines omitted):

[code]

### To Reproduce
Configure QuantumLeap to use the Timescale backend for a tenant named "vecciano" and set the `POSTGRES_USE_SSL` env var to `true`. Then run:

[code]
You should get a nasty `500` back and if you look at the logs, you

[2020-11-13 08:55] c0c0n3 commented on #393
Ideally, we should add some QL/Timescale integration tests where we test SSL connections. Timescale container set up should be similar to what we already have in the `timescale-container/test` dir, see:

- https://github.com/smartsdk/ngsi-timeseries-api/blob/master/timescale-container/test/docker-compose.yml
- https://github.com/smartsdk/ngsi-timeseries-api/blob/master/timescale-container/test/pg-

[2020-11-16 12:44] c0c0n3 commented on #383
### NGSI-LD
During Nov 2020's FiWare TSC, we got a confirmation that NGSI-LD does **not** really support a temporal model w/r/t entity graphs. According to the TSC, all we need to do to claim QL supports the NGSI-LD temporal entity/relationship model is to store entity references as plain NGSI text attributes just like this issues suggests to do for the `Relationship` type of NGSI-v2.

So implemen

[2020-11-16 12:45] c0c0n3 commented on #154
See also: #383

[2020-11-16 12:55] c0c0n3 opened #394 "Test integration with Orion-LD"
### Is your feature request related to a problem? Please describe
Ken from FiWare implemented an backward compat patch for Orion-LD that will let NGSI-v2 clients subscribe for NGSI-LD entity changes and get notified of any changes through an NGSI-v2 payload. In principle, this patch should make QL usable with Orion-LD right now, without having to wait for a full blown NGSI-LD implementation. FiWar

[2020-11-16 15:24] kzangeli commented on #394
As mentioned, Orion-LD implements "cross-notifications" in NGSIv2 format for NGSI-LD subscriptions.
Check out [this doc](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.03.01_60/gs_CIM009v010301p.pdf) for a full explanation of the NGSi-LD API, subscriptions being a part of that spec.

This is how a simple subscription can look in NGSI-LD:
[code]
As you can see, the notification::format fie

[2020-11-16 16:05] pinkerltm commented on #381
@chicco785 wasn't able to verify it yet, but with the great explanation I should be able to fix it. Thanks a lot

[2020-11-16 16:05] #381 closed

[2020-11-16 16:25] chicco785 commented on #381
@pinkerltm fyi in PR#373 we are changing columns default from dynamic to strict and manage the add of columns in ql, which would avoid any issue, when it's released. it may be experimental for a while though, due to the fact of quite some changes we introduced, and that may need additional testing. these are all updates coming:
* implement basic redis cache for metadata (reducing query to database

[2020-11-17 08:37] c0c0n3 commented on #394
@kzangeli awesome, thanks for this, that's exactly the kind of info we needed. I reckon we should be able to give it a shot. We'll let you know how it goes...

[2020-11-17 11:21] #379 closed

[2020-11-17 11:22] #211 closed

[2020-11-18 12:24] chicco785 opened #395 "NGSI-LD TemporalProperty support"
As reported by @kzangeli:

There's actually a fourth type of attribute/property - TemporalProperty, but that is kind of hidden.
Users aren't allowed to create a property of the type "TemporalProperty", but there is one "timestamp" that can be set by users.

NGSI-LD admits three different Temporal Properties:
* modifiedAt
* crateadAt
* observedAt

The two first are builtins, set by the broker and o

[2020-11-18 12:25] chicco785 opened #396 "NGSI-LD "LanguageProperty" and "VocabProperty" attributes support"
Attributes in NGSI-LD (at least right now) can have only three values in their type:
* Property
* Relationship
* GeoProperty

[ Two new attribute types are on their way: "LanguageProperty" and "VocabProperty", but those two are still under discussion in ETSI ISG CIM, so, never mind for now ]

A "Property" attribute has a "value" that can be of any JSON type.
A "Relationship" attribute has an "obje

[2020-11-18 12:27] chicco785 opened #397 "Replace "borg" connection manager with thread safe db pool"
Pools are not offered in the basic driver of crate and psql. It would be good to explore a proper db pool.

_Originally posted by @chicco785 in https://github.com/smartsdk/ngsi-timeseries-api/pull/373#discussion_r521366412_

[2020-11-18 12:51] chicco785 opened #398 "Complete NGSI-LD backward and forward support"
**Is your feature request related to a problem? Please describe.**
PR #373 allows not to inject NGSI-LD using the existing NGSIv2 endpoint.

Still the following limitations apply:
* temporal attributes are not supported (#395) - what is relevant here is that this attributes are used to create the time index of the series
* other attributes may be added as well in future (not a priority probably, m

[2020-11-18 12:53] #222 closed

[2020-11-18 13:00] chicco785 opened #399 "Investigate FastAPI as alternative to FLASK"
**Is your feature request related to a problem? Please describe.**
Flask seems to be part of the "bottleneck" during injection.

**Describe the solution you'd like**
Would be good to test FLASK replacements as FASTAPI: https://fastapi.tiangolo.com/

**Describe alternatives you've considered**
Increase cpus used on prod machines :)

[2020-11-18 13:01] #10 closed

[2020-11-18 13:01] #12 closed

[2020-11-18 13:02] #17 closed

[2020-11-18 13:02] #16 closed

[2020-11-18 13:03] #43 closed

[2020-11-18 13:04] #22 closed

[2020-11-18 13:04] #33 closed

[2020-11-18 13:05] #64 closed

[2020-11-18 13:05] #78 closed

[2020-11-18 13:06] #97 closed

[2020-11-18 13:12] #186 closed

[2020-11-18 13:15] #155 closed

[2020-11-18 13:15] #188 closed

[2020-11-18 13:20] #233 closed

[2020-11-18 13:21] #232 closed

[2020-11-18 13:21] #227 closed

[2020-11-18 13:22] #270 closed

[2020-11-18 13:26] #320 closed

[2020-11-18 13:26] #321 closed

[2020-11-18 13:28] chicco785 commented on #339
There was no follow-up, so we close this issue.

[2020-11-18 13:28] #339 closed

[2020-11-18 14:35] amotl commented on #306
Dear @c0c0n3 and @chicco785,

thanks for tracking this. I just wanted to quickly take the chance to get back to you and leave a remark that https://github.com/crate/crate/issues/9854 has been fixed since CrateDB 4.2.0.

Somehow related to https://github.com/smartsdk/ngsi-timeseries-api/issues/157, you might want to consider upgrading to CrateDB 4.3.1, which is the current release. Also, I would li

[2020-11-18 14:43] chicco785 commented on #306
thx @amotl we will surely look into that!

[2020-11-19 09:34] c0c0n3 commented on #398
### Notes
* This issue supplants #154. Close that issue too when merging the PR implementing the current issue.
* For additional context look at the discussion about NGSI-LD on #373, e.g. [this thread](https://github.com/smartsdk/ngsi-timeseries-api/pull/373#discussion_r524401935).
* NGSI-LD does not really support a temporal model w/r/t entity graphs, so to claim QL implements the NGSI-LD entity

[2020-11-19 10:04] chicco785 commented on #382
this should be fixed by #373

[2020-11-19 10:04] #382 closed

[2020-11-19 10:04] chicco785 commented on #383
this should be fixed by #373

[2020-11-19 10:05] c0c0n3 commented on #306
Dear @amotl,

Thank you very much for notifying us of the fix. At the moment we're using Crate `4.1.8` in our production environments, but
as @chicco785 pointed out we will definitely put some thought into upgrading to `4.3.2`. On this note, it seems Crate has quite fast-paced development cycles, so I was wondering if you recommend upgrading frequently (because e.g. a 3 month development cycle usu

[2020-11-19 10:08] #383 closed

[2020-11-20 10:46] chicco785 opened #401 "Community feedback before release 0.8"
Dear All,
before officially releasing 0.8, we would like to get your feedback on the pre-release (check https://github.com/smartsdk/ngsi-timeseries-api/releases/tag/0.8-alpha), that provides a number of interesting new features and bug fixes, including initial support for NGSI-LD.

PR #373 introduced basic support for NGSI-LD relying on v2 API. In short this means that using the current endpoint Q

[2020-11-20 13:34] amotl commented on #306
Dear @c0c0n3 and @chicco785,

thanks for asking. I would definitively recommend to upgrade more regularly. We are always fixing bugs and bringing in improvements on different levels. I will be happy to work closer together with you on this matter and beyond.

I haven't looked into the test harness implementation of `ngsi-timeseries-api` thoroughly, but if essential things are covered there, trying

[2020-11-20 18:07] c0c0n3 commented on #306
Hi @amotl, hope you won't mind me keeping the conversation informal going forward, it feels like we made a new friend :-)

Noted, thanks!!

Well, that's the theory. Practice can be a bumpy road sometimes. To be fair, Crate has fairly good, well-documented upgrade paths and most of the time upgrading is a smooth ride. But from time to time we got ourselves into trouble with prod clusters---e.g. las

[2020-11-23 07:47] daminichopra commented on #382
Hi @c0c0n3 @chicco785 , I have fixed this issue. Shall i raise PR or its already fixed as mentioned [here](https://github.com/smartsdk/ngsi-timeseries-api/issues/382#issuecomment-730264721)

[2020-11-23 08:02] ilarimikkonen commented on #401
hi, more than happy to give feedback. Which Crate version would you recommend to use? and which version of Redis? We had done some initial tests with redis-cache image and the results were pretty good. When we have time, we do some load tests.

[2020-11-23 08:17] chicco785 commented on #382
@daminichopra i think it's fixed, but of course if you can test and confirm would be great :)

[2020-11-23 08:20] chicco785 commented on #401
@ilarimikkonen crate 4.1.4 is the base version used in the tests. We may do a version upgrade, but probably only after the release of 0.8. Redis we are using the last version: 6.0.9 (probably would be better to fix it)

[2020-11-23 20:32] DerLinne commented on #391
Hi!

Sorry for the late reply - I did not manage to answer ealier.

I think I started from here: https://quantumleap.readthedocs.io/en/latest/admin/timescale/. The variables are fixed there.

But for example I did not find a mention of the DEBUG ENV-Variable - but I found it in the code.

Last topic:

Yes I configured the default-backend: Timescale. I think this works If you specify any Fiware-Ser

[2020-11-24 17:40] c0c0n3 opened #404 "Can't use Timescale as default backend without setting QL_DEFAULT_DB"
### Describe the bug
Configuring a default backend of `Timescale` in the QL config YAML file has no effect. When an HTTP request comes in with a tenant (`fiware-service` header) not in the config file, the selected backend always ends up being `Crate`. (In particular this is the case when the request has no `fiware-service` header or its value is the empty string.) The only way to make QL use `Tim

[2020-11-24 17:48] c0c0n3 commented on #404
@DerLinne originally reported the issue, see #391. (Thanks @DerLinne!) Since we got a bit side-tracked talking about documentation over there (#391), I opened this new issue to help stay focussed and to add some more detail from my debugging session.

[2020-11-24 17:55] c0c0n3 commented on #391
Hi @DerLinne :-)

No need to apologise :-)

There's a `LOGLEVEL` env var (I think this is what you bumped into?) but it's documented one level up from the Timescale section you were looking at initially:

* https://quantumleap.readthedocs.io/en/latest/admin/configuration/

`admin/configuration/` lists every env var known to man, whereas the Timescale section documents in more detail those specific

[2020-11-25 09:12] DerLinne commented on #391
Yes, thats ok for me - thanks!

[2020-11-25 09:16] ilarimikkonen commented on #401
@chicco785 few initial questions/observations:

In our initial tests (with `redis-cache` ) we got the following results on last run:
Setup: 100 000 messages approx. 300 messages / sec.
Messages send to Orion and then with a sub to QL. Running on Kubernetes.
There was ~50% message loss with one QL and ~20% with five.
- Is 0.8 and redis-cache image any different in performance wise?
- Could you desc

[2020-11-25 10:01] #391 closed

[2020-11-25 10:26] c0c0n3 commented on #389
closed by #390

[2020-11-25 10:26] #389 closed

[2020-11-25 12:28] chicco785 commented on #401
A bit of documentation is here:
* https://quantumleap.readthedocs.io/en/latest/#cache-back-end
You can find also tests here:
* https://quantumleap.readthedocs.io/en/latest/admin/benchmarks/

I don't think there are difference between the two images in term of performance. In short, as of today, redis is used to avoid to read every time from the db the metadata, which showed to slow down a lot inse

[2020-11-25 13:32] c0c0n3 commented on #399
So I did some preliminary profiling out of curiosity on QL 0.8 (alpha) + Redis cache. The data I collected seem to hint that QL spends most of its time doing network I/O. Not a surprise really, but it doesn't look like Flask/Connexion are actually to blame, rather we should look into reducing what triggers that much network I/O in QL---well, we kinda know :-)

Please take this with a pinch of a sa

[2020-11-25 13:33] c0c0n3 commented on #349
So I've done some preliminary profiling, see https://github.com/smartsdk/ngsi-timeseries-api/issues/399#issuecomment-733708372

[2020-11-25 13:36] c0c0n3 commented on #401
It looks like we spend the rest of the time doing network I/O---web server isn't necessarily at fault here. See https://github.com/smartsdk/ngsi-timeseries-api/issues/399#issuecomment-733708372

[2020-11-25 13:44] chicco785 commented on #399
@c0c0n3
who is calling `select.select`?

in my test, i profiled the time to do a **translation** and the time inside the **translation** to query the backend. this reported in avg a 80msec for the translation and 50msec for the query. this to me means that any latency is around the translation. Now given that in our code there is not much around it, I supposed it to be external. But of course I ma

[2020-11-25 13:51] c0c0n3 commented on #399
Us? It's the low level network I/O call to read/write to sockets... To be honest it seems a bit too much, perhaps that figure includes the time the web server is idle on the select waiting for input on a connection. Didn't have time to dig deeper.

How did you measure that?

So could I. We should keep our options open at this stage and look in every direction I guess.

[2020-11-26 11:09] daminichopra commented on #396
Hi @chicco785 , I would like to confirm whether we need to support `LanguageProperty` and  `VocabProperty` as two new `NGSI_TYPE` format in Quantum Leap and if my understanding of above issue is correct then i would like to work on this issue. Thank you

[2020-11-26 12:01] kzangeli commented on #396
LanguageProperty will soon be incorporated into the NGSI-LD spec (in v1.4.1 planned for end of December - public end of January).
VocabProperty will not be in v1.4.1 - the next release of the API might come in March-April, but I can't promise that VocabProperty will even be part of that release ...

That's one thing - the spec.
Another thing is that there is no NGSI-LD broker implementing neither

[2020-11-26 14:22] amotl commented on #306
Dear @c0c0n3,

thanks for your kind words and sorry to hear about the hassle you had with your production cluster. So, you made the transition to CrateDB 4.x successfully now? If so, the road should be paved for further upgrades but I see that you might be hesitant on this as you are aligning the development head with the actual infrastructure you are running on production, right?

Thanks also for

[2020-11-30 10:49] c0c0n3 commented on #306
Hello @amotl !

yep, we're on version `4.1.8` at the moment.

Pretty much. We strive to implement features that could be useful to others too as much as we can, but at the end of the day our eensy-weensy budget rules out pretty much anything that isn't readily exploitable by our clients.

Thanks! These days sketching apps on tablets got so good that even a monkey like me can whip together decent l

[2020-11-30 13:07] #341 closed

[2020-12-02 09:55] chicco785 commented on #378
#403 should fix all issues but:
* `test_geo*` (only equality test): see #376 about it.
* `test_health`: see #377 about it.

[2020-12-02 09:57] chicco785 commented on #375
this should be fix as well by #373

[2020-12-02 10:04] chicco785 commented on #344
maybe a good idea is to make `value` as string in crate

[2020-12-02 15:08] chicco785 opened #406 "Make dropTable more "robust""
https://github.com/smartsdk/ngsi-timeseries-api/blob/57f721f74610028bd658eb7b2f45bfbe6d415957/src/reporter/delete.py#L37-L40

At the time being, this would drop the full table even if you specify just a servicePath, so as result you may delete data you didn't want to delete...

[2020-12-03 09:04] c0c0n3 opened #407 "Upgrade Postgres driver"
**Is your feature request related to a problem? Please describe.**
Starting from version `1.16.6`, `pg8000` has dropped the `PGJsonb` class. This breaks the Timescale translator so we pinned the `pg8000` version in the Pipfile to `1.16.5`---the last version to ship with the `PGJsonb` class. Also, `pg8000` doesn't come with connection pooling.

**Describe the solution you'd like**
See how difficult

[2020-12-03 09:23] chicco785 commented on #407
https://eventlet.net/doc/modules/db_pool.html

[2020-12-03 09:28] chicco785 commented on #407
https://docs.sqlalchemy.org/en/13/core/pooling.html

[2020-12-03 09:50] chicco785 opened #408 "increase coverage"
**Is your feature request related to a problem? Please describe.**

Coverage is around 70%, looking on coverall looks like reporter.py and friends are not hit!
Reason is that reporter tests are done via docker, so they are not covered.

**Describe the solution you'd like**

Have coverage to get data also from reporter and friends, probably this can work by
running pytest from the container itself

[2020-12-03 10:13] c0c0n3 commented on #378
@chicco785 I'm closing this issue since like you said your PR fixed basically everything and for the rest we already have issues to remind us what to do.

[2020-12-03 10:13] #378 closed

[2020-12-03 20:43] amotl commented on #407
Dear @c0c0n3 and @chicco785,

on this matter, and maybe also related to #397 as well as https://github.com/crate/crate-python/issues/393, I would like to encourage you to use `psycopg2` instead of `pg8000`. At https://github.com/crate/crate-operator/issues/117#issuecomment-730337874, I've investigated the situation about connection pooling:

When looking at implementations for asyncio and friends,

[2020-12-04 08:33] c0c0n3 commented on #407
@amotl excellent, thank you so much for this, very valuable info indeed.

Do you know by any chance what the Crate client does w/r/t connection pooling? We're using the HTTP client, so perhaps connection pooling gets delegated to `urllib3`? Well, that's what I thought, but I've never actually verified it. Also, is this the best client to use? Since Crate supports the Postgres wire protocol, in pri

[2020-12-04 09:17] seut opened #409 "Clarification on CrateDB resiliency and wait_for_active_shards = 1"
@chicco785 As the related PR #384 is already closed and locked (sorry for the delay), I'd like answer your (still open?) questions about CrateDB's resiliency, in detail about `wait_for_active_shards = 1`, here.

The `wait_for_active_shards` value only affects table (or partition) creation and is not (directly) affecting writes.
In case of a partitioned table, new partitions are created on-fly taki

[2020-12-04 09:42] c0c0n3 commented on #409
@seut wow, thank you so much for the detailed explanation, you're a superstar :-)

just a couple of questions if you still have time to spend on this. I haven't had the time to eyeball the reference docs you mentioned, if the answer to my questions is there, don't bother replying w/ a detailed answer, I'll look it up myself :-)

What's the fate of records `r[m+1], ..., r[n]` in this case? Will the

[2020-12-04 10:48] amotl commented on #407
Dear @c0c0n3,

Exactly. I've shared some thoughts about this at https://github.com/crate/crate-python/issues/393#issuecomment-738147528, coming from a question by @chicco785.

That's true. CrateDB support for the PostgreSQL wire protocol is there [1] and we are continuously working on improving on the SQL syntax side and other details in this regard which happen on top of the wire protocol.

With

[2020-12-04 11:05] seut commented on #409
@c0c0n3
I was wrong in my description, apologize. I've updated my original comment to avoid confusions instead of adding a correction. This updated description should clarify your open questions.

[2020-12-04 11:08] amotl commented on #407
P.S.: As I've learned you might be looking into SQLAlchemy: Because of the document-oriented features of CrateDB and probably other details, the integration with SQLAlchemy needs a CrateDB SQLAlchemy dialect. I've just created https://github.com/crate/crate-python/issues/394 for exploring the aspect of using it together with `psycopg2`.

Regarding your comments at:
https://github.com/smartsdk/ngsi

[2020-12-04 13:05] c0c0n3 commented on #409
@seut no need to apologise! and thank you a stack for the update, that answers all my questions!

[2020-12-04 13:13] c0c0n3 commented on #407
@amotl thank you so much for the update! sorry i missed crate/crate-python#391. you're giving us a lot of very valuable feedback and advice, we're really grateful for that. also im very excited about recent development on the sql alchemy front, good stuff!!

[2020-12-04 14:28] amotl commented on #253
Hi there,

even when coming late to this, I would like to add that swapping can be avoided for CrateDB by configuring `bootstrap.memory_lock: true`, see also [1]. But still, @chicco785 is right - a good starting point for the heap space is 25% of the system memory.

With kind regards,
Andreas.

[1] https://crate.io/docs/crate/howtos/en/latest/performance/memory.html#swap

[2020-12-08 10:47] #404 closed

[2020-12-08 14:38] c0c0n3 opened #410 "Optimise Gunicorn config for Docker image"
### Is your feature request related to a problem? Please describe.
It looks like there's a couple of things we should do when running Gunicorn inside a Docker container:

- https://pythonspeed.com/articles/gunicorn-in-docker/

It'd be nice to at least make sure the worker's temp dir is on a `tempfs`.

### Describe the solution you'd like
Make the worker's temp dir point to `/dev/shm`. One way of d

[2020-12-11 21:21] chicco785 commented on #394
@kzangeli we included a simple integration experiment:
https://github.com/smartsdk/ngsi-timeseries-api/tree/master/experiments/ngsi-ld

of course it's dumb simple, but no issue :)

[2020-12-12 15:40] kzangeli commented on #394
No issue, that's good! :)
Anytime you *have* an issue, I'll be happy to work with you to resolve whatever problem occurs.

Now, I need to warn you, in case you are working on *latest* of Orion-LD ...
The "format of the format" :) has changed (about a week ago):

The value that _used to be_ **NGSIv2-Normalized** has been replaced by 4 different values (plus one alias ' x-ngsiv2'):
* x-ngsiv2-normal

[2020-12-14 08:12] chicco785 commented on #409
@seut thanks, we will add this information in the faqs

[2020-12-24 11:43] c0c0n3 opened #415 "Consider replacing K6 with Vegeta"
### Is your feature request related to a problem? Please describe.
Our notify benchmark currently uses K6. It looks like [Vegeta](https://github.com/tsenart/vegeta) could be a better option for what we'd like to do.

### Describe the solution you'd like
Reimplement the notify load test with Vegeta instead of K6. Get rid of K6 stuff in `src/tests` and `src/tests/benchmark`. Update benchmark section

[2020-12-24 12:04] c0c0n3 opened #416 "Notification loss under heavy load"
### Describe the bug
While hammering QuantumLeap with an ungodly amount of concurrent `POST`s to the `notify` endpoint, about 4% of the posted entities didn't make it to the DB.

### To Reproduce

    $ source setup_dev_env.sh
    $ cd src/tests/benchmark

Edit `notify-load-test.sh` to comment out the `docker-compose down` statement, then run the script

    $ ./notify-load-test.sh

The script wil

[2020-12-24 12:09] c0c0n3 commented on #399
Now we've got a more accurate way to do gauge framework overhead and overall throughput. See:

- https://github.com/smartsdk/ngsi-timeseries-api/wiki/Gauging-Performance

Bottom line:

- https://github.com/smartsdk/ngsi-timeseries-api/wiki/Gauging-Performance#sum-up

[2021-01-13 14:05] SBlechmann opened #417 "Maximum of query limit parameter 10.000?"
**Describe the bug**
When querying QL's API, e.g. an attribute of an entity:
According to the docs (well, I refer to [these](https://app.swaggerhub.com/apis/heikkilv/quantumleap-api/0.7.5) since the link in the docs doesn't seem to work) the limit parameter can be set to limit the output. The default value is 10.000.
So far so good, if I query without any query paramter I get up to 10.000 values,

[2021-01-13 15:12] c0c0n3 commented on #417
Hello @SBlechmann, thanks for using QuantumLeap :-)

Did you try using the `offset` parameter? In principle you should be able to paginate results, so that you can fetch e.g. pages of 10,000 results at a time as in:

    ...? offset=0     & limit=10000 ...      # fetch the first 10,000 query results
    ...? offset=10001 & limit=20000 ...      # fetch the next 10,000
    ...

One thing to keep in

[2021-01-18 18:55] SBlechmann commented on #417
Hey @c0c0n3,

sorry for the late response and thanks for your fast answer and your suggestion for the well explained problem :)
I just found this [issue ](https://github.com/smartsdk/ngsi-timeseries-api/issues/338#issuecomment-658213501)where you explained the behavior of the limit parameter. Maybe we could add this to the docs or was I just to blind to see it in the first place?

Yes, I pretty mu

[2021-01-18 19:20] SBlechmann opened #418 "Query API more often than once per second"
**Describe the bug**
I'm not sure whether this has to do with the "high load" performance issues.. but my use case demands to get, e.g. the last 10 values of an attribute more often than once per second.
Let's say my device sends values every 0.1 seconds (and that is actually a slow device). Let's assume I need to query the last 10 values of that device (ofc an attribute of that device) every 0.5

[2021-01-18 19:45] chicco785 commented on #418
few hints:
1) are you sure orion is sending notifications for all received data? be aware that if an update comes before the notification is queued, it will actually send only the new update.
2) did you try to query after more than 0.5s and see if the data were updated correctly? there is a processing time to store data, ql is not meant to be a real time api. the real time api is context broker :)

[2021-01-19 12:10] c0c0n3 commented on #418
@SBlechmann thank you so much for the detailed report!

also, w/r/t the comments above:

#### Notification throttling
When you create an NGSI notification there's an optional `throttling` field that lets you specify a notification interval in seconds. If my memory serves me well, Orion defaults it to 1 second. In practice this may result in some updates being lost in cyberspace---e.g. if you send

[2021-01-19 12:16] c0c0n3 opened #419 "Document query pagination better"
**Is your feature request related to a problem? Please describe.**
Query pagination isn't documented thoroughly and requires some guesswork from our users to actually figure out how to use it.

**Describe the solution you'd like**
A clear explanation and examples of how to use the `limit` and `offset` parameters.

**Describe alternatives you've considered**
N/A

**Additional context**
See #417

[2021-01-19 12:18] c0c0n3 commented on #417
Hey hey,

No, you're dead right Sir :-) thanks so much for pointing it out. I've opened an issue about it: #419

[2021-01-20 06:06] daminichopra commented on #406
Hi @chicco785 , I would like to work on this issue.

Also, as per my understanding on above issue, Please confirm below points for fix :

1.   Need to Delete records for  particular servicePath , or,
2.   Need to Delete only servicePath not the records in it , or,
3.   Delete the whole table related to particular servicePath

Thank you

[2021-01-20 10:34] daminichopra commented on #419
Hi @chicco785 @c0c0n3 , Please assign this issue to me. Thank you

[2021-01-20 11:03] c0c0n3 commented on #419
@daminichopra assigned to you, thx alot!!

[2021-01-20 18:48] SBlechmann commented on #418
hey there, thanks for your questions :)

regarding @chicco785 's comment:
I just reset everything, so here's what I got:
I sent 27 values in a simple loop from 1 to X, increasing by 1, one value every 0.5s. Orion shows 28 sent notifications (since 1 is created at the creation of the subscription that's the correct amount).
When I query QL for those values, they are all there and displayed correctl

[2021-01-20 18:52] SBlechmann commented on #418
I actually forgot something.
So if querrying crate I get the same results as querrying QL.

And I guess for time sensitive use cases the data should be grabbed from e.g. the MQTT broker directly then?

[2021-01-20 19:06] chicco785 commented on #418
@SBlechmann context broker is the real time component of FIWARE architecture.

QuantumLeap is a Timeseries API that stores values forwarded by the Context Broker, and due to the nature of its backends as well, there is always some synch latency between the data writing and the time the data is available for reading.

In first instance you have QL takes around 80 msec to process a single message (o

[2021-01-21 09:02] c0c0n3 commented on #418
@SBlechmann thanks so much for the analysis and time you put into this, it really helps!

It depends on what your definition of real time is and how high is a high frequency in your case :-) In general, I reckon the whole FiWare architecture was built more with extensibility, ease of use and openness in mind than high performance. Witness the extensive use of HTTP, JSON, microservices, etc. none o

[2021-01-21 09:16] SBlechmann commented on #418
All right then.
Then the application needs to take care of some kind of stash itself, thanks 👍 that's already a good output of this discussion :)

I will conduct some further "performance tests" in regards to lots of devices sending data then with a clustered setup soon.

[2021-01-21 09:16] #418 closed

[2021-01-21 11:01] c0c0n3 commented on #418
@SBlechmann

Cool, good idea! There's a couple of things I'd mention based on our experience running FiWare stacks in a cluster just in case. In general, you should be able to get good performance out of the box---some components like Orion can handle loads of requests per second without a glitch. Like I said **hard** real time may not be FiWare's forte but you can still get **very good** performa

[2021-01-22 10:10] chicco785 opened #423 "Remove CrateDB 3.x support"
**Is your feature request related to a problem? Please describe.**
Crate 3.x is obsolete

**Describe the solution you'd like**
Remove support for it.

[2021-01-22 10:11] chicco785 opened #424 "Remove subscription API support"
**Is your feature request related to a problem? Please describe.**
Today QL offers an API to create subscription on Orion from QL. Such API
introduce additional maintenance effort, for not real additional value.

**Describe the solution you'd like**
Deprecate and remove the API.

[2021-01-22 10:13] chicco785 opened #425 "Remove ThinkDB and InfluxDB experimental support"
**Is your feature request related to a problem? Please describe.**
Current code base maintains ThinkDB and InfluxDB experimental support,
which was abandoned.

**Describe the solution you'd like**
Remove ThinkDB and InfluxDB experimental support

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional con

[2021-01-25 06:35] TakashiAbe0309 opened #427 "Cannot get total number of query results"
Hi, All.
I am trying to get historical data from Quantum Leap API in python.

**Is your feature request related to a problem? Please describe.**

I could pagination by using offset and limit queries.
However, I don't know how many results will be got in total for the query results and I have to shift the offset by the limit and get it until there is no data.
This method is very inconvenient if you

[2021-01-25 10:35] c0c0n3 commented on #427
Hi @TakashiAbe0309!

Thanks for reporting this.

Yep, it is :-)

I'm jotting down some notes about this total count feature so we can think about what to do when we tackle it.

### The problem with pagination and total count

We put some thought into improving queries in general

- https://github.com/smartsdk/ngsi-timeseries-api/wiki/The-Mother-of-all-Queries

In particular your issue

is part of

[2021-01-25 10:50] chicco785 commented on #427
@TakashiAbe0309 thanks for you feedback! While I understand your point, I am not sure it is an ideal solution from two points of view:

1. Performance (one more query to issue)
1. Data completeness illusion (in a timeseries, if you don't limit the time span, it is likely that new data come in, and the counter issued in the first response would not be correct anymore) (this is exactly the case @c0c

[2021-01-27 06:44] daminichopra commented on #406
Gentle Reminder!!

[2021-01-27 07:09] chicco785 commented on #406
the logic could be as follow:
1. if no servicePath: dropTable
2. if servicePath: return error (code 422?) "more than one service path"

@c0c0n3 what do you think?

[2021-01-27 17:02] chicco785 opened #428 "migration to orchestra cities project"
dear all,
the project will be migrated to official orchestra cities (https://github.com/orchestracities) repo in the next week. a message will make this clear on the readme.

@agaldemas
@blackbearst
@Chandradeep-NEC
@cnoelle
@daminichopra
@ES-SC
@fisuda
@fmonsanto
@HaythemHorbit
@heikkilv
@HOP-Ubiquitous
@ekatsiri
@iamarnavgarg
@iaoiui
@jason-fox
@VeroCity-UG
@jcheca
@jlohmoeller
@juliozinga
@lmre

[2021-01-27 21:08] chicco785 opened #430 "support crate 4.2.x and above"
**Is your feature request related to a problem? Please describe.**
A simple test with crate 4.2.x showed some errors.

1. A first error related to geo data precision:
[code]

1. a second error related to entity dimension (?):
[code]

**Describe the solution you'd like**
Explore the issue, and ensure compatibility also with crate 4.2.x

**Describe alternatives you've considered**
Not migrate to cra

[2021-01-27 21:16] #401 closed

[2021-01-27 21:17] #375 closed

[2021-01-28 08:23] c0c0n3 commented on #428
There's a bunch of references we'll have to update---mainly docs and docker images, assuming we'll move the docker image to a better home too?

[code]

[2021-01-28 08:59] chicco785 commented on #430
second issue is clearly related to:
https://crate.io/docs/crate/reference/en/4.4/general/ddl/storage.html#column-store

[2021-01-28 09:55] chicco785 opened #432 "Fix "TODO" issue in deps.env"
TODO found

https://codeclimate.com/github/smartsdk/ngsi-timeseries-api/deps.env#issue_6012896e25421e0001000166

[2021-01-28 13:23] c0c0n3 opened #433 "Include NGSI-LD observed/modified props in time index calcs"
**Is your feature request related to a problem? Please describe.**
As reported by @jason-fox

**Describe the solution you'd like**
Add `observedAt` and `modifiedAt` to the list of candidate attrs from which we calculate the time index---see `reporter.timex` module.

**Describe alternatives you've considered**
N/A

**Additional context**
#398

[2021-01-28 13:24] c0c0n3 commented on #398
Also, we've got to add `modifiedAt` and `observedAt` to the list of attrs we use to compute the time index, see #433.

[2021-01-28 13:46] jason-fox commented on #433
Sample payload from NGSI-LD Subscription:

[code]

Note that `observedAt` and `unitCode` are special metadata attributes, in that unlike normal NGSI-LD _properties-of-properties_ they are strict key-value pairs. In the case of `observedAt` it is always an ISO string on Zulu time.

[2021-02-01 08:08] TakashiAbe0309 commented on #427
@c0c0n3 @chicco785
Thank you for your quick reply.
I was able to get the total number of query results by adding `aggrMethod=count` to the query parameters.

[2021-02-01 08:08] #427 closed

[2021-02-02 11:54] #409 closed

[2021-02-02 11:54] #423 closed

[2021-02-02 11:54] #425 closed

[2021-02-03 10:25] chicco785 commented on #428
dear
@agaldemas
@blackbearst
@Chandradeep-NEC
@cnoelle
@daminichopra
@ES-SC
@fisuda
@fmonsanto
@HaythemHorbit
@heikkilv
@HOP-Ubiquitous
@ekatsiri
@iamarnavgarg
@iaoiui
@jason-fox
@VeroCity-UG
@jcheca
@jlohmoeller
@juliozinga
@lmreyes
@luisdelacalle
@msgis
@ohylli
@PepeluDev
@pooja1pathak
@SakshiSharma-India
@Trigyn-Technologies
@vjain641
@ilarimikkonen
@pinkerltm
@pierre-josselin

As you may have

[2021-02-03 10:30] chicco785 opened #436 "adding your company / projects using QL to the repo"
Dear,
@agaldemas
@blackbearst
@Chandradeep-NEC
@cnoelle
@daminichopra
@ES-SC
@fisuda
@fmonsanto
@HaythemHorbit
@heikkilv
@HOP-Ubiquitous
@ekatsiri
@iamarnavgarg
@iaoiui
@jason-fox
@VeroCity-UG
@jcheca
@jlohmoeller
@juliozinga
@lmreyes
@luisdelacalle
@msgis
@ohylli
@PepeluDev
@pooja1pathak
@SakshiSharma-India
@Trigyn-Technologies
@vjain641
@ilarimikkonen
@pinkerltm
@pierre-josselin

If you are usin

[2021-02-03 10:51] fisuda commented on #436
@chicco785 I'm developing a command-line interface for FIWARE Open APIs called **NGSI Go**. I have just supported Quantump APIs at the release 0.6.  The link is https://github.com/lets-fiware/ngsi-go.

[2021-02-03 10:53] chicco785 commented on #436
@fisuda lovely :) of course should you have any feedback on ql, let us know!

[2021-02-03 11:12] fisuda commented on #436
Sorry, I tried all of QuantumpLeap apis to develop NGSI Go. But, I haven't yet used QuantumpLeap enough to give any feedback. QuantumpLeap is a great product. I’m looking forward to become the full member GE.

[2021-02-03 17:01] chicco785 opened #440 "update cii-best practises"
https://bestpractices.coreinfrastructure.org/projects/4394

[2021-02-04 14:25] chicco785 opened #444 "support injection of data when an attribute is badly formatted"
**Is your feature request related to a problem? Please describe.**

Currently, when an attribute is not correctly formatted, insertion fails totally.

**Describe the solution you'd like**

A more robust approach could be to check that attributes are of the correct type, if not removing them, and issuing a warning in the log.

**Describe alternatives you've considered**

N/A

**Additional context**

[2021-02-04 14:40] chicco785 opened #445 "split large data inserts"
**Is your feature request related to a problem? Please describe.**

When a large set of data is received, if doing a single insert, crate bombs:

[code]

**Describe the solution you'd like**

Split insert in smaller batches for multi notifications.

**Describe alternatives you've considered**

Fixing on the client side currently.

**Additional context**
N/A

[2021-02-04 15:25] modularTaco opened #446 "Broken health check if no cache is used"
**Describe the bug**
If no cache is configured the health check throws an exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set `CACHE_GEOCODING` and `CACHE_QUERIES` to `False`
2. Start QL
3. Curl `/health`

**Expected behavior**
Health status should be returned.

**Additional context**
Full traceback:
[code]

[2021-02-04 17:18] c0c0n3 opened #447 "Get rid of sleep time in Docker tests"
### Is your feature request related to a problem? Please describe.
Alot of our tests depend on external Docker processes and can't be run until those processes are ready. At the moment tests that depend on Docker services get run by Bash scripts that bring up the services and then sleep a number of seconds before starting the `pytest` testing session. While using long delays in practice works most

[2021-02-04 17:26] amotl commented on #447
Hi,

I am happy that you liked my suggestion. As @burnes' reaction to my post also was positive, he might be willing to collaborate with you on adding more of those features to `lovely-pytest-docker`. Also note that @jeromecremers already asked about the possibility to add parameters `timeout` and `pause` to the `wait_for_service()` workhorse, see https://github.com/lovelysystems/lovely-pytest-doc

[2021-02-04 17:31] c0c0n3 commented on #447
Hi @amotl, yea it'd be great if someone could do that! Like I said, in principle using a decorator from the [backoff][https://github.com/litl/backoff] library could do the trick...

[2021-02-04 17:34] amotl commented on #447
Indeed. If that would work together nicely, there would be no need to put it _into_ `lovely-pytest-docker` and it would be just a matter of appropriately documenting that "addon feature".

[2021-02-05 08:03] c0c0n3 commented on #445
This goes hand in hand with #193

[2021-02-05 08:06] c0c0n3 commented on #446
@modularTaco thanks for reporting the issue, we'll look into that...

[2021-02-05 09:10] chicco785 commented on #445
@c0c0n3 fixing the inject to db with a sub batches should not be much pain, can you have a look? the issue occurred in prod on ekz

[2021-02-05 09:48] modularTaco opened #448 "ql-pg-init does not work if database is already present"
**Describe the bug**
The quantumleap-pg-init with tag 0.8.0 exits with an error code and prevents quantumleap to start (given a k8s deployment with the official QL helm chart) if the desired database already exists.
0.7.6 worked fine in this setup.

**To Reproduce**
Steps to reproduce the behavior:
1. run the quantumleap-pg-init:0.7.6 docker image -> database gets created
2. run the quantumleap-pg

[2021-02-08 17:06] amotl commented on #306
Hi @c0c0n3 and @chicco785,

sorry for the late response.

I see.

Thanks! Also, I still have to answer @chicco785 at https://github.com/panodata/grafana-map-panel/issues/87. Apologies.

Indeed, that would be nice.

Now, while I appreciate the fruitful discussion here, I want to apologize that I kind of started to hijack the original issue which was just about the "Union all bug". So, let's get bac

[2021-02-10 18:34] amotl commented on #445
Hi @c0c0n3 and @chicco785,

first of all, I want to salute you for #450. Then, I wanted to take the chance to inform you that there is a new [`asyncpg`](https://github.com/MagicStack/asyncpg) release, which just happened a few hours ago, see [1]. This includes the long awaited patch for improved `executemany()` performance wrt. batch operations, see https://github.com/MagicStack/asyncpg/pull/295.

[2021-02-11 08:00] c0c0n3 commented on #448
@modularTaco thanks so much for reporting this, we really appreciate the time you took to test and put together the info we need to fix it!

[2021-02-11 08:08] c0c0n3 commented on #306
hi @amotl !

Excellent idea. We enabled GitHub Discussions for this repo a while back but then I sort of plain forgot we have it on. Sorry I should;ve advertised that, but going forward, yes, please use Discussions as you see fit.

It looks like you should be able to open issues on that repo too, let us know if you're still having trouble with that. Thanks!

[2021-02-11 08:43] c0c0n3 commented on #445
Hi @amotl, thanks for your support and appreciation.

Yes, definitely. Just give us a shout when you guys are done w/ those postgres wire protocol improvements, we'll definitely consider switching to `asyncpg` then so we can kill two birds w/ one stone. Btw, thanks for letting us know about `asyncpg`, judging by the pr you referenced the guys there are doing an awesome job!

Yep, spot on. We looke

[2021-02-11 17:43] c0c0n3 commented on #440
just a couple of notes:

* after PR #443 gets merged, we can tick the static analysis checkbox---apparently autopep8 counts as a static analysis tool
* we need to go through each and every section and update the repo links---they still point to the old smart-skd repo

[2021-02-11 20:52] amotl commented on #430
Hi @chicco785 and @c0c0n3,

we just discussed the first change you have been observing here at https://github.com/crate/crate-qa/pull/191 and the outcome is that the change actually was intentional to improve performance of CrateDB. However, you can still request the original value like outlined by @mfussenegger at https://github.com/crate/crate/issues/10452#issuecomment-682513804 by rephrasing yo

[2021-02-12 05:43] chicco785 commented on #430
@amotl thx, yes the second issue was already solved!

[2021-02-15 11:36] c0c0n3 opened #451 "Apply for FIWARE GE status"
Just a reminder to do that after merging #443, see there for the details.

[2021-02-16 12:11] SBlechmann opened #452 "Support list vor env "CRATE_HOST""
**Is your feature request related to a problem? Please describe.**
If I understood correctly currently QL only supports one crate host given through the env variable "CRATE_HOST". So if I set up my crate cluster on different nodes, each with another configuration (that's why I didn't use "mode: global" and thus have multiple crate services), I cannot give QL a list of the services / IPs. Is that r

[2021-02-16 14:11] c0c0n3 commented on #452
@SBlechmann thanks for the suggestion!

That's correct. `CRATE_HOST` takes a single host name, not a list. That's a bit unfortunate since it looks like you can actually configure the Crate driver to use a server pool quite trivially

* https://github.com/crate/crate-python/blob/master/src/crate/client/connection.py#L106
* https://github.com/crate/crate-python/blob/master/src/crate/client/http.py#L

[2021-02-18 13:38] SBlechmann commented on #452
@c0c0n3 as always: Thanks for the very fast response!

Well, I believe I really have to switch to k8s soon.. it's still in my bucket list. Thanks for sharing your thoughts!
Maybe this might still be easy to implement? Of course the list would need fitting everytime you add a new node / a new service but maybe this might be sufficient for smaller use cases?

BTW: In another issue I said that I want

[2021-02-18 17:34] fran748 opened #454 "the parameters called todate and fromdate not work for me"
Hello. I am using a server that has installed fiware. I need to receive a data series based on a certain time limits, so I need to use the parameters called todate and fromdate that are implemented in quantumleap.
I am using quntumleap 0.7.6, docker 20.10.3 , Crate DB version 4.1.4.
I can make the http request, but I don't get the data of this interval, instead the server sends me all stored datas

[2021-02-18 17:48] SBlechmann commented on #454
Hey there,

I believe that 1st you have a space behind the &.
But second and more important: I believe the query parameters are case sensitive. So you might give it a try with fromDate and toDate :)

[2021-02-18 20:14] fran748 commented on #454
Thanks, thanks. You have helped me a lot, this was the problem. :)
I had not realized that, in the end it was all a misspelling.

[2021-02-18 20:14] #454 closed

[2021-02-19 09:28] c0c0n3 commented on #452
@SBlechmann

Pleasure! We try to tend to GH issues from the community as quickly as we can, but sometimes we've got so much in our plate that it could take us a couple of days to go through the list...

Obviously, you're the best person to judge what you need given your use case and requirements. If you go with K8s, these Helm charts might be useful to whip together a FIWARE cluster:

- https://gi

[2021-02-19 09:30] c0c0n3 commented on #454
@SBlechmann thanks so much for this.

[2021-02-19 10:47] amotl commented on #452
Hi there,

thanks for bringing up that topic. I discussed that with @mfussenegger and @seut already and they told me that a simple round-robin like distribution/balancing mechanism is implemented in [`crate-python`](https://github.com/crate/crate-python) already. However, the same thing can also be implemented by using some K8s ingress technologies or by just using a dedicated HAProxy (containeriz

[2021-02-19 11:52] c0c0n3 commented on #452
Hi @amotl

Thank you so much for this, you're awesome.

is it doing round robin on the list of servers you pass in when you create the client:

- https://github.com/crate/crate-python/blob/master/src/crate/client/connection.py#L106

or is it also fetching the cluster topology from the nodes currently in the Crate cluster? e.g. if I have a Crate cluster with 4 nodes, `n1` to `n4` and I create a con

[2021-02-19 12:14] amotl commented on #452
Hi @c0c0n3,

Exactly. Currently, there is no further smartness here. Whether it would be actually possible to inquire topology information from the cluster itself might get revealed on an eventual discussion at https://github.com/crate/crate-operator/issues/170. From MongoDB, I know the Python client driver supports cluster node discovery:

However, I don't know if it will be possible to implement

[2021-02-19 12:46] c0c0n3 commented on #452
Hi @amotl, thanks for clarifying. On second thought, I think regardless if the Crate client will eventually support node discovery, QuantumLeap should support reading a list of Crate hosts from config. In fact, as @SBlechmann pointed out, this feature would be useful right away, since the Crate client can already work quite happily with a list of servers. If one day, you guys implement node discov

[2021-02-22 12:02] amotl commented on #452
Hi again,

at https://github.com/crate/crate-operator/issues/170, @SStorm and @WalBeh provided more insights into how `crate-operator` works - thanks a stack. This might tremendously help when operating CrateDB within a Kubernetes environment as you won't have to care about making the client aware of multiple hosts. The K8s-LB will be configured automatically.

It would still be helpful if `CRATE_

[2021-02-22 13:07] amotl commented on #452
Hi once more,

after talking to @WalBeh (thanks again!), I want to add some more important details in order to clarify the situation.

When using `crate-operator` on an IaaS platform, it will be able to configure the load balancing components provided by Azure and AWS appropriately. This is done through a respective plugin.

However, when running K8s in an on-premise environment, this has to be do

[2021-02-22 14:19] c0c0n3 commented on #452
@amotl thanks alot for all the info!

Thanks, for pointing it out I'd totally missed that after reading the other thread!

[2021-02-22 15:45] SBlechmann commented on #452
Hey there,

apperently, I got some discussion rolling o.o Thanks for all the contributions @c0c0n3  @amotl

My thought of providing more than one crate host (e.g. service - I'm using docker swarm terminology) was meant to deal with use cases where you have different crate nodes with different roles (e.g. data-node // manager // combinations).
Just to see if I got that right - since I'm more a "use

[2021-02-23 09:48] c0c0n3 commented on #452
hey @SBlechmann

Pleasure!

Definitely, not sure exactly when, but keep tabs on this issue :-)

Well, I suppose it depends on where QL sits (e.g. outside/inside the swarm), whether you're doing load balancing e.g. HAProxy, etc. Not sure what your actual set up is.

I've got no experience with Azure, but I suppose if you're not using a managed K8s service and you just roll out your own K8s on bare

[2021-02-23 22:22] chicco785 commented on #141
see PR #449

[2021-03-07 15:07] #432 closed

[2021-03-09 13:53] #451 closed

[2021-03-09 14:35] chicco785 commented on #444
most probably we

[2021-03-09 14:35] #444 closed

[2021-03-09 14:36] #428 closed

[2021-03-09 14:37] chicco785 commented on #344
@c0c0n3 value is now a string in crate (if I am not wrong)

[2021-03-09 14:39] #141 closed

[2021-03-09 14:40] #284 closed

[2021-03-09 14:41] chicco785 commented on #277
@c0c0n3 most probably we can close this

[2021-03-09 14:42] chicco785 commented on #273
is this still a valid issue?

[2021-03-09 14:43] chicco785 commented on #241
@c0c0n3 i think this is fixed by pr #449

[2021-03-09 14:45] chicco785 commented on #219
@c0c0n3 should we keep it?

[2021-03-09 16:24] c0c0n3 commented on #219
@chicco785 there was no follow up on this. My take is that we can use a bit more relaxed versioning scheme until we make it to 1.0. Past that point we should stick to "strict" semantic versioning as required by FIWARE.

[2021-03-09 16:24] #219 closed

[2021-03-09 16:26] c0c0n3 commented on #241
@chicco785 yep, I'm closing it.

[2021-03-09 16:26] #241 closed

[2021-03-09 16:28] c0c0n3 commented on #277
yep, we got our GE badge, #457.

[2021-03-09 16:28] #277 closed

[2021-03-09 16:47] #344 closed

[2021-03-10 13:47] chicco785 opened #463 "asyncpg potential"
Hi @c0c0n3 and @chicco785,

first of all, I want to salute you for #450. Then, I wanted to take the chance to inform you that there is a new [`asyncpg`](https://github.com/MagicStack/asyncpg) release, which just happened a few hours ago, see [1]. This includes the long awaited patch for improved `executemany()` performance wrt. batch operations, see https://github.com/MagicStack/asyncpg/pull/295.

[2021-03-10 13:47] #445 closed

[2021-03-11 19:36] #410 closed

[2021-03-14 14:11] DasNordlicht opened #466 "Dead Link in Readme"
The Lint is dead https://app.swaggerhub.com/apis/smartsdk/ngsi-tsdb

[2021-03-15 08:20] chicco785 commented on #466
thx @DasNordlicht  this probably linked to the migration to the new github repo.
while we look into that, if you need the swagger spec, you can find it in the repo:
[https://github.com/orchestracities/ngsi-timeseries-api/blob/master/specification/quantumleap.yml](https://github.com/orchestracities/ngsi-timeseries-api/blob/master/specification/quantumleap.yml)

[2021-03-17 02:14] #408 closed

[2021-03-17 02:14] #349 closed

[2021-03-17 02:14] #310 closed

[2021-03-17 02:14] #309 closed

[2021-03-17 02:15] #199 closed

[2021-03-17 02:15] #153 closed

[2021-03-17 08:16] c0c0n3 commented on #408
closed by #441.

[2021-03-17 08:22] c0c0n3 commented on #276
we're going to close this issue when we drop support for the subscribe endpoint.

[2021-03-17 08:25] c0c0n3 commented on #135
We should review this before closing it. Not sure we've covered all the bases...

[2021-03-17 08:32] c0c0n3 commented on #134
reopening this just to double-check what happened to the test matrix...
#459 moved our build infrastructure to CircleCI, but what happened to the test matrix we had in Travis?
@chicco785 is this still relevant, pls help! :-)

[2021-03-17 08:34] c0c0n3 commented on #15
as far as I can tell, this has never been implemented? but should this functionality be in QL or rather a DB admin task?

[2021-03-17 10:54] chicco785 commented on #134
well, in travis it was there :) we have to see what to do for circle ci, but it would be another issue i suppose

[2021-03-17 10:55] chicco785 commented on #15
i think, considering that timescale supports that, this is a more db specific thing

[2021-03-17 11:06] #15 closed

[2021-03-17 11:13] c0c0n3 opened #467 "Testing QL with different backend versions"
### Is your feature request related to a problem? Please describe.
#459 moved our build infrastructure to CircleCI, but we still have to find a way to implement test sessions where QL is configured with different versions of the same backend.

### Describe the solution you'd like
Something similar to the test matrix we had in Travis where QL gets tested with different versions of e.g. Crate.

###

[2021-03-17 11:14] c0c0n3 commented on #134
cool :-) opened #467 about it.

[2021-03-17 11:14] #134 closed

[2021-03-18 11:21] chicco785 opened #468 "NGSI-LD Context Support"
**Is your feature request related to a problem? Please describe.**

Compared to NGSIv2, NGSI-LD introduces a special field `@context`, that provides linked-data inspired description of the attributes used in the payload. (cf #398)

e.g.
[code]

This new attribute should be stored as well in the timeseries backend.

**Describe the solution you'd like**

Considering the current data model, there cou

[2021-03-18 11:42] kzangeli commented on #468
I would DEFINITELY NOT store the context in the database - the context is not an attribute of the entity.
It's more like a map that you must use to expand the aliases (value of entity type + attribute names).
These expansions are the **real names** of the attributes (and real value of the entity type).
And **that** (the longnames) is what you need to store in the database.

If this isn't 100% clea

[2021-03-18 12:06] kzangeli commented on #468
Additionally, it seems you are using an outdated NGSI-LD spec.
We changed the format for attributes with datasetId, quite some time ago.
We now use an array, instead of various fields with '#x', e.g.:
[code]
[ Don't want to see you wasting time on implementing obsolete stuff ... :) ]

[2021-03-18 14:09] c0c0n3 commented on #468
@kzangeli thanks for your feedback, always appreciated :-)

So I've been trying to make friends with NGSI-LD but I think he doesn't like me. No honestly, I think it's going to be a while before I can call myself even a moderately knowledgeable LD chap. But what I gather from the spec is that the way you interpret a piece of JSON like the example above depends on the context it's tied to. So we cou

[2021-03-18 14:12] c0c0n3 commented on #468
Also, given an attribute "long" name, we should always be able to retrieve the context in which it was defined, is that so? e.g.

    context_of(http://wada/wada/x) = http://wada/wada/

??

[2021-03-18 14:13] chicco785 commented on #468
to be honest i am quite lost, finding right specs does not seem to be straight forward,
this is the document google give me back when we search for the specs:
ETSI GS CIM 009 V1.1.1 (dated Jan 2019)

is this backward compatible with NGSIv2? probably not.

Anyhow, for the way we store data today i.e. flat (and that will not change because otherwise query will require join, and performance will be s

[2021-03-18 14:16] c0c0n3 commented on #468
yep spot on. We need to think about this carefully, I don't think the way we store data at the moment is NGSI-LD friendly :-)

[2021-03-18 14:17] chicco785 commented on #468
it's timeseries friendly and backward compatible to support ngsi-v2, if that's not good enough, we don't care.

[2021-03-18 14:18] c0c0n3 commented on #468
cool. also, if we stored "long" names, we'd be making alot of people unhappy I reckon since it would be a bit of a mission to e.g. write a query in grafana to pull data out of an entity table...

[2021-03-18 14:24] chicco785 commented on #468
long names are going to be sql query unfriendly, i am not exactly sure to understand why this is actually needed...
so we don't plan to do much with the context: nor expanding the name nor any other operation, the point is only to be able to return the context associated to an entity instance since this is needed. if not in the database, where will you store it?

[2021-03-18 14:32] chicco785 commented on #468
to make the rational clear, while when not running aggregations exploding information complexity to represent data may not have an impact, on timeseries assuming you want to compute aggregate on temporal intervals, it does have quite an impact.

this is the ration for which already today we have some clear limitations:
if attribute x is today of type number, tomorrow will it be number again, or ma

[2021-03-18 14:43] c0c0n3 commented on #468
Well, we might have to actually. Queries anyone? I think you mentioned this already earlier, but here's the nasty scenario. I'll build on the `speed` attribute example from my earlier comment. To process `speed` we need to understand what it is, well to some extent at least. Say we've got this series

    (ctx, { speed: 20 }, t1), (ctx, { speed: 30 }, t2), (ctx, { speed: 20 }, t3), (ctx', { speed:

[2021-03-18 15:03] kzangeli commented on #468
So, let's set up an audio conference and straighten things out a little.
Seems necessary :)

[2021-03-18 15:04] c0c0n3 commented on #468
hahahaha, yea, good idea :-)

[2021-03-18 15:27] kzangeli commented on #468
Before that, just some food for thought.
If you could please forget about storing the context in the DB, and instead storing the _attribute name_ (not the alias - the expanded name, which is the real name of the attribute), you will see how suddenly all your problems go away.

Except one:

In Orion-LD/mongo, I replace all dots (.) in an attribute name for a eq (=), as the dot is used as a separato

[2021-03-18 15:33] kzangeli commented on #468
Here you can find the specs: https://www.etsi.org/committee/cim
The latest NGSi-LD API spec is v1.4.1

[2021-03-18 15:41] kzangeli commented on #468
Just remembered, I once wrote a short markdown about the context:
https://github.com/FIWARE/context.Orion-LD/blob/develop/doc/manuals-ld/the-context.md

[2021-03-18 15:44] c0c0n3 commented on #468
yep, like I said earlier, all things being equal, this is an excellent suggestion, but...

I wish! Like @chicco785 pointed out, reconciling our internal storage model w/ the requirements of a full-blown NGSI-LD implementation isn't straightforward and we might have to make some compromises :-)

excellent, thanks for the pointers, much appreciated!

[2021-03-18 15:54] chicco785 commented on #468
It stays reasonable not to change :)

This is already a limitation today, you can have metadata in ngsi v2 that specify the unitCode, for example. So it could be entry 1 is kmh and entry 2 is mph. Today we expect this to be uniformed before, if required, the injection in QL. Don't see why this should change, given the overhead either injection and/or querying. While we can go on for hours thinking

[2021-03-18 16:00] kzangeli commented on #468
ok, there's a lot I don't know about your implementation ... :)
Might be an option to URL-encode attribute names inside the DB?
Anyhoo, if you need my help, just call.
I'll be happy to help out.

[2021-03-18 16:45] c0c0n3 commented on #468
awesome, thanks for offering!!

Oh dear, I've just realised I haven't explained properly what I have in mind, sorry I made a bit of a mess. My example wasn't so much about units (perhaps a corner case, but surely a welcome addition to the spec IMHO) but rather semantics. That is, the function

    interpret : Context ⨉ Attribute ---> Meaning

I used earlier as a simple conceptual model to analyse

[2021-03-18 16:51] kzangeli commented on #468
About `speed in ctx` and `speed in ctx'` - those are two different attributes - never mind the unitCode.
Two different attributes (as two different expanded names).

[2021-03-19 17:58] agaldemas opened #469 "To get data as an array of ngsi entities, instead of series about one entity"
The json output of a read query to QL is formatted as series by attributes, and for one entity only, it is well adapted for charts

But when used with other BI tools (like Knowage), getting data as an array of entities, like when querying a context broker shall be much more convenient !

the solution should be :
To be able to ask for an alternate output format when querying QL, keeping the same ap

[2021-03-19 18:06] agaldemas commented on #469
my request is somehow related to #102 (QL as context broker datasource...)

[2021-03-19 18:17] chicco785 commented on #469
in relation to #102 context providers return a single value (the last one, i would suppose in this case).
at the moment this is not a priority for us, but we surely welcome a PR:
1. provide an updated spec for the api (see the spec folder)
1. implement the API in the code
1. add tests for the new functionality

[2021-03-23 07:55] c0c0n3 commented on #469
hi guys,

shouldn't this rather be done through HTTP content negotiation? i.e. using `Accept*` headers? see e.g.

- https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation

Thanks for offering, that's great!

cool, but we need to be careful w/ this one since the implementation is quite involved, virtually all query responses depend on it, and we don't have enough tests to cover all c

[2021-03-23 08:53] chicco785 commented on #469
I think `Content_negotiation` is more the case for official mime types, e.g. json versus text and so on.

[2021-03-24 07:08] #466 closed

[2021-04-06 05:39] ilarimikkonen commented on #436
hi,
profirator.fi
We do smart city deployments and use QL with Orion for historical storage.

[2021-04-07 07:47] c0c0n3 commented on #436
hi @ilarimikkonen, I've opened a PR to update the adopters list: #473
see my comments there, thx!!

[2021-04-07 07:58] ilarimikkonen commented on #436
![image](https://user-images.githubusercontent.com/7221736/113831287-1e0a2c00-9790-11eb-9167-2c336276d716.png)

hi @c0c0n3 please use this for now, we are in the process of logo change :D

[2021-04-07 08:04] c0c0n3 commented on #436
cool bananas, added the logo thanks. if you could just have a look at the result and give me the green light for the merge:

https://github.com/orchestracities/ngsi-timeseries-api/tree/adopters#adopters

 thx!

[2021-04-14 08:09] IEMaestro opened #474 "User/password support for CrateDB connection"
**Is your feature request related to a problem? Please describe.**

Currently, QL version does not support user/password to connect to CrateDB. It uses the "user default" to connect and there is no ENV Variable to provide a password for this user. In case you want to enable the (external or not) access to CrateDB (e.g. to web-monitor the status of the historical DB) and you want to secure it (by u

[2021-04-14 19:45] IEMaestro commented on #474
Thanks Andreas for your tracking and forwarding. But, correct me if I'm wrong: in case "crate" implements this "hostname" support, this would come with next Crate version (this is Crate 4.5.X) and, according to Quantum Leap installation guide, this only supports Crate 4.1.X, so, as far as I understand, this won't solve my issue, at least, not so far. Am I Right?
Regards!!

[2021-04-15 07:58] c0c0n3 commented on #474
@IEMaestro thank you so much for bringing this up. Indeed backend authentication and authorisation are totally underdeveloped functionality areas in QuantumLeap. We'll definitely tackle this at some point in time and possibly support other authn/authz methods too. Even though we recognise the importance of having proper authn/authz in place, we can't push on with this issue at the moment since we'

[2021-04-15 13:49] amotl commented on #474
Dear @IEMaestro,

It will currently not solve your issue, we can't go back in time, right. However, I still want to thank you very much for bringing this up. I am sure it will be useful for you and others in future setups of QuantumLeap+CrateDB.

With kind regards,
Andreas.

[2021-04-22 08:00] tstorek opened #476 "Inconsistent Response Models"
related to #469

**Describe the bug**
Working with QuantumLeap I discovered that the response models seem to be inconsistent making it tedious to parse them.
Why is sometimes 'id' and 'type' used and the 'entityId' and 'entityType' in other places? This requires a lot of unnecessary extra models and translation for client creation.

**To Reproduce**
If you call the /v2/entities you will receive th

[2021-04-22 10:24] tstorek commented on #476
Hint: This is not only for this example. Also for the /v2/entity endpoints the Response includes the key "attributes", how is this different from "attrs" in the attributes endpoint. I do  not Understand, why the models are not reused.

[2021-04-22 14:25] c0c0n3 commented on #476
@tstorek thank you so much for pointing this out. Yes there are a bunch of things that should change in the query data structures. I'd love to have a more uniform interface too, but we can't do this right now since that's an API change that would break backward compatibility, probably something we can tackle when we release `v 1.0`. Also, there's more serious issues w/ queries than annoying data s

[2021-04-22 15:56] tstorek commented on #476
@c0c0n3 Thanks, for the hint. I am familiar with flask I actually cannot figure out how quantumleap actually builds its endpoints. I find the structure really difficult to grasp. Nevertheless, I am happy that this piece of software exists.

However, it has been already proposed in the issues #399. Moving to fastapi would really help to break up thise complicated structure and btw it will solve the

[2021-04-22 17:55] husqD opened #477 "Ignore NULL values"
**Is your feature request related to a problem? Please describe.**
The NULL values in the Fiware entities have this syntax:
[code]
I have a sensor with 4 fields: Humidity1, Humidity2, Humidity3 and Battery. If one of the measurements fails when I create the sensor, this field has a null value in Orion and quantumLeap saves it as an object (see syntax above) and therefore crateDB has this error:
[c

[2021-04-23 08:10] c0c0n3 commented on #476
Hi @tstorek :-)

Tell me about it. I too have had my share of grief wading through the code :-) But yah, seriously, we know the code ain't tasty, well unless you like spagheti, and would need a rewrite to make it modular. Problem is, we're always hard-pressed to deliver new functionality and there isn't really time to refactor. So we whip something together to do the job even though we know it isn

[2021-04-23 08:37] tstorek commented on #476
@c0c0n3 well, it is true that the spagehtti behind the scene will probably last a little longer, but at least the docs would be clean and one defenetly knows whre to look for models and docs. Since, I also noticed that the swagger docs apparently are not connected with the application itself. Hence, the gui-interface because somehow useless but the models.

Is there a way for a personal exchange o

[2021-04-23 08:40] c0c0n3 commented on #477
@husqD thanks for reporting this. I've got one question though what's the type of the `BatteryLevel` prop? Looking at the error code it was supposed to be an integer but in your example you've got a type of `Intangible`. We don't support multiple types for attributes/properties. The first time QL receives an attribute it tries to determine its type and then creates a DB column accordingly. If late

[2021-04-23 08:48] c0c0n3 commented on #476
@tstorek

yep, you do have a good point there :-)

you're welcome to drop me a line at  `x.y@martel-innovate.com` where x=andrea and y=falconi :-)

[2021-04-24 11:37] tstorek opened #478 "Missing entity type in /entities/v2 endpoints"
**Is your feature request related to a problem? Please describe.**
It would be very useful, if the /entities/... endpoints would also include the type for each entity

**Describe the solution you'd like**
Adding 'entityType' to the ResponseModels in the list of entities.

**Describe alternatives you've considered**
Unnecessary query on the /entities/ endpoint for fetching the metadata in the first

[2021-04-26 07:14] husqD commented on #477
Hi @c0c0n3,

I use the Iot-Agent for Lorawan and when I create a device I define humidity measurements in this way:
[code]
My problem is that in my application the user can manage his own dataloggers. When he defines a sensor, he can choose if the datalogger has 1, 2 or 3 soil moisture sensors. So, if the user defines a datalogger with two moisture sensors but the datalogger sends only the measure

[2021-04-26 12:35] c0c0n3 commented on #477
@husqD thanks so much for the example and for clarifying what's going on. Like I said QL doesn't support changing attribute/property type over time. I realise this is a bit of a bummer, but we don't have any easy way to support that at the moment. But maybe there's a workaround...

I've never come across this `Intangible` type in the IoT agents and if I search for it in the Lorawan agent repo it d

[2021-04-26 13:59] husqD commented on #477
@c0c0n3 thanks for your reply,

The intangible type is an iotagennt-node-lib thing. You can check it in the metadata support section of this
documentation: https://iotagent-node-lib.readthedocs.io/en/latest/advanced-topics/index.html

This error is caused by a human error in the lorawan backend. If a user defines a datalogger with two soil moisture measurements, but only sends one value, the iotag

[2021-04-26 14:19] c0c0n3 commented on #477
@husqD

Holy moly! It's one of those new NGSI-LD changes I missed. Thank you sooo much for the reference!

Agreed! This should be part of the changes we're slowly trying to implement to complete support for NGSI-LD. Well, strictly speaking it's not part of the spec, but for practical purposes we should take it into account I reckon since it made it into the agents lib, so it's going to affect all

[2021-04-26 14:52] husqD commented on #477
Thank you @c0c0n3!!

I am glad to know that it will be considered.  It is appreciated that there are developers with your patience and good humor.

[2021-04-26 16:34] c0c0n3 commented on #477
@husqD well, thank you for taking the time to help us out and for patiently explaining things, it usually takes me a bit to catch on to what peeps are saying---don't judge me, old age you know :-)

[2021-04-28 12:20] c0c0n3 opened #479 "CLA done right"
### Describe the issue
It looks like the CLA pdf linked from the CLA template should actually sit in our repo and be customised for QL as kindly pointed out by @KazuhitoSuda-NEC:

Does it also need to be signed by **each** contributor or is the automated CLA signing in PRs enough? If we need a signed file for each contributor, should those files be kept in our repo too?

### Additional context
See

[2021-04-28 12:21] c0c0n3 commented on #479
summoning the mighty @jason-fox to shed some light on this...

[2021-04-28 12:33] jason-fox commented on #479
You can compare [QuantumLeap](https://github.com/orchestracities/ngsi-timeseries-api/blob/master/.github/workflows/cla.yml#L22) with [Keyrock](https://github.com/FIWARE-GEs/keyrock/blob/master/.github/workflows/cla.yml#L22) - the UPM team have created their own CLA based on the FIWARE Template - you can do the same.

Yes, automated signing is enough for me. The original Git Patch was merely to ens

[2021-04-28 12:57] KazuhitoSuda-NEC commented on #479
The pull_request_template.md file in QL repo has a link of CLA file. It's https://fiware.github.io/contribution-requirements/individual-cla.pdf. Please open it. For example, the title is `<name of FIWAER componet> Individual Contributor License Agreent`. I think that this should be updated to `FIWARE QuantumLeap Individual Contributor License Agreent`.

Please see https://github.com/ging/fiware-id

[2021-04-28 12:58] c0c0n3 commented on #479
@jason-fox thanks for this, mucho appreciato.

excellent, will do

we've got that in our own GH action

- https://github.com/orchestracities/ngsi-timeseries-api/blob/master/.github/workflows/cla.yml#L21

but I can't find the `cla.json` file with the signatures anywhere, so I guess we'll have to fix it.

is a brainiac!

Sjoe! I wish I had 2% of his brain cells :-)

[2021-04-28 13:00] c0c0n3 commented on #479
@KazuhitoSuda-NEC

Noted, thanks a stack!!

[2021-04-28 13:08] jason-fox commented on #479
`cla.json` is generated by the action.

[2021-04-28 13:09] c0c0n3 commented on #479
d'oh! did i mention i wish i had 2% of your brother's brains :-)

[2021-04-28 13:13] jason-fox commented on #479
Did I mention that my twin brother speaks fluent japanese :jp: ?

自動翻訳ツールを使用しています !

[2021-04-28 13:34] c0c0n3 commented on #479
hahahaha, brilliant. genius seems to run in the family

[2021-04-30 10:08] daminichopra commented on #433
Hi @c0c0n3 , Please assign this issue to me.

[2021-04-30 12:49] jason-fox commented on #433
Note that dependent upon the subscription query, the following payload formats may be received:

### Neither `modifiedAt` nor `observedAt` - use subscription time

[code]

### `observedAt` present only - use `observedAt`

[code]

### `modifiedAt` present only - use `modifiedAt`

[code]

###  Both `observedAt` and`modifiedAt` present - use `observedAt`

[code]

[2021-05-04 08:04] c0c0n3 commented on #433
@daminichopra I've just assigned this issue to you, thanks so much!

@jason-fox thanks alot for the extra info about time props, it's definitely something we need to cater to, otherwise our time index selection algo will go haywire

[2021-05-04 10:04] chicco785 commented on #479
it's in the `cla-signature` branch
https://github.com/orchestracities/ngsi-timeseries-api/blob/cla-signature/signatures/version1/cla.json

[2021-05-06 14:58] c0c0n3 commented on #393
Here's some more debug info we can use later to concoct a fix.

First off, start Timescale w/ SSL using this docker compose:

* https://github.com/smartsdk/ngsi-timeseries-api/blob/master/timescale-container/test/docker-compose.yml

Notice the server certificates are self-signed. Now if you start a Python interpreter in e.g. the QL image, you can see what's going on

[code]

Now the implementation

[2021-05-12 10:20] BaurzhanSakhariev commented on #474
Hi there, [crate/crate#11275](https://github.com/crate/crate/issues/11275) has been merged into master and will be available in the next release.

[2021-05-13 00:57] KazuhitoSuda-NEC commented on #479
@c0c0n3
Cc: @daminichopra

Could you give us information on the current situation of this issue, please?

Thanks.

[2021-05-13 08:41] IEMaestro commented on #474
Thanks a lot for considering this feature. I will implement now this new
version within our solution.
Regards

El mié, 12 may 2021 a las 12:20, Baurzhan ***@***.***>)
escribió:

[2021-05-17 07:42] pooja1pathak commented on #476
Hi @c0c0n3 , I would like to contribute on this issue. Please assign it to me.

PFA excel sheet for the dataModel of different APIs of QL, in which I have compared the response model and suggested the new model.
[dataModel.xlsx](https://github.com/orchestracities/ngsi-timeseries-api/files/6491912/dataModel.xlsx)

Please let me know if I can go in this direction and change the response of the APIs

[2021-05-17 08:49] c0c0n3 commented on #479
@KazuhitoSuda-NEC @daminichopra

we'll try to get this done in the next couple of weeks. we're swamped w/ work at the moment, but we'll try to sort this out. thanks for your patience.

[2021-05-17 20:24] KazuhitoSuda-NEC commented on #479
Thank you for your reply. I understand.

[2021-05-18 08:54] chicco785 commented on #476
thx @pooja1pathak i am going to have a look and come back to you

[2021-05-18 09:55] chicco785 commented on #479
@jason-fox any chance to get a word / rtf version of the entity and individual cla?

[2021-05-18 10:00] jason-fox commented on #479
[Individual CLA proposed template.rtf.zip](https://github.com/orchestracities/ngsi-timeseries-api/files/6500341/Individual.CLA.proposed.template.rtf.zip)

[2021-05-18 11:12] chicco785 commented on #479
have a look at PR #480 and let us know

[2021-05-18 11:47] c0c0n3 commented on #476
@pooja1pathak @tstorek I've just sent you an email re: meeting to chat about all this and put together an implementation plan. @pooja1pathak I've used the email address on your GitHub profile, is that still current? Thanks guys!!

[2021-05-19 04:49] pooja1pathak commented on #476
yes @c0c0n3 , I've received your email

[2021-05-19 07:58] chicco785 opened #482 "Support timescale > 1.7.5"
**Is your feature request related to a problem? Please describe.**

Tests shows that there have been changes starting from timescale 2.0.2 that breaks integration with it.

**Describe the solution you'd like**

Support timescale > 2.0.2

**Describe alternatives you've considered**

Stay with 1.7.5 for the time being.

[2021-05-19 08:10] chicco785 commented on #476
@pooja1pathak it seems that the only inconsistent message is `/v2/entities`, I saw in your proposal you want to comply the other messages with `/v2/entities`, but I believe that the other way around is less invasive (and faster to achieve).

so i would change `/v2/entities` to:

[code]

this fix can be done now regardless switch to pedantic. so @pooja1pathak feel free to propose a PR

[2021-05-19 13:58] #479 closed

[2021-05-19 14:12] c0c0n3 opened #483 "Possible precision loss w/ Crate 4.4.+ geoqueries"
This is just a reminder to check out if geo queries are still working with enough accuracy in Crate 4.4+.
See this comment to PR #481

* https://github.com/orchestracities/ngsi-timeseries-api/pull/481#discussion_r635246517

Geo queries use the location centroid column, not the location column, but the problem should be the same, i.e. we might have to use `_doc[loc_centroid]` instead of just the pl

[2021-05-20 14:59] c0c0n3 commented on #416
given we're going to have a work queue implementation soon, we should reconsider this in light of that. also related: #242.
Plus, for some backends like Crate we might be able to do something smart when we insert the data, like not losing a whole batch because of just a couple of rows that can't be inserted, see these comments to #481

-  https://github.com/orchestracities/ngsi-timeseries-api/pull

[2021-05-21 14:02] amotl commented on #483
Hi @c0c0n3,

I just want to point out https://github.com/orchestracities/ngsi-timeseries-api/issues/430#issuecomment-777781639 ff. in this context.

With kind regards,
Andreas.

[2021-05-21 15:43] c0c0n3 commented on #483
Hi @amotl, thanks for this, I'd just plain forgot about that! Thank goodness you're always around when we need you :-)

[2021-05-25 12:44] #430 closed

[2021-05-25 18:04] pooja1pathak commented on #469
Hi @chicco785 @c0c0n3 , I would like to contribute on this issue. For this I need response format which will be returned. Please guide me in this direction so I can start with the coding part.

[2021-05-28 08:13] pooja1pathak commented on #469
Hi @chicco785 @c0c0n3 , I have below understanding about this issue, Please correct me if I am missed anything.

1. A new API: ```GET /entities``` needs to develop having query parameter ```"format=array"```
2. Response for the above API should contain ```EntityId``` ```EntityType``` ```attribute``` ```latestValue``` e.g.,
[code]
3. When request contain ```"format=array"``` the response is convert

[2021-05-28 12:05] agaldemas commented on #469
Hello, @pooja1pathak

The output format should be an array of **true** NGSI V2/LD entities, such as :
[code]

- "entityID" should be "id"
- "entityType" should be "type"

[2021-05-28 12:44] chicco785 commented on #469
@agaldemas i am not sure this make sense to be honest.

the `/v2/entities` api is a commodity entry point meant to return
the list of available entities (so that you can query them specifically as /v2/entities/entityId)
and their "last" index.

now, assuming you will expand to the full entity using the full format (without
changing the paradigm of "last index"), what you will get is the same infor

[2021-05-28 15:48] tstorek commented on #476
Hello,

I am sorry for the late response. I am glad to hear that something will happen.

Unfortunately, after next week I will be out of office for about 6 weeks.

Hence, we should either meet before or after.

Cheers,

Thomas

Von: c0c0n3 ***@***.***>
Gesendet: Dienstag, 18. Mai 2021 13:48
An: orchestracities/ngsi-timeseries-api ***@***.***>
Cc: Storek, Thomas ***@***.***>; Mention ***@***.***>
B

[2021-05-31 11:11] pooja1pathak commented on #469
Hi @chicco785 please review my comment: https://github.com/orchestracities/ngsi-timeseries-api/issues/469#issuecomment-850238340 and let me know if  it solves this issue or #102  or any modification is required , so I can start working on the same.

[2021-06-01 10:16] AbyssCoreInc commented on #482
I have timescale extension 2.4.0 installed and I am trying to get quantumleap connect to it. I most likely have some problem in my general setup for timescaledb since I do not get any output in docker logs.

my docker-compose setup is like this:
[code]
Documentation says I should set QL_CONFIG variable with path to quantumleap YAML configuration file otherwise Crate backend will be used. I haven't

[2021-06-01 12:22] chicco785 commented on #482
@AbyssCoreInc as by ticket and readme.md, timescale > 1.7.5 is not currently supported

[2021-06-01 12:51] AbyssCoreInc commented on #482
Do you know how the incompatibility manifests? If I have time I could see if there is anything I can do to help making it compatible.

[2021-06-01 13:11] chicco785 commented on #482
some sql bombing :) but i didn't save the stack trace :( to reproduce, just set the env variable [`QL_DEFAULT_DB`](https://quantumleap.readthedocs.io/en/latest/admin/configuration/) to `timescale` and have look in the logs.

[2021-06-02 07:09] pooja1pathak commented on #424
Hi @chicco785 I would like to contribute for this issue. Please assign it to me.

I want to confirm if we need to add deprecated message in API and the remove API in later release or we can remove API in this release only.

[2021-06-02 07:38] chicco785 commented on #424
hi,
deprecation message is already there:

https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/reporter/reporter.py#L236

you can proceed with the removal now, but we will merge the PR only later, is that ok?

[2021-06-02 10:06] pooja1pathak commented on #424
Yes, that is perfectly fine. I'll raise the PR.

[2021-06-02 17:16] agaldemas commented on #469
Hello @chicco785, the idea is to interact **like** with a context broker (with GET /v2/entities/ query or another method path if you prefer), but through **QL**, to query CrateDB, and receive an array of NGSI V2 entities composed of historical data, corresponding to the request parameters.
In any case the context broker doesn't store history, the data tank is CrateDB, fed through QL, we could quer

[2021-06-04 12:53] c0c0n3 commented on #474
@BaurzhanSakhariev that's great news, thanks for letting us know!

[2021-06-04 13:18] chicco785 commented on #474
@IEMaestro #481 introduce crate support up to 4.5.1 (tested) if you want to introduce password and  user for crate, we are happy :) it's should be really a simple job :)

* define proper env variable names
* use the env reader utility to load them in the crate translator instance: https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/translators/crate.py#L264
* expand init to use

[2021-06-04 16:13] chicco785 commented on #482
@AbyssCoreInc

actually, some latest changes may have solved the issue: in PR #492 I just added a multi matrix test
including new versions of timescale in it (but only for translators, issue may be exposed only in reporters),
and translators tests are all good...

if you wanna play around, to set-up the dev environment and run tests:
- git clone the repo
- install python 3.8.5
- change in deps.env

[2021-06-04 19:53] chicco785 commented on #467
fixed by #492

[2021-06-08 17:56] pooja1pathak commented on #469
@chicco785 @c0c0n3  Gentle Reminder for https://github.com/orchestracities/ngsi-timeseries-api/issues/469#issuecomment-851415593

[2021-06-09 06:55] pooja1pathak commented on #296
Hi @chicco785 @c0c0n3 I would like o contribute on this issue. Please assign it to me.

[2021-06-09 07:09] chicco785 commented on #296
hi @pooja1pathak sure, please have a look at @c0c0n3 considerations on the matter in order to proceed:
https://github.com/orchestracities/ngsi-timeseries-api/issues/296#issuecomment-613033340

[2021-06-17 10:18] pooja1pathak commented on #296
Hi @chicco785 @c0c0n3 I have analyzed this issue and found very strange behavior of QL. Please find below points:

1. We cannot use ```aggrMethod``` without mentioning ```attrs``` in query parameter.
2. ```aggrMethod``` does not work for APIs: ```v2/entities/<entityId>```, ```v2/types/<entityType>```,```v2/attrs```

For point 1: If we are mentioning attrs in query parameter of the API then this is

[2021-06-17 11:16] chicco785 opened #495 "random failures on integration"
time between notifications seems to be very variable, due to that number of entries received is not always the expected one (to be debugged better)

https://github.com/orchestracities/ngsi-timeseries-api/blob/964117c42d7cf4d1c51ecfc6f9accd78976d7a2a/src/tests/common.py#L164

[2021-06-24 11:02] pooja1pathak commented on #369
@chicco785 @c0c0n3 as I can see PR #373 is merged now. I wanted to ask if PR solved this issue or not?

[2021-07-01 05:27] daminichopra commented on #478
Hi @tstorek , I was trying to check the above query and I got below response:

`curl -X 'GET'   'http://localhost:8668/v2/entities?limit=10000'   -H 'accept: text/plain'`

Response:
[code]
I am getting `entityType` in response. Please let me know if I am missing something.

[2021-07-01 06:16] daminichopra commented on #345
Hi @c0c0n3 @chicco785 , Please assign this issue to me.

[2021-07-05 17:50] pooja1pathak commented on #106
@chicco785 @c0c0n3 I would like to contribute on this issue. Please assign it to me.

[2021-07-06 05:29] tstorek commented on #478
Hi,
This is correct. But if you go deeper on a dedicated entity, e. g. /entities/Room1, the info is missing, although i would expect the entity-model has to be th same in the list and the single version.

I would also suggest to return a values field in /entities containing the last value.

[2021-07-06 09:45] daminichopra commented on #483
Hi @chicco785 @c0c0n3 , I have been trying to test for [comment](https://github.com/orchestracities/ngsi-timeseries-api/issues/430#issuecomment-777781639) but not able to notify data to quantum leap using geo queries and not able to find proper usage of geo queries API . Please let me know if I am missing something. Also, I would like to contribute in this issue.

[2021-07-06 17:21] pooja1pathak commented on #106
Hi @chicco785 @c0c0n3 I have analyzed this issue. As per my analysis this issue does not exists in present code.

I have tested with ```attributes``` of non-numeric types i.e. ```Boolean``` and ```Text```. For ```sum``` and ```avg``` the output of the query is ```404NOT FOUND``` with the body:
[code]
While for ```min```, ```max``` and ```count``` , query returns the correct response.

Please confi

[2021-07-08 05:47] pooja1pathak commented on #102
Hi @chicco785 I would like to contribute on this issue. Please assign it to me.

[2021-07-08 18:18] c0c0n3 commented on #106
Hi @pooja1pathak thanks for looking into this, that's great! Can you add your tests to the reporter? Just to make out test suite more robust :-)

Regarding the returned code and message, it should be better in my opinion. If an operation makes no sense for a given type we should say so explicitly, rather than making the client believe there's no records. Thoughts?

[2021-07-08 18:19] c0c0n3 commented on #102
@pooja1pathak

done, thank you so much!

[2021-07-08 18:26] c0c0n3 commented on #483
Hi @daminichopra thanks alot for looking into this! Geo-queries are documented in the API spec, then we've got Python docs too, e.g. https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/geocoding/slf/__init__.py and you can also look at the original pr #111...

[2021-07-08 18:37] c0c0n3 commented on #469
yep, I agree. But in my opinion if we enough people are willing to contribute to improve queries, we should take a more radical approach where we either replace the current implementation with a tool like sql alchemy or if not possible we roll our own little query language---i.e. query input gets parsed into an ast, then the ast gets converted to sql, finally the sql gets run. This avoids writing

[2021-07-08 18:37] c0c0n3 commented on #345
done thank you!!

[2021-07-08 18:40] c0c0n3 commented on #296
Hi @pooja1pathak that;s great. Can you share your tests?

[2021-07-08 19:29] pooja1pathak commented on #102
@chicco785 @c0c0n3 I have checked the APIs. As we already have query parameter ```lastN``` to get the latest value except for ```/v2/entities```, please find below suggestions for resolution of this issue:
1. We can include attribute name and last value in the response of ```/v2/entities``` and return response as returned in case of [orion](https://fiware-orion.readthedocs.io/en/master/user/walkth

[2021-07-11 20:00] pooja1pathak commented on #106
Hi @c0c0n3 ,

in sql_translator.py https://github.com/orchestracities/ngsi-timeseries-api/blob/4c9bdc42a06f9d6a45b9dc107dd95428ee2c284f/src/translators/sql_translator.py#L1112 , empty entity is returned in case any exception occur in sql query. So, in query_XXXX.py when no entity is received it returns ```404 NOT FOUND``` as response.
For example in case of Boolean if ```aggrMethod=avg``` is used

[2021-07-13 09:17] agaldemas commented on #469
We need urgently this array of entities as output, for a project with Knowage, we already are in late, so we need to take the fastest way, keeping the same philosophy as for now for database query.
If later there's a change, we will adapt !

[2021-07-14 16:24] pooja1pathak commented on #296
Hi @c0c0n3 , Please find below details:
I have created an entity in QL by notify with data:
[code]
Then I have executed below GET requests on QL which returned ```200 OK``` response with the data:
[code]
Below are the GET request for which ```404 NOT FOUND``` is returned:
[code]
Please let me know if I need to add these scenarios in ```src/reporter/tests/test_NTNENA.py```

[2021-07-19 04:12] daminichopra commented on #483
@c0c0n3 , I will look into it. Thank you

[2021-07-24 16:12] pooja1pathak commented on #106
Hi @c0c0n3 @chicco785 I have raise PR #499 as a fix for this issue by adding test cases. Some already written test cases are failing in my local debug environment. Can you raise a separate issue for the same if test cases have some issue which we can fix?
I will start working on the issue once it is raised :-)

[2021-07-27 17:04] pooja1pathak commented on #102
As per my understanding we should opt for option 2 i.e., Create a new API ```/v2/<entityID>``` returning the last value of a given entity.

I am working on that part. Please let me know if you have any other suggestion or concern.

[2021-08-03 04:26] daminichopra commented on #483
Hi @c0c0n3 , Below are some observation points after tested geo queries with Crate 4.4+

1. Regarding this [comment](https://github.com/orchestracities/ngsi-timeseries-api/issues/430#issuecomment-777781639) we  have to use _doc[loc_centroid] instead of just the plain column name <br> `select latitude(_doc['location_centroid']), longitude(_doc['location_centroid']) from  ettest;`

2. Also, `SELECT

[2021-08-06 13:55] pooja1pathak commented on #495
Hi @chicco785 @c0c0n3 I want to contribute on this issue. Please assign it to me.

[2021-08-10 07:04] daminichopra commented on #343
HI @c0c0n3 @chicco785 , I would like to contribute this issue.
Also, i have tested the description with cratedb version 4.4+ and 4.6 + versions and still same limitation  when using the Crate backend.

[2021-08-11 20:31] chicco785 commented on #416
pr #501 provides a queue mechanism to better handle heavy load

[2021-08-12 12:28] #419 closed

[2021-08-12 18:17] chicco785 commented on #476
we agreed that when we are ready for 0.9 we will implement this change which is more invasive for clients.

[2021-08-12 18:19] chicco785 opened #514 "add a warning for the change of the response format from 0.9 version"
**Is your feature request related to a problem? Please describe.**
It was agreed to use `id` and `type` rather than `entityId` and `entityType` from version 0.9.
it would be good to notify users "actively"

**Describe the solution you'd like**
Let's add a warning in all query responses about the change.

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/orc

[2021-08-12 18:23] chicco785 opened #515 "coveralls push fails when pr are issued from external repositories"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. From an external clone create a PR
2. See error in the build

**Expected behavior**
Coveralls push works correctly :)

**Environment (please complete the following information):**
N/A

**Additional context**
https://app.circleci.com/pipelines/github/orchestracities

[2021-08-12 19:56] #515 closed

[2021-08-13 10:14] daminichopra commented on #483
Soft Reminder!!
Please let me know if any further investigation is needed to be done. Thank you

[2021-08-13 12:34] pooja1pathak commented on #369
@chicco785 any update on this?

[2021-08-13 13:40] chicco785 opened #518 "insert a start check to verify that crate back off factor is less than 120 and it does not conflict with WQ retry"
It should be okay, but there must be a way to configure it since w/ WQ you also have retry intervals, so the admin should be able to configure the Crate client's backoff factor to make sure the total amount spent by the client retrying a connection is less than the minimum retry interval in WQ...

_Originally posted by @c0c0n3 in https://github.com/orchestracities/ngsi-timeseries-api/pull/503#disc

[2021-08-16 07:43] c0c0n3 commented on #483
Hi @daminichopra!

Sorry for the slow reply, I was away on holiday and busy w/ other projects. Also I'll be away for another two weeks, but I'll try to catch up w/ QL issues in September.

Re: your investigation, that's great thank you so much. I don't think we need to dig deeper, since it looks like you've already got to the bottom of it :-)

[2021-08-16 07:53] c0c0n3 commented on #296
Hi @pooja1pathak!

Sorry for the slow reply, I was away on holiday and busy w/ other projects. Also I'll be away for another two weeks, but I'll try to catch up w/ QL issues in September.

that'd be great, I suppose you could do this as part of #498? thank you soooo much!!

[2021-08-16 07:59] c0c0n3 commented on #469
I can relate to that :-) I suppose my suggestion isn't a short term kind of thing, so we should rather go ahead w/ what you proposed, as long as @chicco785 is okay w/ that?

[2021-08-16 22:54] #478 closed

[2021-08-16 23:27] chicco785 opened #521 "/v2/entities result ordering is not consistent"
**Describe the bug**
The order of the results is not fixed when queries are repeated.

**To Reproduce**
N/A

**Expected behavior**

The same query result in the same output

**Environment (please complete the following information):**
N/A

**Additional context**
N/A

[2021-08-16 23:49] #521 closed

[2021-08-17 21:22] #482 closed

[2021-08-17 21:25] chicco785 commented on #447
in progress see #524

[2021-08-17 21:25] #416 closed

[2021-08-17 21:27] #343 closed

[2021-08-17 21:28] #157 closed

[2021-08-17 21:33] #273 closed

[2021-08-17 21:34] #292 closed

[2021-08-17 21:35] #306 closed

[2021-08-17 21:36] #345 closed

[2021-08-17 21:42] #476 closed

[2021-08-18 10:14] chicco785 opened #530 "refactor integration and bc tests to use lovely-pytest-docker"
**Is your feature request related to a problem? Please describe.**
Currently integration and bc tests depend on external startup of docker,
this limits the scenario testing possibilities and is not *programmable*.

**Describe the solution you'd like**
tests starts and stop docker

**Describe alternatives you've considered**
Leave everything as it is

**Additional context**
N/A

[2021-08-18 10:14] chicco785 opened #531 "refactor reporter tests to use lovely-pytest-docker"
**Is your feature request related to a problem? Please describe.**
Currently reporter tests  depend on external startup of docker,
this limits the scenario testing possibilities and is not *programmable*.

e.g. how to test what happens when a db service goes down?

**Describe the solution you'd like**
tests starts and stop docker as needed.

**Describe alternatives you've considered**
Leave everyt

[2021-08-18 11:58] #415 closed

[2021-08-18 13:57] modularTaco commented on #474
Thanks @IEMaestro for this solution!

We're now also running QuantumLeap with cratedb 4.6.1 and authentication for all clients, except QL.

We run QL and cratedb in Kubernetes and had a bit of a chicken egg problem, but now it works smoothly.

The problem was that we've added the host based authentication configuration to cratedb as follows:
[code]

But cratedb was not able to resolve ql-quantumle

[2021-08-18 14:04] chicco785 commented on #474
good job! trust among services is a complex issue. my recommendation is that rather than managing it service by service, a framework like istio can better govern this

[2021-08-19 09:21] daminichopra commented on #514
@chicco785 , Please assign this issue to me

[2021-08-19 15:45] chicco785 opened #532 "track attribute(s) linked to `time_index`"
**Is your feature request related to a problem? Please describe.**
In the current implementation when a new entry is recorded, the information (of course if available) on which attributes are linked to the `time_index` stored is lost.

This means we are not able to directly determine all the point in time a specific attribute was updated (which may be relevant in some scenarios, including support

[2021-08-19 16:50] chicco785 opened #533 "compute entry id for each received entity notification"
**Is your feature request related to a problem? Please describe.**
At the time being there is no unique identifier of registered timeseries entries. This  may simplify some queries, and help to support some of the ngsi-ld requirements.

From NGSI-LD spec for Properties:
* "instanceId": a URI uniquely identifying a Property instance. System generated. Optional.

For temporal representations, system

[2021-08-20 05:07] daminichopra commented on #242
@chicco785 @chicco785,  Please close this issue as [PR](https://github.com/orchestracities/ngsi-timeseries-api/pull/503) is merged and closed. Thank you

[2021-08-20 06:04] #242 closed

[2021-08-24 20:35] chicco785 commented on #469
@pooja1pathak is working on PR #502 that should provide what you need once landed, using `/op/query` endpoint.

[2021-08-30 07:58] ilarimikkonen opened #537 "arbitrary type arrays cause errors when inserting to Timescale"
**Describe the bug**
Sending a data (interesting part is the valueArray) like this:
[code]

via Orion context broker causes this error in QL:

[code]

**To Reproduce**
send the data shown above and observe the error. Error in question is copied from Timescale UI.

**Expected behavior**
Data would be stored in Timescale as Text array ot JSON blob

**Environment (please complete the following inform

[2021-08-30 08:10] ilarimikkonen opened #538 "https://app.swaggerhub.com/apis/smartsdk/ngsi-tsdb/0.8.2 page does not exists"
**Describe the bug**
the latest version of the API description is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. visit page: https://app.swaggerhub.com/apis/smartsdk/ngsi-tsdb/0.8.2

**Expected behavior**
page exists and documentation is rendered and correct per new version

**Environment (please complete the following information):**
N/A

[2021-08-30 08:16] chicco785 commented on #537
the problem could be due to the `type` and automatic detection, text arrays are covered in tests:

https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/reporter/tests/test_notify.py#L588

[2021-08-30 09:46] ilarimikkonen opened #539 "Prometheus metrix support"
**Is your feature request related to a problem? Please describe.**
When running in Kubernetes environment, it would be cool to have Prometheus support. Right now the [heath API](https://app.swaggerhub.com/apis/smartsdk/ngsi-tsdb/0.8.1#/meta/reporter.health.get_health) seems to be the only way about this

**Describe the solution you'd like**
Expose Prometheus metrics.

**Describe alternatives you'v

[2021-08-30 23:40] chicco785 commented on #538
fixed

[2021-08-30 23:40] #538 closed

[2021-08-31 01:22] chicco785 commented on #532
@daminichopra this should build on top of pr #496, so before any action, let's wait @jason-fox comments on that pr.

[2021-08-31 01:28] chicco785 opened #545 "update to `docker_services.stop` function"
stop was not supported in current release of https://github.com/lovelysystems/lovely-pytest-docker, so we used accessed private functions, which is not ideal:
https://github.com/orchestracities/ngsi-timeseries-api/blob/d9d6cdf5cca31cd2756fae5c7ba6d2f95d7bb39e/src/translators/tests/test_health.py#L25

when a new release of lovely-pytest-docker including our contribution is available, let's fix this

[2021-08-31 09:49] ilarimikkonen commented on #537
if the type is omitted, then it defaults to "type": "Thing",

[2021-08-31 16:48] chicco785 opened #546 "If possible reference proper document about `options=sysAttrs`."
This is `options=sysAttrs` - the `modifiedAt` is generated by the Context Broker for each attribute and for the entity as a whole. I think there could be a divergence if an entity has multiple attributes and only some are updated since the unmodified attributes would have an older `modifiedAt` timestamp.

Obviously this won't be an issue for a subscribing component since the notification will only

[2021-08-31 16:50] #433 closed

[2021-08-31 16:53] chicco785 opened #547 "fix spec for `query` and refactor to a better naming"
array is correct

_Originally posted by @chicco785 in https://github.com/orchestracities/ngsi-timeseries-api/pull/502#r699509144_

[2021-08-31 16:56] chicco785 opened #548 "remove "pop" of `dataModified`"
ok, I will fix it separately

_Originally posted by @chicco785 in https://github.com/orchestracities/ngsi-timeseries-api/pull/502#discussion_r696084205_

[2021-08-31 18:09] jason-fox commented on #546
From the NGSI-LD [ETSI Specification](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.04.01_60/gs_cim009v010401p.pdf)

[2021-09-01 05:30] pooja1pathak commented on #102
Closing this issue as #502  is merged.

[2021-09-01 05:30] #102 closed

[2021-09-01 06:01] chicco785 commented on #546
thanks!

[2021-09-01 08:09] chicco785 commented on #537
@ilarimikkonen @albertoabellagarcia as you can see from the pr #540 the bug is confirmed, we will review and merge the pr in the next days.

[2021-09-01 08:16] chicco785 commented on #395
this should be fixed by #496

[2021-09-01 08:18] chicco785 opened #552 "NGSI-LD support for datasetIds"
**Is your feature request related to a problem? Please describe.**
As reported by @kzangeli:

An attribute with datasetIds (or: multi-instances) are represented as an array in NGSI-LD, while that would provoke an error in NGSIv2:

"P1": [
{
"type": "Property",
"value": 4,
"datasetId": "urn:ngsi-ld:xxx:north"
},
{
"type": "Property",
"value": 9,
"datasetId": "urn:ngsi-ld:xxx:south"
}
]

My personal

[2021-09-01 08:31] #395 closed

[2021-09-01 11:58] #546 closed

[2021-09-01 12:19] diego-gv opened #553 "crate-export script - Connection refused"
**Describe the problem**
I have a CrateDB deployed with ports 4200 and 4300 accessible and an mttest.etnoiselevelobserved table with about 100 rows.

When running the script it gives a connection error. I have tried to specify all the parameters explicitly.

**Command and result**
[code]

Thanks,

[2021-09-01 12:32] chicco785 commented on #553
the script is not well maintained, since it used ad-hoc.
my first guess is that with new versions of crate asks for user, and this is not passed now.
if you are decent at python, that's a 5 minutes fix, and we welcome a pr.

[2021-09-01 12:34] diego-gv commented on #553
I'm using Crate version 3.3

I will test it and if the error is fixed I will do a PR.

Thanks.

[2021-09-01 12:39] chicco785 commented on #553
mmm, with crate 3.3 should not be an issue, is the host configured?

[code]

[2021-09-01 15:55] diego-gv commented on #553
Hello, it's already fixed. It seems that there was a problem with the Docker network, so after restarting the docker daemon the script works correctly.

Thanks and I close issue.

[2021-09-01 15:55] #553 closed

[2021-09-02 04:16] daminichopra commented on #532
@chicco785 , Can i proceed as #496 has been closed?

[2021-09-02 06:59] chicco785 commented on #532
@daminichopra yes!

[2021-09-02 14:55] pooja1pathak commented on #469
@agaldemas PR #502 is now merged in master branch. Please let us know if it solves your purpose.

[2021-09-02 18:55] pooja1pathak commented on #495
@chicco785 I have reverted the fix of #508 and then ran test_integration.py in my local environment. 5 test cases are failing every time I run the test file namely:
```test_integration_basic, test_integration[t1], test_integration[t2], test_air_quality_observed[t1], test_air_quality_observed[t2]```

Each of them are failing for ```404 Not Found```.

I am using command to run the test case as:  ```

[2021-09-02 22:36] chicco785 commented on #495
@pooja1pathak to actually test the issue, you need only to change this `False` into `True`:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/tests/test_integration.py#L53

i am not sure what's your set-up, so it may not be easy to understand why `run_tests.sh` is not working.

i suppose:
- you have docker
- you have pipenv
- you followed instructions here: https://quantumleap

[2021-09-03 07:25] agaldemas commented on #469
Hello, @pooja1pathak, not exactly, but it should be useful anyway !

On our side we have implemented a new method `/v2/entitiesArray/{entityType}`, to be able to retrieve several entities at the same time, from the same type, in one request
I'll propose a PR soon, before we still need to add tests.

[2021-09-03 07:38] chicco785 commented on #469
hi @agaldemas,
rather than a new end point, which will not be compliant with original ngsi v2 api structure, i recommend to extend the `/v2/op/query` api as needed. so to get value for all entities of a type, you will need to introduce support for `idPattern`, which is not yet covered.

Beyond that, if you wish to have data for a historical range, you could add an option "e.g. options=historical"

[2021-09-04 11:37] agaldemas commented on #469
I'm OK with your proposal, you're right our new operation, break the ngsi v2 api structure.
It shouldn't be too difficult to change.
Thanks for your suggestion !
We'll propose the PR after reviewing our copy,
see you soon !

[2021-09-04 11:39] agaldemas commented on #469
for @HugoT852 to be informed

[2021-09-06 11:36] albertoabellagarcia commented on #537
What I can tell you is that if you change the type Moosbllord by type Text it works.

[2021-09-07 20:13] pooja1pathak commented on #495
@chicco785 I have followed the instructions and changed False into True:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/tests/test_integration.py#L53. But I am unable to reproduce the issue. Only backwards_compatibility and integration test are failing for 500 in my environment, rest all the tests are passed.

Please let me know if there is anything else I can do to reprodu

[2021-09-08 03:06] #537 closed

[2021-09-08 04:18] chicco785 opened #557 "due to docker hub policy change, automated builds are broken"
**Describe the bug**
New docker hub policies supports automated builds only for not free accounts. Due to that, we don't have automatic
releases of new images.

**To Reproduce**
Create a branch, pr, or merge on the main: no image will be generated.

**Expected behavior**
A new images is available in docker hub.

**Environment (please complete the following information):**
N/A

**Additional context

[2021-09-08 06:56] Ajaysamdyan commented on #147
Hi @chicco785, I would like to contribute on this issue. Please assign it to me.

[2021-09-08 07:01] chicco785 commented on #147
hi @Ajaysamdyan,
as by @c0c0n3 analysis this is an issue specific to crate db, so basically you need to looking into crate translator:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/translators/crate.py

the thing may be a bit tricky to handle without messing up also sql_translator, but not impacting it would be the best option I think.

[2021-09-08 07:09] #440 closed

[2021-09-08 07:34] chicco785 commented on #349
@pinkerltm for your information, @ilarimikkonen sponsored a queue-based version of ql which is available since 0.8.2, you can refer to the docs:
- https://quantumleap.readthedocs.io/en/latest/admin/installing/#deploy-quantumleap-with-the-work-queue
- https://quantumleap.readthedocs.io/en/latest/admin/wq/

[2021-09-08 07:37] chicco785 opened #559 "update cache backend section with info on geocoding cache and wq cache"
**Is your feature request related to a problem? Please describe.**

Caching doc does not cover geoqueries and wq:
https://github.com/orchestracities/ngsi-timeseries-api/blame/master/docs/manuals/index.md#L239

**Describe the solution you'd like**
More complete doc

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-08 08:23] #557 closed

[2021-09-08 08:28] chicco785 commented on #537
@ilarimikkonen the pr was merged, a new image (tag as per new policy of images for master is `edge` ,`latest` from 0.8.3 will map only to the latest official release)

[2021-09-08 16:07] Ajaysamdyan commented on #147
Hi @c0c0n3 , thanks for sharing the details and guidance. As per my primary investigation on cratedb,  i have tested and verify that  cratedb support the insertion of array object of different type like: text, Boolean, number etc. I have executed the below mentioned some queries for verification:

CREATE TABLE my_table_arrays ( tags array(text), objects array(object as (age integer, name text)));

[2021-09-08 16:39] c0c0n3 commented on #539
@ilarimikkonen thanks for the suggestion. This feature could be quite useful actually.

Design note. We could implement this relatively easily since we have telemetry already. To avoid impacting QL operation, we could have a separate process import the CSV generated by Telemetry into Prometheus. This way the whole import process can even run in a separate pod which would be ideal from a performanc

[2021-09-08 16:47] c0c0n3 commented on #545
There's a workaround developed as part of the work q:

- https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/utils/tests/docker.py

I was going to open a PR w/ lovely docker but then I ran out of time, so I took a shortcut :-)

Example usage:

- https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/wq/tests/conftest.py

Notice we can leverage the approach to get

[2021-09-08 17:02] c0c0n3 commented on #147
Hi @Ajaysamdyan, that's great, you're definitely heading in the right direction. One thing to consider is that my comments are ancient and probably only applicable to Crate 3 which we don't support anymore. Do new versions of Crate support inserting and then querying an arbitrary JSON array? If so then, we don't need the typed approach anymore. In other words, would this work with a recent version

[2021-09-09 19:21] pooja1pathak commented on #495
@chicco785 I am unable to reproduce this issue at my local environment. Please confirm if issue is reproduced at your setup.

[2021-09-10 07:35] chicco785 opened #563 "align ` servicePath: none` behaviour with the one of orion"
1. send data with no fiware-servicePath to orion and query ql using fiware-servicePath: / : Result was ```200 OK```
2. send data with no fiware-servicePath to orion and query ql using no fiware-servicePath : Result was ```404 Not Found```
3. without using fiware-servicePath : Created entity at ql using notify API and register ql in orion as datasource for that entity. Then query orion for entity :

[2021-09-10 07:37] #547 closed

[2021-09-10 07:37] #548 closed

[2021-09-10 07:38] #467 closed

[2021-09-14 12:30] Ajaysamdyan commented on #147
Hi @c0c0n3 , Please find the major blue points supported by latest crateDB version;

1. All array elements must have the same data type, which determines the inner type of the array
2. CrateDB currently does only support JSON-String / properties embedded in curly brackets { }

So, currently inserting and casting of a json object array of different type is not supported by crateDB.
Kindly find the

[2021-09-15 12:59] c0c0n3 commented on #147
Hi @Ajaysamdyan, thanks for sharing your findings. I think I might've found a workaround that could let us store JSON arrays in Crate---tested with version 4.5.1. Here's a sum up.

To recap, here's a pseudo JSON (sum) type definition

[code]

Notice the recursive definition of array `[]`. In JSON, an array has type `array of JSON` so array members are allowed to be any JSON value in the above sum

[2021-09-17 06:42] Ajaysamdyan commented on #147
Hi @c0c0n3, Thanks for sharing the test cases, I have also performed this test and observed the same behavior of cratedb.

Please find the below mentioned test case of dynamic insertion:
[code]
**Homogeneous Type:**
[code]
**Mixed_Array Type:**
[code]
Here, a new table t3 created  using same dynamic insertion.

It seems that `cratedb` does not support the above mixed array data types.
Please corre

[2021-09-17 07:54] c0c0n3 commented on #147
Hi @Ajaysamdyan, that's brilliant, thanks for this and thanks for asking the Crate community about mixed-type support. Let's wait to see what the answer is and then we'll take it from there.

[2021-09-17 12:02] Ajaysamdyan commented on #147
Hi @c0c0n3 , As per the discussion with `crate community` today, it has been found that it is a `cratedb`  `Admin UI` bug. And thay are working on to fix this issue.

 `Chat link ;`
https://community.crate.io/t/is-cratedb-support-mixed-array-type-insertion-and-querying-of-the-column/809/

[2021-09-17 14:03] pooja1pathak commented on #533
@chicco785 I would like to contribute on this issue. For that I need little clarification on:

We need to create a new column named ```instanceId```, and whenever we receive an update for entity we should add unique value to ```instanceId```. So each row inside the table is uniquely identified by ```instanceId```

[2021-09-21 09:41] ilarimikkonen opened #566 "Improvements to FIWARE component logging in case of data loss"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when data is lost and I don't know about it.

**Describe the solution you'd like**
Per our definition, the goal of a data or smart city platform is that it collects data without loss or errors for further analysis and/or distribution. When utilizing the combination of Orion context broker, QuantumLeap and Time

[2021-09-21 13:28] c0c0n3 commented on #147
Hi @Ajaysamdyan

Ha! I actually tested the queries through the admin UI too and just assumed the data wasn't there. Glad it's just a display issue and the data doesn't actually get zapped :-)

Unless @chicco785 has anything on the contrary, we could go ahead with the implementation I suppose?

[2021-09-21 13:42] c0c0n3 commented on #566
@ilarimikkonen, thanks so much for opening this issue!

Yea. I share your frustration.

Yep. What we do in our prod environments, we've got monitoring tools to alert us if there are weird patterns in the data---e.g. we were expecting to receive an entity update in the last 10 mins, but the data isn;t in the entity table. But I also wish there was an off-the-shelf, integrated component that would d

[2021-09-21 14:11] Siedlerchr commented on #135
What is the status here? It's really important to have CORS support when you are calling QL from a web-app. Currently we have to use a reverse proxy to set the proper CORS headers.

[2021-09-22 10:38] daminichopra commented on #559
Hi  @c0c0n3 @chicco785 , I would like to contribute in this issue. Please assign
Thank you!!

[2021-09-22 17:48] pooja1pathak commented on #552
@chicco785 I have found value of datasetId for version 1.4 at [ngsi-ld](https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.4.jsonld)
[code]

In [Scorpio Broker](https://scorpio.readthedocs.io/_/downloads/en/latest/pdf/) at page 24, it is mentioned that attribute has this datasetId field as:
[code]
I am not sure if ```datasetId``` come along with the notification. I will verify this with ```or

[2021-09-23 06:21] kzangeli commented on #552
The datasetId should be part of notifications.
But, don't look for it in Orion-LD - datasetId is not fully supported yet in Orion-LD.

[2021-09-23 06:26] chicco785 commented on #552
thx @kzangeli

@pooja1pathak I think the important aspect for us is to understand how this is handled in the temporal queries, so that we find a coherent way to store this information that 1) allows to formulate queries that works for nsgi-ld temporal api; 2) is compatible with our current tabular format of storing data.
if you find some information on how this works for temporal queries, we can t

[2021-09-23 07:42] c0c0n3 commented on #552
hi guys, don't quote me on this b/c I could be totally wrong, but I've got a faint recollection of a chat I had w/ Martin about querying an LD graph along the time dimension. If my memory serves me well, the only thing we need to implement is the querying of the nodes, not the full graph w/ edges.

Now datasetID the way I understand it is encoding an edge b/w two nodes: the entity in which it is d

[2021-09-29 12:07] albertoabellagarcia commented on #537
So, what's the status of the issue. Should it be closed?

[2021-09-29 12:21] ilarimikkonen commented on #537
for me closed is ok.

[2021-09-29 12:38] chicco785 commented on #537
@ilarimikkonen if you tested the "edge" image and you confirm the resolution, fill free to close the issue (as its creator). if not, we will close it when it became "stale". thx!

[2021-10-04 13:18] amotl commented on #147
Hi there,

the CrateDB 4.6.4 hotfix release will include Admin UI 1.19.2, which includes the fix https://github.com/crate/crate-admin/pull/745 by @proddata - thanks a stack!

The Docker image is already available through `crate/crate:4.6.4`.

With kind regards,
Andreas.

[2021-10-07 07:26] DasNordlicht commented on #332
What is the status and has this been fixed in the meantime?

[2021-10-19 06:09] daminichopra commented on #518
Hi @c0c0n3 @chicco785 , I would like to contribute on this issue. Please assign

[2021-10-21 07:46] c0c0n3 opened #571 "Deprecate smartsdk image"
### Describe the issue
When moving the QL repo from smartsdk to orchestra, we missed the old smartsdk Docker image. At the moment, this is causing confusion among our users. For example, here's a report from the trenches by @jason-fox

In fact, the old smartsdk image is still there on DockerHub

- https://hub.docker.com/r/smartsdk/quantumleap

without any indication that you should actually use

-

[2021-11-08 13:36] jplindblom commented on #537
Tested with edge, fix works.

[2021-11-10 10:58] jaimeventura opened #576 "Links for documentation (in readme.md) are broken"
**Describe the bug**
It seems the documentation at readthedocs.io or README.md are partially broken.

**To Reproduce**
1.  Look at the "Contents" section of the readme.md
2. Click on "Usage"
3. Click on "User Manual"

**Expected behavior**
Should be able to access the documentation properly.

**Environment (please complete the following information):**
 - OS: macOS
 - Browser: chrome
 - Version la

[2021-11-10 13:19] tstorek commented on #417
@c0c0n3 Unfortunately, the response in this issue is incorrect and does not describe the actual behavior of the API.

1. the parameter `limit` does **only** restrict the number of records returned in one request. This does represent a LIMIT command in SQL
2. the `offset` parameter does only move the selection of records and moves only the starting record. Important to note that the usual direction

[2021-11-25 09:26] pooja1pathak commented on #571
Hi @c0c0n3 I looked into this issue, the Readme of dockerhub page is same as that of github's page. Also the link for repository is pointing to the newer one i.e., orchestracities.

I have not found any way to edit this page. Please let me know if we can edit dockerhub page by github or need manually edit the page on dockerhub (I don't have access to edit the page manually).

[2021-11-25 10:04] jason-fox commented on #571
You'll need to have edit access and amend the page manually. The obsolete image isn't building from GitHub any more.

[2021-12-01 14:52] pooja1pathak commented on #377
Hi @chicco785 @c0c0n3 I have checked for this issue, I found that code for health.py already include check for timescale db.
PR #446 includes the changes where check for timescale db is included. As all the test cases passed after this code I believe the code is working fine for timescale db.

So, as per my understanding we can close this issue if we don't have any other requirement.

Please corre

[2021-12-02 17:02] pooja1pathak commented on #531
Hi @c0c0n3 @chicco785 I have gone through this issue and https://github.com/lovelysystems/lovely-pytest-docker , I have concluded below points:
1. We need to update conftest.py for docker fixtures.
2. We need to update all the test methods to use fixtures.
3. We need to add dependency of lovely-pytest-docker which can be installed using pip.
4. We can use docker-compose.yml files which are already

[2021-12-06 06:23] daminichopra commented on #397
Hi @chicco785 @c0c0n3 , Please assign this issue to me, I would like to contribute.
Also , Shall I take reference of this [comment](https://github.com/crate/crate-python/issues/393#issuecomment-738147528) for further fix of this issue.

Thank You.

[2021-12-07 19:50] chicco785 commented on #571
docker hub page modified manually.

[2021-12-07 19:50] #571 closed

[2021-12-07 19:50] #576 closed

[2021-12-07 19:50] #559 closed

[2021-12-07 19:55] chicco785 commented on #531
@pooja1pathak fyi, we are already lovely-pytest-docker, but not for reporter test.

see for example:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/translators/tests/conftest.py#L26

[2021-12-07 20:02] chicco785 commented on #474
@daminichopra @modularTaco already made a pr

[2021-12-07 20:10] chicco785 commented on #495
latest refactor by @c0c0n3 with the wait_for_insert, should have solved the issue. let's close and re-open if needed.

[2021-12-07 20:10] #495 closed

[2021-12-08 01:16] chicco785 commented on #566
k8s ecosystem offers a number of tools that extract logs from containers and publish them centralised.
I am not sure here what is the actual feature request and how this is specific to ql.

[2021-12-08 16:54] #514 closed

[2021-12-10 14:29] chicco785 commented on #468
@kzangeli sorry for not coming back before, have bee geopardised by other priorities :/

i took today some time to think about how to handle the whole thing, and I will be happy to get your feedback, and also, if you have time, schedule a quick chat.

As previously mentioned by @c0c0n3:
1. storing long names in the attribute values is not ideal for a relational db (not sure it's even possible in a

[2021-12-13 10:20] chicco785 opened #591 "store quantumleap version in metadata"
**Is your feature request related to a problem? Please describe.**

At the time being, it's not possible to know with which version of ql a schema was created, this could be useful for updates.

**Describe the solution you'd like**

Being able to retrieve the schema version for all backends used. This could be useful for updating schemas between one version and the other.

**Describe alternatives

[2021-12-13 10:23] chicco785 opened #592 "explore PyPy python runtime"
**Is your feature request related to a problem? Please describe.**

PyPy is supposed to be more performant than CPhyton

**Describe the solution you'd like**

Replace PyPy with CPhyton to increase ql performance.

**Describe alternatives you've considered**

Go on with official python

**Additional context**

N/A

[2021-12-13 10:32] kzangeli commented on #468
Let's meet and talk

[2021-12-14 06:26] daminichopra commented on #591
Hi @chicco785 @c0c0n3  , Please assign. I would like to work on this

[2021-12-14 08:44] pooja1pathak commented on #296
Closing issue as PR #498 is merged.

[2021-12-14 08:44] #296 closed

[2021-12-14 08:59] pooja1pathak commented on #533
Closing as PR #565 is merged.

[2021-12-14 08:59] #533 closed

[2021-12-15 05:36] chicco785 opened #598 "simplify docker compose files management"
**Is your feature request related to a problem? Please describe.**

We have a number of docker compose files around, and every time we need to update them consistently,
which is tedious.

**Describe the solution you'd like**

Leverage extension capabilities of docker compose to import defaults from a shared file:
https://docs.docker.com/compose/extends/

**Describe alternatives you've considered**

[2021-12-15 05:53] chicco785 commented on #377
hi @pooja1pathak, it is only partially tackled, ideally we should have a not critical check if a secondary db is also configured.

see note in the code https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/reporter/health.py#L91

[2021-12-15 08:53] chicco785 opened #599 "test_aggregation_different_types_crate random failures"
**Describe the bug**
`test_aggregation_different_types_crate` is failing randomly, most probably due to cratedb consolidation.
while we fixed the issue for old test, this was recently merged, and probably is not using the correct
wait_for mechanism.

[code]

**To Reproduce**
N/A is random... it mostly depends on assigned resource to crate.

**Expected behavior**
test passes :)

**Environment (plea

[2021-12-15 09:53] #407 closed

[2021-12-15 15:04] daminichopra opened #606 "Update Deprecated warning from "warn" to "warning""
**Describe the bug**
While running test cases there is deprecation warning for `warn`
Updated some left out files with `warning`

**To Reproduce**
NA

**Expected behavior**
NA
**Environment (please complete the following information):**
 - OS: [LINUX]
 - Browser [chrome]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2021-12-15 15:04] daminichopra commented on #606
Updated in [PR](https://github.com/orchestracities/ngsi-timeseries-api/pull/605)

[2021-12-15 16:08] #599 closed

[2021-12-16 09:52] chicco785 opened #609 "Support MQTT notification mechanism from Orion"
**Is your feature request related to a problem? Please describe.**
Orion introduced [mqtt notifications](https://fiware-orion.readthedocs.io/en/master/user/mqtt_notifications/index.html)
QL should be able to support also this type of notification for data inserts.

**Describe the solution you'd like**
A way to store data from mqtt queues.

**Describe alternatives you've considered**
Keeping only h

[2021-12-20 05:11] pooja1pathak commented on #424
Closing as PR #493 is merged.

[2021-12-20 05:11] #424 closed

[2022-01-04 15:54] c0c0n3 commented on #393
Hi @Panzki

Can you check if it's still broken in the latest QL release [v0.8.3](https://github.com/orchestracities/ngsi-timeseries-api/releases/tag/0.8.3)?

#586, which went into 0.8.3, might've fixed it...

Agree :-)

Not a priority at the moment, but we'll try fixing this some time in the next couple of months if it's still broken...

[2022-01-04 15:59] c0c0n3 commented on #448
Hi @Panzki,

thanks so much for the analysis, much appreciated! Now I can see exactly what went wrong, thanks so much for fishing out that diff!

Yep, we've got to fix this soon since we're using the latest QL version in a couple of K8s-based deployments ourselves too, but I can't give you an ETA for the fix at the moment though...

[2022-01-04 16:08] c0c0n3 commented on #417
@tstorek thanks so much for this. I'm reopening the issue so we can look at it again. Can you give us an example of where the API is broken? no need to use 10,000 records, 2 per page would do I guess? thanks alot!!

[2022-01-04 16:17] c0c0n3 commented on #397
Hi @daminichopra thanks for offering to work on this. Please read through the comments to #407. I think one option we should consider is to swap out pg8000 for Psycopg in the Postgres translator. Then see if Psycopg would work with Crate too, since it looks like Crate should support the PG wire protocol quite well these days?

[2022-01-04 17:00] c0c0n3 commented on #149
Hi @daminichopra thanks for offering to work on this!

You should read the "Geospatial properties of entities" section of the [v2 spec](https://fiware.github.io/specifications/ngsiv2/stable/).

Also our [SLF](https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/geocoding/slf) implementation comes w/ lots of Python docs and diagrams if memory serves, so you could have a look at th

[2022-01-04 17:03] c0c0n3 commented on #518
@daminichopra I've added my comments to #573, thanks alot!!

[2022-01-04 17:17] c0c0n3 commented on #566
@chicco785 I think the problem is that, quoting @ilarimikkonen

In fact, if memory serves, WQ logs get crammed up in a supervisord log file inside the container instead of getting written to `stdout`. So the logs aren't readily accessible to existing log scrapers? That right @ilarimikkonen? That's especially painful when you have supervisord configured to run multiple WQ processes within the same

[2022-01-04 17:47] c0c0n3 commented on #531
hi guys, I forgot to mention we already have a docker util that avoids the dependency on external libs:

- https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/utils/tests/docker.py

and here's an example usage

- https://github.com/orchestracities/ngsi-timeseries-api/blob/master/src/wq/tests/conftest.py

going forward we should avoid shell scripts as much as possible and put the

[2022-01-04 17:49] c0c0n3 commented on #531
also in the same vein, we should start thinking about how to get rid of docker boilerplate, see e.g. #598 about it.

[2022-01-05 07:50] ilarimikkonen commented on #566
that is correct.

[2022-01-05 13:23] c0c0n3 opened #613 "Which base image to use?"
### Is your feature request related to a problem? Please describe.
Is Alpine still the best Docker base image to use for releasing QL? It definitely seems to be in terms of size I think, but PR #612 highlighted it may not necessarily be the best when it comes to performance or security---follow the links posted in the PR comments to read some articles about that.

### Describe the solution you'd l

[2022-01-05 17:16] c0c0n3 opened #614 "Automated image vulnerability scan"
### Is your feature request related to a problem? Please describe.
Should we get a tool to scan the Docker images we build to sniff out any security vulnerabilities?

### Describe the solution you'd like
Here's a nice example contributed by @jason-fox of a GitHub action to run Anchore scanner over an image:

- https://github.com/flopezag/fiware-security/blob/master/sample-github-actions/anchore-ub

[2022-01-06 10:55] c0c0n3 commented on #614
PR #588 actually implemented a vulnerability scan through the [CodeQL Action](https://github.com/github/codeql-action). I haven't used myself any of those actions, so I've got no clue which one would be best for us and if they do pretty much the same thing.

@chicco785 is the scan done by the CodeQL action comparable to Anchore's? If so can we close this issue?

[2022-01-11 09:50] pooja1pathak commented on #552
Hi @c0c0n3 @chicco785 , can you please provide your suggestions on https://github.com/orchestracities/ngsi-timeseries-api/issues/552#issuecomment-948948296

[2022-01-11 19:07] c0c0n3 commented on #552
Hi @pooja1pathak! Thanks for the reminder. So I spent the whole afternoon reading up about RDF, JSON-LD, NGSI-LD and looking at other people's code. My head is spinning :-)

Anyways, here's the situation the way I understand it. Each NGSI-LD entity is a "subject" (node) in an RDF graph encoded as NGSI-LD. An entity property name stands in for an RDF "predicate", a graph edge from the entity node t

[2022-01-11 19:30] c0c0n3 commented on #468
Guys, it seems to me the solution suggested by @chicco785 is the only sensible thing to do at this stage. It won't cater for several NGSI-LD features but in my opinion it'll work in the majority of cases in practice, plus it's backward compatible w/ NGSI v2 which is a boon to the majority of our users I reckon.

Here's some things we won't be able to do easily:

1. Multi attributes---see my [comme

[2022-01-12 13:11] chicco785 commented on #614
not sure it's comparable (i.e. all the same feature are covered) but the tools analyse dependencies and code vulnerabilities

[2022-01-12 13:13] chicco785 commented on #614
https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository
https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph

[2022-01-12 13:34] chicco785 commented on #566
@ilarimikkonen most probably you can just configure supervisord as per your needs, see:
http://veithen.io/2015/01/08/supervisord-redirecting-stdout.html

[2022-01-18 09:10] modularTaco commented on #474
@chicco785 @c0c0n3 as this seems to be part of the [0.8.3](https://github.com/orchestracities/ngsi-timeseries-api/releases/tag/0.8.3) release, can this issue be closed?

[2022-01-18 09:12] #474 closed

[2022-01-28 09:19] ilarimikkonen commented on #566
good idea, we'll test that and see how it goes.

[2022-01-31 09:52] c0c0n3 opened #618 "autopep double escape in multiline string literals"
### Describe the bug
With our linting configuration, it sometime autopep escapes escape chars that it shouldn't---see [this comment][comment] to #499 about it.

### To Reproduce
Install autopep and run the command line in `lint.py.sh`

[code]

Git should report that `timescale-container/quantumleap-db-setup.py` changed. If you do a diff you should see a `\` character being escaped. That shouldn't

[2022-01-31 10:01] chicco785 commented on #618
@c0c0n3 this is not happening for the github workflow afaik, maybe we have just to adjust something in the lint script?

[2022-01-31 10:04] pooja1pathak commented on #606
closing as PR #605 is merged

[2022-01-31 10:04] #606 closed

[2022-01-31 10:05] c0c0n3 commented on #618
@chicco785 what autopep8 version do we have in CircleCI? I used the latest 1.6.0, maybe that doesn't happen in older versions? we could also look into what the `--aggressive` flag does...

[2022-01-31 10:10] chicco785 commented on #618
linting is performed by github workflows, not in circle-ci:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/.github/workflows/lint.yml

still from the workflow, I can't infer the autopep version.

[2022-01-31 10:12] chicco785 commented on #618
here is the answer:
https://github.com/peter-evans/autopep8/blob/master/requirements.txt#L1

1.5.4

[2022-01-31 10:20] c0c0n3 commented on #618
So it's a problem (or feature?) with autopep v1.6. If I try linting w/ v `1.5.4`

[code]

git says nothing changed. In other words, autopep 1.5.4 does **not** escape `\connect` in `timescale-container/quantumleap-db-setup.py`.

[2022-01-31 10:27] chicco785 commented on #618
I think the first thing we need to understand is if pep 1.6 is right or not :) Then let's handle accordingly.

[2022-01-31 13:58] c0c0n3 opened #619 "Consider moving away from Pipenv"
### Is your feature request related to a problem? Please describe.
It looks like these days Pipenv is falling out of favour among Python devs. A few reasons:

- Python moved to `pyproject.toml` as the blessed way of managing deps and packaging projects.
- Pipenv doesn't support `pyproject.toml` .
- It looks like the Pipenv project hasn't been very active recently.

We should probably consider intr

[2022-02-11 14:13] c0c0n3 opened #624 "DockerHub image proliferation"
### Describe the bug
There's one helluva lot QL images on DockerHub at the moment, which could be confusing for our users. Was this intentional? Also unlike previous versions there's no `0.8.3` tag, but `release-0.8.3` instead. That intentional too?

### Expected behavior
Double check what's going on w/ CircleCI and if we're supposed to publish an image on every PR merge.

### Additional context
B

[2022-02-11 14:17] chicco785 commented on #624
for docker images, we are using github actions, no circle ci:
https://github.com/orchestracities/ngsi-timeseries-api/blob/master/.github/workflows/docker.yml

[2022-02-11 14:18] chicco785 commented on #624
i think the issue could be that for whatever reason the script takes the image tag from the github release name and not from the github tag...

[2022-02-11 14:19] c0c0n3 commented on #624
oh forgot to mention. `latest` is 7 months old

- https://hub.docker.com/r/orchestracities/quantumleap/tags?page=1&name=latest

so if someone pulls QL w/o specifying a tag, they'll get an old image.

[2022-02-11 14:31] c0c0n3 commented on #624
yeh, it could be. not sure how it actually works...

[2022-02-11 15:09] chicco785 commented on #624
https://github.com/orchestracities/ngsi-timeseries-api/runs/4546570621?check_suite_focus=true apparently the problem was that the build failed

[2022-02-11 16:56] chicco785 opened #626 "add cache to image build"
**Is your feature request related to a problem? Please describe.**

CI could benefit from docker caching, making time do build smaller.

**Describe the solution you'd like**

Caching docker image layers across builds

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2022-02-25 17:15] StWiemann opened #636 "Envs for CrateDB Authentication have wrong Names in Documentation"
The names of the envs for CrateDB-authentication are wrong in the [documentation](https://quantumleap.readthedocs.io/en/latest/admin/configuration/).
Debug-logs revealed that QL is expecting:

CRATE_DB_USER instead of CRATE_DB_USERNAME
and
CRATE_DB_PASS instead of CRATE_DB_PASSWORD

[2022-02-25 17:26] chicco785 commented on #636
@StWiemann thanks, I think this is a refuse from initial PR that introduced cratedb authentication. We will fix this shortly.

[2022-02-25 17:46] StWiemann opened #638 "QL 0.8.3 can't insert values into existing table."
``I just tried to upgrade to QL 0.8.3 because of the new authentication-feature.
Despite turning off caching and authentication I do get an error which is not present with QL 0.8.2 and the same config despite the version.

Orion:3.5.1
QL:0.8.3
CrateDB:4.6.7

Everything running in Kubernetes.

Config QL:
[code]

I have to admit that this is not much to go by, but maybe you guys recognize the fault.

[2022-02-25 21:24] #636 closed

[2022-02-25 21:28] chicco785 commented on #638
did you get the error while querying or doing inserts?

in principle doing an insert should automatically the column. if that's not the case, that's the problem here, and worst of all, this is captured by the backward compatibility tests :/

[2022-02-25 23:13] chicco785 commented on #638
the issue is during inserts. most probably in the crate version you created the table, the default policy for columns is "strict", and this makes it bomb

can you try as temp fix to alter the table from cratedb?
something like.
``
ALTER TABLE mtsome-service.etheatpump SET ( column_policy = 'dynamic'  );
``

[2022-02-26 10:47] StWiemann commented on #638
You are absolutely right. I was wondering what instanceid was refering to, but that is the problem. It is not there.

Yes, while isnerts. Thank you! I will give your fix a try right now and let you know.

[2022-02-26 13:55] chicco785 commented on #638
probably the table column_policy can't be changed :/
easy quick fix, manually add the column:

alter table "mtsome-service"."etheatpump" add column instanceid text;

we will find a way to fix this issue, but meanwhile, i guess that's fastest patch possible

[2022-02-26 14:26] StWiemann commented on #638
This worked! Thank you! Still strange behaviour that the insert with Int worked, but doesn't with text 🤷

[2022-03-14 13:16] c0c0n3 opened #641 "NGSI-LD compliance testing"
### Is your feature request related to a problem? Please describe.
How compliant are we with NGSI-LD? How compliant do we need to be? FIWARE/ETSI are busy developing an NGSI-LD compliance test suite:

- https://forge.etsi.org/rep/cim/ngsi-ld-test-suite/-/tree/develop

@martin-p-bauer mentioned this is still not 100% usable at the moment, but they'll develop it further. Eventually FIWARE will requi

[2022-03-21 07:57] chicco785 opened #642 "time filtering bug?"
**Describe the bug**
https://stackoverflow.com/questions/67932711/fiware-quantum-leap-date-query

[2022-03-21 09:50] chicco785 commented on #106
@c0c0n3 not sure after the last pr by @pooja1pathak this can be closed

[2022-03-22 07:01] pooja1pathak commented on #106
As per https://github.com/orchestracities/ngsi-timeseries-api/issues/106#issuecomment-876646841 , we only need to add tests. Closing this issue as PR is merged.

[2022-03-22 07:01] #106 closed

[2022-03-28 14:54] UncleDinoso opened #643 "Broken Pipe Error"
Hy, we got a error in quantum leap in different environments and dont know how to fix them

Environment: Azure and Nutanix Kubernetes, TimescaleDB

Error: Broken Pipe see Sreenshot (Sorry for not posting code, the log is gone)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/97948610/160425712-2aef5ad0-c3d5-4cd2-a951-0aba02d7121b.png)

[2022-03-28 15:07] chicco785 commented on #643
we haven't observed anything similar and the information you provided is not allowing us to reproduce the issue (see the issue template).

it could be that this is related to something in your cluster configuration. basically either some service in k8s or timescale interrupts the connection. while, we could have a retry mechanism in place, to mitigate the issue, the major problem here is to avoid