[2017-07-14 09:13] chicco785 opened #10 "Support configuration of shards and replicas per entity type via API"
Currently the only way to update shards and replicas for entity created in crate, is using crate query language.

[2017-07-17 09:30] taliaga opened #12 "Support attributes metadata"
Attributes metadata are defined in
http://docs.orioncontextbroker.apiary.io/#introduction/specification/terminology

This information is currently not saved in the DB, so it's lost in the dump/load.

[2017-07-17 12:54] chicco785 commented on #12
question is, how to track what is metadata and what is not? separate table? prefix in the column name?

[2017-07-17 12:58] chicco785 opened #13 "Support multiple endpoints for crate"
Supposing that you have a CRATE cluster and that each node expose different endpoints, it would be useful a sort of "roundrobin" process to connect to the different hosts in case one of them is not reachable.
This may not be an issue in Docker Swarm, where hopefully, using healthchecks, the swarm remove and endpoint from the "discovery" feature if it is not healthy.

[2017-07-20 11:10] chicco785 opened #14 "Support multi-tenancy using service path concept of context broker"
When we deal with different scenarios sharing a common infrastructure, but we do not want them to share access to data, we need to find a way to isolate the data.
A simple solution, as the one used in context broker vs mongodb, is to have one database for tenant (identified by the service-path in the header request).

[2017-07-24 13:55] chicco785 opened #15 "Support retention policy"
how long to keep data of a given entity and at which resolution?
e.g. after 1 year, I may be happy to keep instead of all data, only interpolation of data for 1h or so.

[2017-07-31 11:09] chicco785 opened #16 "Support automatic registration of data sources in Grafana"
Based on a flag and configured Grafana endpoint, when a notification related to a new entity is received, the corresponding data source should be created in Grafana.

[2017-08-17 12:38] chicco785 opened #17 "Authentication / Authorisation Proxy"
May not be a "direct" issue related to QuantumLeap, but a side one.
When accessing from Grafana (assuming we use the existing driver) there should be away to provide a sort of access control on tables and rows in side a table.

[2017-08-17 12:51] chicco785 opened #18 "Support a default way in the entity data model to track entity instances ownership."
Scenario:
1. keep track of who injected a certain entity instance. (this should be a "compulsory" attribute in the data model. It could be the dataProvider field defined in the [GSMA-Commons](https://raw.githubusercontent.com/Fiware/dataModels/master/common-schema.json).
[code]
1. if a model is inject that does not have the field, raise a warning.
1. Based on an external authz mechanism allow a us

[2017-08-22 09:37] chicco785 opened #20 "Provide basic documentation"
1. How to deploy using docker (provide a basic stack made of context broker, quantum leap, crate, grafana)
1. How to send notifications from context broker to quantum leap
1. How to connect grafana to crate
1. How to run queries in crate / against crate (using the http endpoint)

[2017-08-22 10:05] chicco785 opened #22 "Suggestions for refactoring"
looking for tests, i would expect a main folder ```tests``` and then inside it the test folders for each module, rather than the other way around. but probably is just a a matter of taste.

also, i would move the source of the module in ```src``` folder, so to better structure the repository

for the client, we have a full client in python (https://github.com/smartsdk/ngsi-sdk-python), so it was n

[2017-08-22 10:10] chicco785 commented on #22
also the benchmark part should not be in functional part of the code, a separate folder would help in navigating the code.

[2017-08-22 13:47] taliaga commented on #22
Totally agree with all the comments. This need for a refactoring has been a known.

Moreover, this repo was initially supposed to host only API controllers (whose development is on hold until we have at least a couple of iterations on the prototype and better understanding of the whole). Instead, this is hosting a bit of all the pieces we've put together so far.

The tests files location is a matt

[2017-08-24 15:50] chicco785 commented on #22
Code readability :) separating tests seems to be also a python coding recommendation: http://docs.python-guide.org/en/latest/writing/structure/

[2017-08-28 14:57] netzahdzc opened #24 "Array parameters"
It seems that QuantumLeap is struggling when catching Array data. I have noticed that the Orion is receiving the data but never store as historical (on the Quantum side).

**This is an example of the json sent:**

[code]

**This is the error I found when checking the Quantum's Log:**
crate.client.exceptions.ProgrammingError: SQLActionException[ColumnValidationException: Validation failed for **ref

[2017-08-29 16:38] taliaga commented on #24
@netzahdzc, thanks for providing the details! As promised, I'm looking at the problem here.

As explained in the docs, you need to indicate the attributes types (for now). You might be able to work around this issue by only adding the "type": "Array" to the "consistOf" attribute as shown below. The rest might not be necessary because the defaults are already well aligned with QL.

[code]
Complemen

[2017-08-29 20:32] netzahdzc commented on #24
ok, thanks!!

[2017-09-04 14:25] #20 closed

[2017-09-05 14:29] taliaga opened #25 "Add volumes to default recipe"
Add docker volumes to recipes mentioned in the documentation.

[2017-09-28 06:53] taliaga commented on #17
Side mental note, from the docs: "In the standard edition of CrateDB, there is no notion of access control and everybody can see and manipulate tables in every schema. In the Enterprise Edition of CrateDB, you can use privileges to control access to schemas."

[2017-10-05 09:20] #25 closed

[2017-10-11 21:41] taliaga opened #28 "Fix doc"
- Remove Subscrition comments

[2017-10-11 23:29] taliaga opened #29 "Food4Thought: Complementing Analytics Service?"
In huge queries, cratedb limits the response to the first 100 entries.
What if we supported a response of 100 entries but evenly distributed across the specified querying range?

- How to do the regression for the user to be able to see the overall trend without the need of ingesting the whole dataset.

- It'd be nice to "repeat" the zooming query across different attributes.

It might be that the

[2017-10-12 18:02] #28 closed

[2017-11-06 13:25] taliaga opened #30 "Attributes names loose capitalization"
Crate has some (naming restrictions)[https://crate.io/docs/crate/reference/en/latest/sql/ddl/basics.html#naming-restrictions] that forces the tables and column names to be lowercase.

We need to persist the original entity name and attribute names (the skeleton of the entity) somewhere so that information is used when constructing the entities to reply data queries.

[2017-11-09 09:31] chicco785 opened #31 "Test ticket from Code Climate"

[2017-11-09 09:33] #31 closed

[2017-11-17 09:36] taliaga opened #33 "Add tests for new Reference Models"
As commented in https://github.com/smartsdk/ngsi-timeseries-api/pull/32#discussion_r151636575, add tests for:

https://github.com/Fiware/dataModels/tree/master/Alert
https://github.com/Fiware/dataModels/tree/master/WasteManagement
https://github.com/Fiware/dataModels/tree/master/Device
https://github.com/Fiware/dataModels/tree/master/PointOfInterest
https://github.com/Fiware/dataModels/tree/master

[2017-11-21 16:02] taliaga opened #35 "Support geo:point"
In ngsi: https://orioncontextbroker.docs.apiary.io/#introduction/specification/geospatial-properties-of-entities

In crate: https://crate.io/docs/crate/reference/en/latest/general/ddl/data-types.html#geo-point

update: link to crate docs

[2017-11-21 16:04] taliaga opened #36 "Support arrays of different types"
NGSI mentions an Array type, it seems it could be of anything, but need to better investigate.

But Crate's arrays have types: https://crate.io/docs/crate/reference/en/latest/appendix/data-types.html#array

[2017-11-22 13:39] #30 closed

[2017-11-23 09:56] taliaga commented on #33
Attempt some alignment with https://github.com/telefonicaid/fiware-device-simulator

[2017-11-23 11:57] taliaga opened #37 "geo:json for everyone"
As suggested by @chicco785 , it would be interesting to have, for the entities expressing location in a non geo-json format (say, with country codes and addresses), an under-the-hood transformation to an equivalent geo-json structure, so that geo-queries can be made across different entities expressing locations in different ways.

I open this issue to keep track of the discussion of this idea.

[2017-11-23 13:27] chicco785 commented on #37
some pointers that could be useful:
* https://github.com/DenisCarriere/geocoder
* https://github.com/datasets/geo-nuts-administrative-boundaries/tree/master/data

let's suppose that for some data we can do this in a easier way

for example, for country names and country codes, we could create a separate table
with the associated geo:json, and when running ngsi geo queries, do a merge on the field

[2017-11-24 08:11] taliaga commented on #24
Just an update after inspecting orion's behavior, the problem is Orion will [apply the same type](https://github.com/telefonicaid/fiware-orion/blob/f942277924867ced3682244c31a6df63bfa066e9/src/lib/common/globals.h#L95) for both arrays and objects. Both will be tagged as `StructuredValue` :(. See [this PR in Orion](https://github.com/telefonicaid/fiware-orion/issues/2223) for more details.

QL was

[2017-11-24 08:58] chicco785 commented on #36
I think Orion used the StructuredValue representation, exactly to simplify the type management inside arrays. Thus, that could be a good option also for QL.

[2017-11-24 09:04] chicco785 opened #39 "Fix "similar-code" issue in client/client.py"
Similar blocks of code found in 3 locations. Consider refactoring.

https://codeclimate.com/github/smartsdk/ngsi-timeseries-api/client/client.py#issue_5a157acb9e273d0001000070

[2017-11-29 12:03] chicco785 opened #40 "Test ticket from Code Climate"

[2017-12-28 15:01] #40 closed

[2017-12-28 21:06] netzahdzc opened #42 "timestamps"
When I include this attribute to the json structure:

[code]

This error emerges:
[code]

[2017-12-28 21:55] netzahdzc commented on #42
I just noticed that the error is exclusive of the attribute: dataModified. It vanish when I use "dateCreated" instead. Still, don't know whether this is something that could trigger future errors or create confusion in the future.

[2017-12-29 01:37] juliozinga commented on #42
Can you explain the steps performed until you find the error?

[2017-12-29 09:49] chicco785 commented on #42
hi @netzahdzc,
@taliaga can help better, but i suppose the following, unless you don't attach a type to the data structure, it is assumed to be of type "Text", the column in the database is already a timestamp, so it returns an error.

can you try with:
[code]

Cheers,
Federico

[2017-12-29 09:52] chicco785 opened #43 "support keyValue mode"
I suppose that using a parser it is possible to use also the keyValue mode.
Orion is supporting it, so there should be no reason for QL not being able to to so.

[2017-12-29 10:07] chicco785 commented on #43
e.g.
if input in int
   Integer
if input in float
   Number
if input in boolean
    Boolean
if input in string:
      if input match DateTime regex
         DateTime
      else
          Text

[2017-12-30 12:13] netzahdzc commented on #42
Hi @chicco785 , I was using the data type (i.e., DateTime); also tried with Text. I think it has to be with a private word (i.e., dateModified), because when I use dateCreated everything works well.

Anyways, this is not something extremely urgent (since I workaround by using dateCreated instead), I just wanted to mention "the potential bug" to prevent future issues with the component.

Btw, @juli

[2017-12-30 20:42] chicco785 commented on #42
let's wait for @taliaga check.

On Sat, Dec 30, 2017 at 1:13 PM, Netzahualcóyotl Hernández-Cruz <
notifications@github.com> wrote:

[2018-01-01 01:10] netzahdzc opened #44 "JSON size on QL component"
This error pops up when I post a long Json structure.

[code]

Please, note that Orion Context Broker does not present any problem handling the long structures. The error was retrieved from the QuantumLeap component.

Could it be possible to extend the size capacity on the component to handle such long files? Personally need it to deal with accelerometer data.

[2018-01-01 01:14] netzahdzc opened #45 "private word data into structure"
Below error pops up when I include the word "data" as part of the attributes. No sure whether this is a similar case as the previous issues mentioned  (i.e., about "dataModified"). I mention this, just to let you know that this might be an issue in further developments. I have already worked it around by using a different word.

[code]

[2018-01-02 08:28] taliaga commented on #42
Thanks @netzahdzc for raising the discussion. Let's see if we can clarify a bit and maybe we spot something to fix in QL.

First of all, I assume you are not using Orion but directly inserting to QL, right?

Since QL consumes Orion notifications and `dateModified` is the keyword used by Orion, this is the keyword QL looks for the default "time index". (note there could be many DateTime attributes,

[2018-01-02 08:41] taliaga opened #46 "Document considerations when directly inserting into QL"
Some usecases may not use Orion, so expected data format should be well documented in QL.

[2018-01-02 08:54] taliaga commented on #45
Thanks Netza, there are definitively some non-documented considerations for the usecase where orion is taken out of the workflow. I've created #46 to do this.

This error in particular is because orion wraps the notifications in a 'data' json object, so this is where QL picks the notification. Your entity should be wrapped by a `data` key at the root level for it work as you expect. It should not

[2018-01-05 13:57] netzahdzc commented on #42
That's right. I'm posing directly to QL.

ok about the dateModified.

I was using dateModified as attribute not metadata.

To solve the issue, Im using dateCreated instead of dataModified, but, ok about the heads-up. I will try to change it to use a different attribute date instead of those.

Btw, feel free to cose this issue at any time. I just opened to notified about what I experienced.

Cheers

[2018-01-05 13:59] netzahdzc commented on #45
ok, thanks for the info. My workaround was to use the work "value" instead of "data".

Feel free to close this issues if you find it convenient.

Cheers!!

[2018-01-05 14:12] chicco785 commented on #45
@taliaga, i think it may be useful if you pass here an example for netza,
to be sure he understand how wrapped messages are structured.

On Fri, Jan 5, 2018 at 2:59 PM, Netzahualcóyotl Hernández-Cruz <
notifications@github.com> wrote:

[2018-01-09 09:14] taliaga commented on #44
Hi @netzahdzc, thanks for the feedback.

That maximum length is imposed by crate for string columns that are to remain indexable. More info [here in the docs](https://crate.io/docs/crate/reference/en/latest/general/ddl/data-types.html).
I could of course make this a configurable option to disable indexing for string columns (given that QL is mostly aimed to work with measurement values).

In any c

[2018-01-09 13:09] netzahdzc commented on #44
This is an example of the structure that I use to collect accelerometer data, and of course the acc data is to be larger that the one provided in this sample:

[code]

[2018-01-09 20:10] taliaga commented on #44
Thanks again for the info. I've opened a fix that disables indexing for long text columns because I agree it shouldn't raise an error.

As a side note, that 'value' storing all data as Text looks somewhat weird. Probably using the 3 floats as attributes and letting crate take care of the timestamps would be better. Is that on purpose?

[2018-01-09 22:39] netzahdzc commented on #44
great, thanks.

I understand but the design was trying to be as wide as possible, so other applications can use the field for any input they like. For example, they could include an accuracy value, or a fusion data to concentrate orientation values, and so on. Otherwise, we might have many unused attributes.

Note: this was the first impression, but, since this is a working progress thing, it coul

[2018-01-09 22:40] netzahdzc commented on #44
btw, feel free to close this issues if you consider it appropriated :-)

[2018-01-10 10:31] taliaga commented on #44
Forgot to point out [the PR](https://github.com/smartsdk/ngsi-timeseries-api/pull/50) but I guess you figured from the github notification. I'll let you have a look and merge it later today.

I understand what you say. Well, you'll see what to do exactly, I just wanted to raise the heads-up towards the capabilities you loose when saving all as a text in a single field. If not to have one attribute

[2018-01-11 11:09] #44 closed

[2018-01-11 14:16] taliaga commented on #44
@netzahdzc please update your image and let me know if you're still having the issue.

[2018-01-11 14:26] netzahdzc commented on #44
Are there any special commands to update? 🙃

[2018-01-11 14:42] taliaga commented on #44
Well, depends on how you are deploying it.

`docker pull smartsdk/quantumleap` if you want to try the new image from the scratch.
Then restart your quantumleap container if you were running it with docker run or docker-compose.

Otherwise `docker service update --image smartsdk:latest quantumleap` if you already have it deployed as a service and the service is called quantumleap. Adjust accordingl

[2018-01-16 10:38] #35 closed

[2018-02-07 09:12] taliaga commented on #37
First version of this already implemented.

[2018-02-07 09:12] #37 closed

[2018-02-07 09:19] taliaga commented on #24
Fixed in https://github.com/smartsdk/ngsi-timeseries-api/pull/53/files.

Feel free to reopen if this problem persists

[2018-02-07 09:19] #24 closed

[2018-02-07 09:21] taliaga commented on #42
Closing as no actual problem to be solved in the code was identified.

[2018-02-07 09:21] #42 closed

[2018-02-08 14:41] juliozinga opened #57 "Flask and Django API Framework"
Have you compared the two options(Flask and Django Rest Framwork) before Flask twice?
Whats are the advantages?

[2018-02-08 15:13] chicco785 commented on #57
Not practically. We checked only comparisons available. It seems that Flask is faster, so thumbs up for it :)

[2018-02-08 18:16] juliozinga commented on #57
To date has Flask program matched the needs?

[2018-02-09 12:59] #57 closed

[2018-02-27 10:09] taliaga commented on #14
Change DB_NAME = "ngsi-tsdb" to `default`, as suggested in https://github.com/smartsdk/ngsi-timeseries-api/pull/49

[2018-03-13 22:35] taliaga opened #60 "Query api follow-ups"
- [x] Better treatment for missing "type" param in the query
- [x] Add test to make sure a reasonable response is returned when no entity matches any of the supported queries

[2018-04-18 09:42] taliaga opened #64 "Implement a name Sanitizer for attribute/column names"
Take into account not only Crate naming restrictions, but also have a look at Orion's naming restrictions. And what if in the future the db changes and restrictions are different?

'-' is an example of an invalid char in the attributes names. For the test-case:
{
'id': 'Impeller_Nueva_pieza_1.dmo',
'type': 'MeasurementResult',
'FA@SP-00': {'type': 'StructuredValue', 'value': [0, 0, 44.3366, 0, 0,

[2018-04-24 10:03] taliaga commented on #10
Revisiting this, probably it makes more sense to have a user-friendly config file being loaded at QL's init time with these settings rather than exposing them via API calls. In fact, things like shards cannot be changed on-the-fly

[2018-04-24 10:07] taliaga commented on #13
Revisiting this, this sounds like not a problem to be solved within QL, right?

[2018-04-24 10:12] taliaga commented on #15
Brainstorming, this could be configured:
- In the configuration file mentioned in #10
- In the NGSI notification (but NGSI currently does not support this)
- Configurable via protected API?

[2018-05-09 13:53] taliaga opened #68 "Add status endpoint"
Add some form of status endpoint, which could be used in liveness/readiness Probes that reports on the status of complementing services (crate, maybe grafana and redis)

[2018-05-11 12:47] taliaga opened #69 "Extend supported params in /subscribe endpoint"
Add support for "id"  and "type" in addition to idPattern. See [orion docs](https://fiware-orion.readthedocs.io/en/master/user/walkthrough_apiv2/index.html#subscriptions)

If the user could otherwise specify two different `attrs` arrays, that'd be useful as well.

Throttling would be nice too.

[2018-06-23 08:44] taliaga opened #71 "Delete all entities should drop table."
Delete all entities does not seem to be dropping the table, just all the records. Check why and try to force table dropping as this will allow "starting from the scratch with entity_type foo".

[2018-07-26 16:00] #71 closed

[2018-07-27 13:15] taliaga commented on #14
Fixed by https://github.com/smartsdk/ngsi-timeseries-api/pull/65

[2018-07-27 13:15] #14 closed

[2018-07-30 09:54] taliaga opened #78 "Flaky test: test_not_found"
`test_not_found` in `reporter/tests/test_1T1E1A.py` fails from time to time usually in the complete suite run. More details in the logs of https://travis-ci.org/smartsdk/ngsi-timeseries-api/builds/409226234?utm_source=github_status&utm_medium=notification

[code]

[2018-08-06 09:34] taliaga commented on #39
Client code has been removed in https://github.com/smartsdk/ngsi-timeseries-api/pull/76

[2018-08-06 09:34] #39 closed

[2018-09-25 12:57] chicco785 opened #85 "Latest build failing"
https://travis-ci.org/smartsdk/ngsi-timeseries-api/jobs/432874130#L921

[2018-09-25 13:02] chicco785 commented on #68
1. can connect to the db -> fail red (500)
2. can query the db -> fail red (500)
3. can connect to redis -> fail orange (200)
4. can query redis -> fail orange (200)
5. can query geocoding api -> fail orange (200)

[code]

[2018-10-10 08:40] taliaga commented on #85
Fixed with https://github.com/smartsdk/ngsi-timeseries-api/pull/87

[2018-10-10 08:40] #85 closed

[2018-10-17 13:53] Racso93 opened #89 "Problems with aggrPeriod attribute"
I'm trying to use the aggrPeriod attribute in a query to /entitites/../attrs/...? and I do not know if it does not work or that I have a wrong idea about him.

In my opinion, if I add the attribute "aggrPeriod = minute" with the method "aggrMethod = avg", the query will return me the value of the values, minute by minute.

Is this what should happen?

[2018-10-18 14:40] taliaga commented on #89
Hi! You are correct in your interpretation, and you have brought to our attention an important point.

The `aggrPeriod` was not yet implemented and this is not clearly visible in the API nor in the return of the call. This is definitively wrong. So, I've made this clearer in the API in (https://github.com/smartsdk/ngsi-timeseries-api/pull/90). Given that you need this, I'll try to get it implement

[2018-10-18 15:02] Racso93 commented on #89
Hi!

Thank you very much for the information.

Actually I was only doing some tests to see how far the API came, so for my part it is not necessary that you get with the implementation of `aggrPeriod`.

Thanks, again.

[2018-10-18 15:02] #89 closed

[2018-10-18 15:09] Racso93 opened #91 "[QUERY] Integration with InfluxDB"
Hello!

I have seen that there is the possibility of adding other databases, such as InfluxDB, and we wanted to know if you have implemented the integration with that database or in what state that possible implementation is.

A greeting.

[2018-10-19 09:34] taliaga commented on #91
Hi,

During the first months of the project we did some tests with `CrateDB`, `InfluxDB` and `RethinkDB`, just as a proof of concept we developed a oversimplified translator for each. You can still find some remaining in the `translators` folder. The Influx translator deals with entities a bit differently, as it has to work with the concept of `measurements`.

It'd be possible to work on Influx's

[2018-10-19 09:43] chicco785 commented on #91
The rational to invest on CrateDB are as follows:
- InfluxDB does not support natively geo-data-type, which means that to cover queries related to that, we will have to introduce a layer in the API, to process all entities there.
- InfluxDB (in the open source version) does not support HA configuration, limiting its usage in a production environment (unless you buy the enterprise license, which wo

[2018-10-19 10:05] Racso93 commented on #91
Thank you very much for your quick response and the information.

I'm glad to know that the decision to choose CrateDB was after a study of the rest.

Greetings.

[2018-10-19 10:05] #91 closed

[2018-10-19 10:13] taliaga commented on #12
As a comment: in _get_time_index(payload): the `time_index` from metadata should have higher priority than `dateModified`

[2018-10-19 10:24] taliaga opened #93 "Update time_index generation policy"
As regards method `_get_time_index`,

With higher priority than `dateModified` it should look for the `timestamp` in the metadata (https://github.com/Fiware/dataModels/pull/302/files#diff-9308877b8fc4a861aa6d718690d52f82R331) and the `TimeInstant` element, in the case of https://github.com/telefonicaid/iotagent-node-lib#the-timeinstant-element

[2018-10-25 07:57] #68 closed

[2018-10-25 09:01] taliaga opened #94 "/version should be at root of API"
The basepath of the specification is set to `/v2`, but ideally `/version` would be better than `/v2/version`.

[2018-10-26 08:43] chicco785 opened #96 "it looks that values can be only Number"
https://github.com/smartsdk/ngsi-timeseries-api/blob/363450fb3ced2c1597b36342f0e96dc8797f8a61/specification/quantumleap.yml#L87

[2018-10-26 08:45] chicco785 opened #97 "Issues with IndexArray in API specification"
https://github.com/smartsdk/ngsi-timeseries-api/blob/363450fb3ced2c1597b36342f0e96dc8797f8a61/specification/quantumleap.yml#L74

[2018-10-27 10:07] taliaga commented on #97
It was specified as "ISO" format. I've improved a bit the description now in (https://github.com/smartsdk/ngsi-timeseries-api/pull/95/commits/47356901b06a550b1f1ac7cdeb86abcd99cfbeb1). But let's use this issue to consider these two things for this attribute.

[ ] - Include time-zone info in the response if it was present in the input.
[ ] - API says that if input was milliseconds, response would b

[2018-11-09 18:08] c0c0n3 commented on #60
look at reporter/query_*.py modules.

[2018-11-15 09:54] c0c0n3 opened #99 "pin pipenv version in docker file"
The latest version of `pipenv` (`2018.11.14` on PyPi) doesn't seem to be able to generate a requirements file when the output is redirected to a file---the way we have it in our Dockerfile. In fact, running

    pipenv lock -r > requirements.txt

with version `2018.11.14` when building our Docker image produces a `requirements.txt` containing the text: " Running.. ". So we should pin the version t

[2018-11-15 10:20] #99 closed

[2018-11-19 10:50] chicco785 commented on #97
* I think keeping input in msec it's too complex. let me explain, suppose that you have two systems contributing the same "entity", one use msec the other iso format. how can you compare?
* I propose to have a way to define the default timezone and that all input data are set to that (which means they are converted to that if needed).

[2018-11-19 11:46] chicco785 opened #101 "virtual entity support"
Ideally, we should be able to create "virtual entities" from existing entities. These virtual entities ideally should be created as "view" over the database.

For example, let's suppose we have a collection of parking sensors. You would like to be able to have aggregated information by parking lot (assuming that all parking sensors have such information - the lot to which they belong).

Ideally th

[2018-11-19 11:49] chicco785 opened #102 "ql as context broker datasource"
context broker is supporting "registration" as way to register external data sources for entities. this means that when queried, the context broker will answer by query the external data source.
ideally QL could act as a data source returning the last value of a given entity. this could be particularly interesting in combination with #101

[2018-11-19 13:20] chicco785 commented on #15
ngsi now supports 'dateExpires': http://fiware.github.io/specifications/ngsiv2 (so it's in the entity not in the subscription)
I propose then to have two ways:
1. leverage this attribute (if it exists)
1. have a default set-up via config file (that should be also the case for #10 )
1. configure it via API entity by entity (or entity type) of course using the tenant split

[2018-11-19 13:32] c0c0n3 commented on #60
there's a `test_not_found` test for each supported query type that checks QL returns a 404 when there's no matching entity. (code in v0.4.1rc)

[2018-11-19 13:45] #13 closed

[2018-11-19 14:16] #60 closed

[2018-11-19 14:24] chicco785 opened #104 "geographical queries"
afaik, while crateDB supports that quite well, there is no way to support geo queries from any API.

see *geo graphical queries* in the spec:
* http://fiware.github.io/specifications/ngsiv2/stable/

and cratedb support:
* https://crate.io/docs/crate/reference/en/latest/general/dql/geo.html

the following ones should be easy to implement:
* `georel=intersects`. Denotes that matching entities are th

[2018-11-20 15:51] c0c0n3 opened #105 "OSM geocoder may not return expected osm_type"
Since 19 Nov 2018, the following geocoding tests fail:

* `test_entity_add_point`: OSM used to return an `osm_type` of `node` for the address used in this test but it now returns an `osm_type` of `way` which results in our `geocoding` module not being able to extract the geo-location coords from the response since we expect `node` for an address in the format `<street name> <street number> , <city

[2018-11-20 16:15] c0c0n3 commented on #105
I've disabled the two tests above for the moment, see commit 9d4a4b81a4a83215075608cc546478817329e30e. This is just a stop gap solution to avoid CI failures on PR's.

[2018-11-20 16:38] #69 closed

[2018-11-20 17:11] chicco785 commented on #105
if i recall correctly, osm is just one of the solutions supported by the library we use.
point being that osm is the ok solution for basic tests, of course for a more serious geocoding, you would need to go for another service. for example google should be supported as well.

https://geocoder.readthedocs.io

@taliaga may know better if there is difference in the returned information (e.g. some may

[2018-11-21 09:49] taliaga opened #106 "Handle aggregation on invalid columns"
`sum` and a `avg` should not be allowed on `attr_names` (attributes) of non-numeric types.

Note `min`, `max` and `count` still work on things like `bool` or `string`.

[2018-11-23 10:56] taliaga opened #110 "Define and document policy for missing values"
Many times data injectors send a "null" "empty" value for some attributes.

At the moment QL is discarding received notifications with this kind of "null" input in any of the attributes, but we could implement something more flexible so as not to loose the rest of incoming valid data.

Define a policy for dealing with these cases.

[2018-11-23 10:58] chicco785 commented on #110
we should not discard this values, we set them to null. I don’t understand why discarding especially the whole update.
actually this is a bug in my view. because it’s not up to ql to decide meaning of null.

Dr. FEDERICO MICHELE FACCA
CTO
0041 78 807 58 38
Martel Innovate <https://www.martel-innovate.com/>  -  Professional support for innovation projects
Click to download our innovators' insights!

[2018-11-23 18:41] c0c0n3 commented on #104
see #111

[2018-11-27 06:44] chicco785 opened #112 "fix edit link in documentation (gives 404)"

[2018-11-27 06:47] chicco785 opened #113 "check if docker image can be optimised"
https://blog.realkinetic.com/building-minimal-docker-containers-for-python-applications-37d0272c52f3

[2018-11-27 14:50] #29 closed

[2018-11-27 14:56] taliaga commented on #12
we need to understand if metadata typically changes throughout time or not. If not, we may find more efficient ways of treating static data. There's already a metadata table for each entity type, this could be a place to land metadata.

[2018-11-27 14:59] chicco785 commented on #12
I would assume they may change over time.

Dr. FEDERICO MICHELE FACCA
CTO
0041 78 807 58 38
Martel Innovate  -  Professional support for innovation projects
Click to download our innovators' insights!
Follow Us on Twitter

[2018-11-27 16:03] taliaga commented on #110
It was decided to ignore those because to begin with it's not NGSI valid to say Text and then send null, and handling them in aggregation queries requires a careful definition of what's going to happen. So to me is more an important "unimplemented" feature than "bug" :)

[2018-11-27 16:13] chicco785 commented on #110
it's a bug not a missing feature. missing feature is inability to perform aggregation if injected data contains null. discarding a whole notification payload because a single value (maybe not even relevant) is null, it's a bug and may be a serious usability issue.

1. if you have data you cannot aggregate, you still have the data and you can work out something.
2. if you lost data, because you did

[2018-11-28 08:51] taliaga opened #115 "Bug: No metadata table at query time"
[code]

This happened while running the FIWARE [step-by-step tutorial](https://fiware-tutorials.readthedocs.io/en/latest/time-series-data/index.html), which seems to have a container-startup-order-dependency issue (deploy, stop and start again to reproduce). Fix this as well.

[2018-12-10 09:17] taliaga opened #118 "Complete implementation of /attrs endpoints in API"

[2018-12-10 09:18] taliaga opened #119 "Complete implementation of /types endpoints in API"

[2018-12-11 11:03] chicco785 commented on #115
@c0c0n3 can you have a look if we can close it?

[2018-12-13 09:41] c0c0n3 opened #120 "Equality support in geo queries"
PR #111 implements full support for NGSI geo queries. However, queries with the `equals` geo relationship operator are disabled for the time being---QL responds with a `422 NotSupportedQuery` as required by the NGSI spec. The reason for shape equality being disabled is an issue with the underlying Crate query which uses the `within` function. This function is supposed to support arbitrary shapes b

[2018-12-13 09:44] c0c0n3 commented on #104
closed by #111

[2018-12-13 09:44] #104 closed

[2018-12-13 09:55] c0c0n3 opened #121 "Publish 0.5 API to SwaggerHub"
We have to publish the new 0.5 API to SwaggerHub since it documents the new geo query parameters and the fact we now support the whole NGSI geo query spec. After doing that, update the link in the [data retrieval section][manual-data-retrieval] of the user manual that points to the published API.

[manual-data-retrieval]: https://github.com/smartsdk/ngsi-timeseries-api/blob/v0.5rc/docs/manuals/use

[2018-12-14 10:37] c0c0n3 commented on #115
@chicco785 yep, we can close it. tested the fix, it works. also @taliaga already added integration tests for that too. happy days!

[2018-12-14 10:38] c0c0n3 commented on #115
closed by #117

[2018-12-14 10:38] #115 closed

[2018-12-14 16:02] c0c0n3 commented on #110
done, but needs reviewing. see PR #122.

[2018-12-16 15:02] mapedraza opened #123 "Float variables doesn't push data to DB"
I am having troubles with data persistence using that Enabler. After checking the FIWARE Tutorial, I modify the entities and so on and I am not be able to view the data in grafana (also appears on crate DB as a null), but all data seems good in Context Broker. I also check the notification content and It works fine.
Also if I use the examples in the tutorial it works fine.

For that reason i fake

[2018-12-18 12:54] c0c0n3 commented on #110
closed by #122

[2018-12-18 12:55] #110 closed

[2018-12-18 13:03] c0c0n3 commented on #96
see also #36

[2018-12-18 15:09] c0c0n3 commented on #113
closed by #116

[2018-12-18 15:09] #113 closed

[2018-12-19 08:39] c0c0n3 commented on #112
closed by #114

[2018-12-19 08:39] #112 closed

[2018-12-19 13:39] chicco785 commented on #123
@mapedraza did you check my suggestion?

[2018-12-20 11:00] c0c0n3 opened #125 "Handle text attributes with no value"
QL bombs out if an entity contains an attribute of type `Text` which has no `value` field. E.g.

    export ENDPOINT=http://0.0.0.0:8668/v2/notify
    curl -v -X POST ${ENDPOINT} -H 'Content-Type: application/json' -d'
    {
        "data": [
            {
                "id": "d:1",
                "type": "d",
                "a1": {
                    "type": "Number",
                    "va

[2018-12-20 14:50] c0c0n3 commented on #125
Commit f6ee603 fixes the issue, but I'm not quite sure into which branch to merge it---should we have a new 0.5.1 release or should this fix be included in 0.6?

[2018-12-20 15:03] c0c0n3 commented on #125
@chicco785 On another note, in the above commit, you'll also find tests to verify we can actually add attributes to existing entities. Essentially this is possible because in Crate if you try to create the same table twice, the resulting table will contain the union of the columns declared in the two create table statements. E.g.

    create table if not exists etx
    (entity_id string, entity_ty

[2018-12-20 16:04] chicco785 commented on #125
0.6 is fine!

[2018-12-20 16:05] chicco785 commented on #125
great, i recall from the discussions with @taliaga that this was somehow handled and good that you had a test, so if crate behaviour change, we will find it out ;)

[2018-12-20 16:37] c0c0n3 commented on #125
cool, added issue to 0.6 milestone.

[2018-12-21 09:52] mapedraza commented on #123
Yes, after dropping the table it works well. I provisioned the device again as a "Number" and the Context Broker send the notifications properly. I think could be nice to implement into data-sink to handle Number (float) data as a strings

[2018-12-21 10:04] chicco785 commented on #123
I am not sure what you are proposing.

storing data as string in crate, would not make them querable.
what may be possible is, if context brokers says that type is Number, and anyhow sends a string, QL can cast the value to float.
is that your idea?

[2018-12-21 10:05] chicco785 commented on #123
@c0c0n3 if @mapedraza confirms, can you check you open a issue for the feature? so we then can close this thread

[2018-12-21 11:31] mapedraza commented on #123
@chicco785 Yes, that is the idea! If the data type received in the notification is Number, the API that manage the received data can cast from string to float if the JSON contains the data as a string, avoiding to fail as I described above.

[2018-12-27 15:32] agaldemas opened #127 "error : PostalAddress is not a supported NGSI Type !"
we have an entity using an address attribute of type PostalAddress such as:
    {
        "id": "truc_001",
        "type": "chose",
        **"address": {
            "type": "PostalAddress",
            "value": {
                "streetAddress": "18 Avenue Félix Faure",
                "postalCode": "06000",
                "addressLocality": "Nice",
                "addressCountry": "France"

[2018-12-27 16:43] agaldemas opened #128 "attributes names and entity type containing '-' are not accepted by crateDB"
If an NGSI entity contains '-' in the type or in an attribute name, crateDB return an error and doesn't save it.
the table name composed with prefix and type should be quoted also attributes should be quoted like:
"my-attribute", then CrateDB accept it.
if this is done in every case the problem should be fixed.

[2018-12-27 17:34] chicco785 commented on #127
@agaldemas, I think this is only the case for NGSI-LD (@jmcanterafonseca ?), in fact this attribute type is present only in GTFS based models (the only ones already fully encoded into NGSI-LD).

NGSI-LD is not yet supported by QuantumLeap (also in consideration of the fact that there is no a stable release of Context Broker implementation supporting NGSI-LD). Official supported types of NGSIv2 are

[2018-12-27 17:35] chicco785 commented on #127
see also the "ATTRIBUTES DATATYPE TRANSLATION" section in  https://quantumleap.readthedocs.io/en/latest/user/#data-insertion

[2018-12-27 17:48] chicco785 opened #129 "automatic casting to NGSI data type"
when a value does not match the NGSI data type it should be casted it, only if the cast fails, error should be returned.

the implementation of this functionality is to be evaluated, an alternative solution could be in fact to give priority to the datatype of the value and "cast" the NGSI type to it. the two solutions are obviously incompatible.

[2018-12-27 17:48] chicco785 commented on #129
see also discussion in #123

[2018-12-27 17:49] #123 closed

[2019-01-03 13:21] taliaga commented on #121
Done, it's at https://app.swaggerhub.com/apis/smartsdk/ngsi-tsdb/0.2.

I wanted to add you to the smartsdk organisation but unless I'm missing something, unfortunately the free swagger plan allows only one "member".

[2019-01-03 13:21] #121 closed

[2019-01-07 16:47] chicco785 opened #131 "fix CVE-2017-18342"
CVE-2017-18342 [More information](https://nvd.nist.gov/vuln/detail/CVE-2017-18342)
high severity
Vulnerable versions: < 4.2b1
Patched version: 4.2b1
In PyYAML before 4.1, the yaml.load() API could execute arbitrary code. In other words, yaml.safe_load is not used.

[2019-01-07 16:50] chicco785 commented on #127
@agaldemas any feedback?

[2019-01-09 16:09] agaldemas commented on #127
Hello @chicco785, and happy new year 2019.

Sorry for delay, your proposal to implement as NGSI "StructuredValue" any other "attribute" that is not using a basic datatype can perfectly suit our need for PostalAddress attribute.
From what I've seen in the translator code (file src/translators/crate.py), it should be easy to achieve, isn'it ?
If you want I can issue a PR and try it ?
Thanks in advan

[2019-01-09 16:54] chicco785 commented on #127
@agaldemas
of course PR are welcome :)

before you investing time on it, I think it would be good to discuss the approach within this issue with @taliaga @c0c0n3

[2019-01-10 09:51] taliaga commented on #127
@agaldemas
Is `PostalAddress` the type being output by Orion in the notification or you're directly injecting such entity in QL from somewhere else?. If the former, which Orion docker image are you using?

In schema.org, a [PostalAddress](https://schema.org/PostalAddress) is a "subtype" of `StructuredValue`, so we could start adding this specific translation (adding in [NGSI_TO_CRATE](https://gith

[2019-01-10 09:56] chicco785 commented on #127
@taliaga that would be an "hard coded" solution. we can't add a translator for each datatype that is a subtype of `StructuredValue`. so for the time being, we just need a procedure that identifies that a type (whatever is named) in the end is a `StructuredValue` and store it as that.

[2019-01-10 14:22] agaldemas commented on #128
Nice, thanks for taking in count !

[2019-01-10 14:24] chicco785 commented on #131
![](https://github.trello.services/images/mini-trello-icon.png) [Use as many boards as you want!](https://trello.com/c/bfedmUVQ/13-use-as-many-boards-as-you-want)

[2019-01-10 15:52] agaldemas commented on #127
To answer @taliaga:

- the entities are sent to Orion with address attribute of PostalAddress type, and then pushed through notification to QL.
- Orion image is got from dockerhub, dated on 2018-10-31 12:57:48
- departing question about `PostalAddress`: we don't specifically think to aggregating queries, our aim is to maximize the use of standardized data models in Orion and historical database.

[2019-01-10 16:58] taliaga commented on #127
@agaldemas thanks for your answers and glad to see you'd go for the longer-term solution :)

[2019-01-11 09:21] agaldemas commented on #127
OK, then how do we proceed ?
I create a PR, or you schedule the enhancement in your backlog ?
I see where it's possible to add the modification, in the file `src/translators/crate.py`, function _insert_entities_of_type(), in the for loop on entities attributes:
under the `if attr_t not in NGSI_TO_CRATE:` block, test if attribute is a complex one, and if true cast attribute type to NGSI_STRUCTURED_

[2019-01-11 12:38] agaldemas commented on #127
Nice, thanks, I wait for @taliaga hints feedback

[2019-01-11 13:32] agaldemas commented on #128
Hi again @chicco785, just to remind you, we met at last FIWARE summit in Malaga, I came to discuss with you at the end of your QL presentation, you should have my business card...

[2019-01-11 13:52] taliaga commented on #127
Thanks for the PR, I'll comment there.

[2019-01-14 10:05] chicco785 opened #133 "add roadmap section to documentation"
This section should be available before end of Jan - Juanjo will send an email.

[2019-01-14 10:26] chicco785 opened #134 "extend travis tests to be able to validate behavior of ql with different version of related components"
e.g. orion version x / mongo version y / crate version z

[2019-01-14 22:25] jcheca opened #135 "How to manage CORS to consume data from QuantumLeap API"
How disable CORS policy to consume data from QuantumLeap API.

[2019-01-16 09:45] chicco785 commented on #135
Can you provide more information on your configuration to reproduce correctly the issue? Thanks

[2019-01-16 10:16] c0c0n3 commented on #125
closed by #126

[2019-01-16 10:16] #125 closed

[2019-01-22 13:23] chicco785 commented on #105
alternatively we could simplify what is tested against the external API,
i.e. test we have an acceptable reply (found)
and have a separated mockup test on the mapping for shapes (i.e. without
actual call to the API).

On Tue, 22 Jan 2019 at 14:20, c0c0n3 <notifications@github.com> wrote:

--
*Dr. FEDERICO MICHELE FACCA*
*CTO, Head of Martel Lab*
+41 788075838
*MARTEL INNOVATE* <https://www.martel-

[2019-01-22 14:47] c0c0n3 commented on #105
Actually, yes, it seems to be a better option to me too. @taliaga anything on the contrary?

[2019-01-23 12:06] jason-fox opened #137 "[MUST] Credits are missing"
According to the contribution requirements, credit must be given to developers who contribute to the development of each component. A simple way to do this is to add and maintain a  [CREDITS](https://github.com/Engineering-Research-and-Development/iotagent-opcua/blob/master/CREDITS) file.

The list of previous contributors can be obtained using the following command:

[code]

- MUST Requirement fr

[2019-01-23 12:34] jason-fox opened #139 "[SHOULD] Repo URL link"
Please click the edit button at the head of the repo and amend the URL as as shown (or similar):

### Link

- SHOULD requirement from the TSC.

[2019-01-25 12:35] chicco785 opened #140 "[BUG] QuantumLeap Post Error"
In the wolfsburg production environment we have this error

[code]

It is clearly related to cratedb, but I am unsure how to solve.

[2019-01-25 12:35] jcheca commented on #135
Did you receive the detailed email I sent you ?, do you need more info ?

--
José Checa Claudel
Universidad de Córdoba :: Campus Agroalimentario de Rabanales
Edificio Ramón y Cajal :: Servicio de Informática-Sistemas
14071 - Córdoba

Tlfno: +34-(9)57-211041 - Fax: +34-(9)57-218116
e-mail: jcheca@uco.es <mailto:jcheca@uco.es>

[2019-01-25 12:40] chicco785 commented on #135
I did not :(

On Fri, 25 Jan 2019 at 13:36, José Checa Claudel <notifications@github.com>
wrote:

--
*Dr. FEDERICO MICHELE FACCA*
*CTO, Head of Martel Lab*
+41 788075838
*MARTEL INNOVATE* <https://www.martel-innovate.com/> - INNOVATION, WE MAKE
IT HAPPEN
Click *HERE* to download Martel reports and white papers!
<https://www.martel-innovate.com/premium-content/>
Follow us on *TWITTER* <https://twit

[2019-01-25 12:44] jcheca commented on #135
Transcribe again:

Thank you very much for your offer and quick response.
I'm using a stack based on Docker, composed of Orion Context Broker, Mongo, Lora IoTAgent, UL IotAgent, QuantumLeap and crateDB deployed on a server. With this I have not had any problem, the cycle of the historical based on the subscriptions works correctly, I have been able to verify consuming the data from localhost with

[2019-01-25 12:56] chicco785 commented on #140
not a real bug, it turns out that the issue is the hd almost full.
https://github.com/crate/crate/issues/7471

[2019-01-25 12:56] #140 closed

[2019-01-25 13:09] chicco785 opened #141 "Relax data checking on payload"
we should avoid not storing data when a single attribute is not valid, we should just drop that value, raise a warning (possibly also in the response) and store the rest. @c0c0n3 @taliaga what do you think?

[code]

[2019-01-25 13:14] chicco785 commented on #141
we should probably make a list of cases:
* type number and value string, cast to number if possible, if not set to null (would that work?)
* type boolean and value not boolean,  cast to boolean if possible, if not set to null (would that work?)
* type datetime and value not datetime,  cast to datetime if possible, if not set to null (would that work?)

[2019-01-26 09:34] agaldemas commented on #93
Hello,
We need this feature to be able to store device timestamped data, coming from IOT agents, through `TimeInstant` element,
may I/you open a new PR, where I can fix this behavior: Look for & give priority to `TimeInstant` over `dateModified` could be a good title ?
Nevertheless by experience it's better to keep any timestamp information we can grab for analytics, so I suggest to keep and store

[2019-01-26 12:08] chicco785 commented on #93
Hi,
This is something we have been discussing: how to specify a different attribute metadata as TimeIndex. We have been thinking of adding some metadata to the notification to handle that.

A PR is welcome, of course. Let’s open a google doc to collaborative design the solution, what do you think?

Cheers,
Federico

[2019-01-28 13:32] jason-fox opened #143 "[MUST] Show versioned documentation"
On the QuantumLeap ReadtheDocs project, no versioned documents (0.1 - 0.5)  are displayed

Goto https://readthedocs.org/projects/quantumleap//versions/
Ensure that active checkmark is ticked against relevant release tags

[2019-01-28 15:00] c0c0n3 commented on #105
fixed by PR #144

[2019-01-28 15:01] c0c0n3 commented on #128
fixed by PR #136

[2019-01-28 20:08] taliaga commented on #143
Got it, thanks!

[2019-01-28 20:08] #143 closed

[2019-01-28 20:14] taliaga commented on #139
If I understood correctly the request, this is now done. Thanks @jason-fox

[2019-01-28 20:14] #139 closed

[2019-01-28 20:44] taliaga commented on #137
Hi,

While I agree with the need of thanking people, I just don't quite see the point of having this file, considering this info is already in git, or even https://github.com/smartsdk/ngsi-timeseries-api/graphs/contributors.

That being said, I do want to keep consistency with the rest. Note however such command doesn't pick all contributors. Would the output of `git shortlog -sn` work for the req

[2019-01-29 09:16] jason-fox commented on #137
The original wording in the requirements document when this issue was raised stated _"List **all contributors** and do it like Node.js"_ , there is an PR to alter this  see - https://github.com/Fiware/contribution-requirements/pull/39

The proposed update would state _"List **major contributors only** and add a git short log for the rest like [one of these](https://github.com/Fiware/contribution-r

[2019-01-29 13:02] taliaga opened #145 "Error when receiving empty value for datetime types"
When notifications come with attributes of type DateTime (or ISO8601) and no value, QL fails to insert a default "null".

For reference, see https://github.com/smartsdk/ngsi-timeseries-api/pull/122/files

[2019-01-29 16:07] c0c0n3 opened #147 "Typed Arrays"
With #142 we introduced better support for saving structured values as objects in Crate.
We should probably extend that line of work to include support for arrays of structured values, which should be saved as arrays of objects in Crate.

But as we are at it, why not consider typed arrays? Currently we support conversion from the following NGSI attribute types: `Boolean`, `Number`, `Integer`, `Tex

[2019-01-29 16:48] c0c0n3 opened #148 "Fiware Headers"
PR #132 renamed the Fiware headers in the QL API spec:

1. `fiwareService` → `fiware-Service`
2. `fiwareServicePath` → `fiware-ServicePath`

While it's a good thing to align QL header names to Orion's, we also have to take API backward compatibility into account. To this end, we could:

1. Keep the existing names for a period of time with a deprecation warning.
2. Add the new names above and flag

[2019-01-29 17:38] c0c0n3 opened #149 "GeoJSON to SLF attribute conversion"
The location attribute gets stored as GeoJSON. When a client queries the attribute, QL returns GeoJSON. We discussed the possibility of having clients specify the format of the returned location value which could be either GeoJSON or NGSI SLF. This would work as follows:

1. Client specifies format through header or query param.
2. If specified format = GeoJSON, QL simply returns the content as is

[2019-01-30 14:17] c0c0n3 opened #152 "Review NGSI to Crate translation corner cases"
We need to review how we turn incoming NGSI data into Crate tabular format to identify corner cases we are unaware of and possibly change some of the existing translation logic.

For example, at the moment we accept empty attributes, storing them as `NULL` strings in Crate:

    $ curl -v -X POST http://0.0.0.0:8668/v2/notify -H 'Content-Type: application/json' -d'
    {
        "data": [

[2019-01-30 15:30] #105 closed

[2019-01-30 17:06] c0c0n3 commented on #127
closed by #142

[2019-01-30 17:06] #127 closed

[2019-01-30 17:07] c0c0n3 commented on #129
closed by #142

[2019-01-30 17:07] #129 closed

[2019-01-30 17:21] c0c0n3 commented on #141
this issue goes hand-in-hand with #152.

[2019-01-30 17:21] c0c0n3 commented on #152
this issue goes hand-in-hand with #141.

[2019-01-31 11:32] taliaga commented on #135
Hi @jcheca, thanks for your thorough report. Did you manage to sort out the dependencies issue? Let me know if I could help you test something there.

Relying on `flask-cors` may be the way to go. We could even start simple with a "disabled / enable_all" policy and then move on to more advanced configurations for specific resources.

We're adding this issue in our roadmap, but I'll be happy to kno

[2019-01-31 11:39] #96 closed

[2019-01-31 11:39] taliaga commented on #96
Duplicated of / Covered by https://github.com/smartsdk/ngsi-timeseries-api/issues/147

[2019-01-31 11:39] taliaga commented on #36
Duplicated of / Covered by #147

[2019-01-31 11:39] #36 closed

[2019-01-31 12:09] taliaga opened #153 "Refactor: create crate package"
Create a package for crate-specific stuff to control or better see codebase dependence on it.

[2019-01-31 12:17] taliaga opened #154 "Support NGSI-LD"
It's worth looking at the tests for subscriptions part of NGSI-LD [here](https://github.com/Fiware/NGSI-LD_Tests/tree/master/contextSubscription).

[2019-01-31 13:16] taliaga opened #155 "Support advanced download of data"
Investigate either batched downloads or in streaming format

[2019-01-31 13:54] taliaga commented on #43
related: https://github.com/smartsdk/ngsi-timeseries-api/issues/141

[2019-01-31 14:48] #133 closed

[2019-01-31 14:48] #137 closed

[2019-02-01 10:51] c0c0n3 opened #157 "Update dependencies"
We need to update our dependencies to the latest versions to avoid bit rot.

Most of our Python libs are at least one major version number behind, which might make it difficult to fix security vulnerabilities especially if those vulnerabilities are found in libraries that our direct dependencies in turn depend on. Also, we're missing out on major improvements that recent releases bring in. This is

[2019-02-01 13:52] c0c0n3 commented on #131
fixed by #158.

[2019-02-01 13:52] #131 closed

[2019-02-05 10:24] StephaneRouxNCA opened #160 "Log Level"
How can I change log level?

[2019-02-09 20:17] agaldemas commented on #93
Sorry, for late reply, I went through other issues with orion ngsi behavior regarding milliseconds in timestamp (DateTime type)...
I wanted to be sure that we could provide an efficient way to retrieve milliseconds from Orion notification, given an update context sent by an iot agent, and TimeInstant attribute,
since the aim is to be able to handle device attributes timestamp at milliseconds/micro

[2019-02-09 21:44] chicco785 commented on #93
@c0c0n3 is landing shortly a pr to configure using headers the attribute to be used as timeindex. (Which means TimeInstant will be supported). This could be a starting point, but it will not cover metadata (simply because as of today, ql does not store metadata). TimeIndex is (if I recall correctly) stored as epoch timestamp. Supporting microseconds may be not possible, it depends on what crate.io

[2019-02-11 07:35] taliaga commented on #93
That's right, the database stores time_index as a `long` representing milliseconds since epoch.
Support for microseconds could still be implemented in QL but it'd require a big effort to compensate for that. Out of curiosity, what's the scenario you're working on requiring microseconds accuracy?

[2019-02-11 11:54] agaldemas commented on #93
Hello
For the moment only milliseconds should be ok, but I am afraid lits orly in
metadata let me confirm it asap
Cu

Le lun. 11 févr. 2019 à 08:35, Tomas <notifications@github.com> a écrit :

[2019-02-11 14:34] agaldemas commented on #93
To summarize my tests about milliseconds:
if using NGSI V1 from IOT agent json to Orion:
**TimeInstant** is transmitted like this in notification sent by Orion:
[code]
if using NGSI V2 **TimeInstant** is transmitted like this in notification sent by Orion:
[code]
So the milliseconds are lost by Orion with NGSI V2 between IOT agent and Orion
which means:

1/ We have to use another attribute name th

[2019-02-11 14:42] c0c0n3 commented on #93
@taliaga, @chicco785, @agaldemas see #161.

[2019-02-11 16:40] fgalan commented on #93
Some extra information about this:

==> @fgalan suggested to use "type": "DateTimeWithMilis" ("DateTimeMs" should be OK), hence it won't be taken by Orion as a timestamp.

Just to make clear that I suggested that (details in issue: https://github.com/telefonicaid/fiware-orion/issues/3412#issuecomment-461109330) as a temporal workaround. Of course, the good solution will be address that issue and p

[2019-02-12 09:31] taliaga opened #162 "Make /v2/entities return available ids"
It may be useful if `/v2/entities` returned at least the ids of the available entities to further query for.

[2019-02-14 10:05] taliaga commented on #97
Commenting on the questions above, comparing would still be possible because supporting the two just means you accept them as input, but in the backend both as stored in the same format (so they are comparable).

IMO timezones are an issue the user should be caring about, QL of course will never have to change the meaning of that. This mean, the user should know which timezone its index is at nofi

[2019-02-19 17:21] c0c0n3 opened #164 "Historical data representation"
### Summary

We tend to think of historical data as [time series][time-series.wikipedia] and we represent them accordingly in QL. But is this really a good fit for all kinds of historical data we collect? It surely works well for measurements taken at regular intervals, but not so well for tracking state changes. We need to do some brainstorming to figure out how to store data in a way that's then

[2019-02-19 18:42] c0c0n3 opened #165 "Complex Queries"
At the moment QL only supports basic query functionality but we're likely to have to be able to accommodate more sophisticated queries, especially if we want to use QL as a Grafana data source.
Here are some examples of queries @chicco785 came up with that we'll most likely have to support:

1. What is the total number of free parking bays according to the most recent state (free/occupied) reporte

[2019-02-19 18:59] chicco785 commented on #165
(1) what if i want this for a set of entities? will be usage of lastN=1 still ok?
(3) i think context broker support "filter" with q parameter (see the [specs](http://fiware.github.io/specifications/ngsiv2/stable/)) and a language called "Simple Query Language", I would align to that.

[2019-02-19 19:04] chicco785 commented on #165
regarding (2), suppose i am querying the number of free parking slots per hour. probably we will need a way to 1) map the literals to a value use a group by entity id. in this way i would get the "average" occupancy of a each parking entity quite easily and by summing the averages get the total average.

alternatively, i decide that if the last value in the time window (or in the previous one) was

[2019-02-20 17:21] c0c0n3 commented on #165
**(1)** I don't think `lastN = 1` will work for a set of entities but will let @taliaga comment on that.

**(2)** Very good suggestions, but we discussed this extensively yesterday and there are some hairy corner cases to work out first. Have a look at the diagram in #164.

**(3)** yes, simple query language is one of the options we discussed yesterday. but we also considered something more flexib

[2019-02-20 17:45] chicco785 commented on #165
(1) then we will have to extend that, i think it will be a bit overkilling if not run 1) queries to now which entities are there; 2) for each of them retrieve a small value.

[2019-02-22 13:34] c0c0n3 commented on #164
Here's an algebraic "interpretation" of what it means to keep a historical record of device data. It'll come in handy later when discussing this issue further.

![automaton-history](https://user-images.githubusercontent.com/13233181/53245756-ebd00a00-36ae-11e9-97ae-eb6a355e1bf5.png)

[2019-02-25 10:01] scjimenez opened #166 "CrateDB Plugin for Grafana"
Hi,

with our latest effort, the PostgreSQL implementation of Grafana works fine with CrateDB. Hence we skip the Grafana Datasource Plugin for CrateDB and move over to the PostgreSQL data source.

May I ask you to do so as well and furthermore adapt this page https://smartsdk.github.io/ngsi-timeseries-api/admin/grafana/?

Thanks a lot in advance.

Best, Stephanie

[2019-02-25 20:50] jason-fox opened #167 "Add cUrl to libraries to support Docker HEALTHCHECK"
I was thinking of adding a `HEALTHCHECK` to my QuantumLeap instance as shown:

[code]

However, the current `Dockerfile` based on alpine doesn't include cUrl.

Should

[code]

be added to the libraries list in the Dockerfile at [line 3](https://github.com/smartsdk/ngsi-timeseries-api/blob/a18d826217ca9daf237907de8a5475dc7607dda4/Dockerfile#L3)?

[2019-02-26 08:13] taliaga commented on #166
Hi Stephanie, for sure we'll do the switch.
Thank you!

[2019-02-26 08:17] taliaga commented on #167
Hi,
Yes, we'll add that, it's quite handy. Btw, for the healthcheck you could also use the `/v2/health` endpoint.

[2019-02-26 16:51] taliaga commented on #166
Consider [this post](https://crate.io/a/pair-cratedb-with-grafana-an-open-platform-for-time-series-data-visualization/) while updating the docs.

[2019-02-27 19:33] c0c0n3 commented on #164
Here's another example where interpreting the data as a "plain" time series could result in misleading analytics. Say we have a waste container with a sensor that sends us periodic waste level measurements in kilograms:

![waste-container-example](https://user-images.githubusercontent.com/13233181/53514196-748fe100-3ac7-11e9-9e55-dd17d37f2bc2.png)

How would we go about answering basic questions l

[2019-03-01 09:00] #166 closed

[2019-03-01 09:00] #167 closed

[2019-03-01 09:01] taliaga commented on #93
Closed by https://github.com/smartsdk/ngsi-timeseries-api/pull/169

[2019-03-01 09:01] #93 closed

[2019-03-07 16:17] versatildefuy opened #171 "dot in attribute name"
I'm receiving a SQLExpection because some attributes has dot in their names. E.g.
[code]

Can this dot be changed for other symbol before the insertion?

Thank you for your efforts.
Best

[2019-03-07 20:23] c0c0n3 commented on #171
yes, it can. indeed we were thinking of implementing bidirectional encoding of entity types/attribute names to Crate identifiers---i.e. a bijection `NGSI-Identifier ⟶ Crate-Identifier`. See #136 for more details about similar issues. As discussed there the fix isn't trivial which is why we've postponed it to a later date...

[2019-03-08 07:55] versatildefuy commented on #171
Thank you for your prompt response @c0c0n3 .
I can see you are working on this.
As you are currently handling the problem in #136 feel free to close this issue.

[2019-03-08 09:19] c0c0n3 commented on #171
As a temporary workaround, you could introduce a mapping at the agent level so that when data come in from the device the "PM2.5" attribute gets renamed to e.g. "PM2-5" or "PM2_5".

[2019-03-08 11:25] heikkilv opened #172 "Further time_index selection improvement"
The version 0.6 included update to the time_index selection so that you can specify a custom attribute that can be used for the time_index value. However, it would be useful if the given custom value would also be used to search in the attribute metadata. For example, if I have entity with an attribute
<pre>
"someAttribute": {
    "type": "Number",
    "value": 1.2
    "metadata": {
        "myTim

[2019-03-11 12:49] c0c0n3 commented on #172
Excellent suggestions. Thank you so much @heikkilv! We'll definitely consider this and it's likely going to be implemented in a future release, but for the time being we have very little bandwidth available to work on improvements/new features. As always, pull requests are welcome :-)

[2019-03-11 15:41] taliaga commented on #172
Hi, thanks for getting in touch!

For the first part, before discussing the implementation of such specification along with the `Fiware-TimeIndex-Attribute`, let me understand your use-case. The "metadata" option of the policy should be enough to pick those values you need, isn't it? QL would typically pick the latest of the timestamp "value" found in attributes' metadata (I assume you need the la

[2019-03-13 08:21] heikkilv commented on #172
As for the <code>timestamp</code> meta attribute, pretty much all of the data models use it. Including for example [WeatherObserved](https://fiware-datamodels.readthedocs.io/en/latest/Weather/WeatherObserved/doc/spec/index.html). Also, the [guidelines](https://fiware-datamodels.readthedocs.io/en/latest/guidelines/index.html) instructs the use of <code>timestamp</code> meta attribute for attribute

[2019-03-15 08:36] taliaga commented on #172
Thanks for the pointers. I didn't recall seeing those in the past.

Note if you remove the dateModified from your subscription and TimeInstant is not there in your notification, the following policy step should work for your use-case. Too complex, I know. I agree it's time to adjust and flexibilize even more the TimeIndex policy. There's time information coming from everywhere these days.

Thank y

[2019-03-18 16:08] taliaga opened #173 "table_names issues from 0.5 to 0.6"
https://github.com/smartsdk/ngsi-timeseries-api/pull/136 changed the way `table_name` is persisted in the `METADATA_TABLE`.

Unfortunately, this broke backwards-compatibility from releases 0.5.1 to 0.6.

[2019-03-19 08:36] demestav opened #175 "Multiples of aggregation period"
There are a number of available aggregation periods supported: https://github.com/smartsdk/ngsi-timeseries-api/blob/f004386e566eb855f5bb4e5b4df1023c1def2a5e/src/translators/crate.py#L52

Is it possible to have multiples of those values, for example 5 minutes? I couldn't find any documentation about that.

It would certainly be a useful feature to have.

[2019-03-20 14:16] taliaga commented on #175
You're correct, that's not possible at the moment, nor do we have concrete plans to implement that feature. It is usually a need coming from visualization tools, is that your case? Which is your most used case b.t.w?

Working around the issue should not be too complex. I'm thinking it could be done querying a finer-grain period and doing some post-processing of the results; a bit trickier for case

[2019-03-20 14:38] demestav commented on #175
In my opinion, this would benefit both visualization and analysis, since data coming from different devices can have different period and offset. Having a synchronous reference point can be achieved with aggregation, and this offers a unified approach to analyze the data with algorithms that might be tuned for a specific periodicity.

I know InfluxDB supports this out of the box (https://docs.infl

[2019-03-22 21:54] dnredson commented on #135
Hi. I have the same problem with the CORS and I'd like to know if there is any new about that.

[2019-03-25 13:08] taliaga commented on #172
@heikkilv thanks for the PR!. Please see my latest comments, specially https://github.com/smartsdk/ngsi-timeseries-api/pull/176#discussion_r268629515 before we can merge it.

A departing question, how did you manage to get an attribute embedded in the metadata section of another attribute? What do you have (orion, agent) and how did you configure it to end up with something like that?

[2019-03-25 16:10] heikkilv commented on #172
In my use case I receive the data as one day patches which contain multiple measurements for the attributes. I have used handwritten adapter program to send the data to Orion. Because I communicate directly with Orion I can of course use any data model I want (including any meta attributes). Since in my case the actual timestamps for the measurements where not the same as the sending time to Orion

[2019-04-08 10:11] jmsbernabeu commented on #91
Hi,
Now I have a problem with crate-datasource plugin for grafana. This plugin has removed from the official grafana plugins list. How can install this plugin manually?
Thanks

[2019-04-10 11:13] taliaga commented on #91
Hi @jmsbernabeu , please don't hesitate to create new issues to discuss different problems. Otherwise this will not be visible to others.

Back to your question, we suggest you try the postgresql datasource plugin instead ([docs updated recently](https://quantumleap.readthedocs.io/en/latest/admin/grafana/#configuring-the-datasource)) because crate has deprecated the crate datasource plugin. We'll

[2019-04-15 13:46] chicco785 commented on #175
@demestav there is a quite large number of reasons influxdb was dropped, main ones being:
* missing support for geographical queries
* lack of ha / scale open source deployment

said so, this is an open source project, you can contribute to it with features relevant to you. not that we will never implement features requested by the community, simply given that we have internal priorities driven by

[2019-04-15 13:56] demestav commented on #175
@chicco785 Thank you for the details. If we end up implementing something, of course I will submit a pull request. In the meantime, is there a process to submit feature request? Or is this issue enough to count as one?

[2019-04-15 15:13] chicco785 commented on #175
yes, this count as feature request :)

On Mon, 15 Apr 2019 at 15:56, Demetris Stavrou <notifications@github.com>
wrote:

--
*Dr. FEDERICO MICHELE FACCA*
*CTO, Head of Martel Lab*
+41 788075838
*MARTEL INNOVATE* <https://www.martel-innovate.com/> - INNOVATION, WE MAKE
IT HAPPEN
Click *HERE* to download Martel reports and white papers!
<https://www.martel-innovate.com/premium-content/>
Follow us on

[2019-04-16 07:38] dcalvoalonso opened #177 "Bug: throttling cannot be set to zero"
Using the subscribe endpoint as described in https://github.com/smartsdk/ngsi-timeseries-api/blob/master/specification/quantumleap.yml#494, if the throttling query parameter is set to zero, QL creates the subscription in the context broker using the default value (1).

[2019-04-16 09:29] taliaga commented on #177
Good spot, thanks for the report!

[2019-04-16 15:37] c0c0n3 opened #179 "Too many restarts in K8s cluster deployment"
We've been experiencing an unusually high number of restarts in our K8s cluster. For example in the last 3 days K8s restarted QL 103 and 99 times in each of the two pods, respectively.

[2019-04-17 09:42] pooja1pathak opened #180 "Migrate data from STH-Comet to QuantumLeap"
I am trying to migrate data from STH-Comet to QuantumLeap and access that data with QuantumLeap APIs. As both the GEs have different database and the structure of the data storage is different, is there any way to do this?

[2019-04-17 12:33] chicco785 commented on #180
@pooja1pathak we haven't planned any migration tool. An idea could be
1. Download as JSON the collections from mongo
1. Reformat the JSON (if needed) as proper NGSI for the QL /notify endpoint
1. Send data entity by entity to the QL /notify endpoint (be careful with setting in the header the proper time index)

[2019-04-17 18:54] chicco785 commented on #179
I think it happens when QL becomes unresponsive, and so it's killed by k8s:
[code]

[2019-04-22 11:19] pooja1pathak commented on #180
Hi @chicco785, Thank you for your response.
I am using the same approach to migrate data from STH to QL.
I am writting code in JAVA to automate this task and I am facing some issue while connecting to docker container via code.
I am unable to connect to docker container of mongoDB.
In my environment STH and QL both are running as docker container.

Please guide me further.

[2019-04-23 06:02] taliaga commented on #180
Hi @pooja1pathak,

How are you deploying your containers? Below some help assuming you're using the [docker-compose-dev.yml](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docker/docker-compose-dev.yml)

If your code is also running in a container (ideal), make sure such container is [launched on the same docker network](https://docs.docker.com/engine/reference/run/#network-settings)

[2019-04-29 07:31] taliaga commented on #177
Forgot to mention the fix can be tested with `smartsdk/quantumleap:rc` Docker image until `0.6.1` is out.

[2019-04-29 07:31] #177 closed

[2019-04-29 07:37] taliaga commented on #172
Forgot to mention the fix is available with Docker image `smartsdk/quantumleap:rc` until `smartsdk/quantumleap:0.6.1` is out.

[2019-04-29 07:37] #172 closed

[2019-05-02 18:55] c0c0n3 commented on #164
So we'll have to be able to query device data not only in relation to time but also to device state and location. While location shouldn't be too much of a problem (well, at least if we can assume devices are immovable), state is trickier. So let's start with a conceptual model of devices, observations, time and state. Then we'll build on this to come up with a possible solution for the kind of da

[2019-05-03 13:29] chicco785 commented on #164
@c0c0n3 there must be a simpler way than representing directly the state in ql for each entity.
consider that the same entity, for different parameters may have a different concept of state. as a matter of fact, you can define "a function" to compute the state and steps dynamically.
o maybe you want to change (for whatever reason) the way state is computed (and hence steps defined)

[2019-05-03 14:30] c0c0n3 commented on #164
@chicco785 yah, perhaps there's an even simpler way of doing this. But keep in mind that not storing the state info and computing it dynamically could have a huge negative impact on performance---e.g. how to group data point by step efficiently?

[2019-05-03 15:47] chicco785 commented on #164
i am thinking of using views. but at the moment is suspect there is no way given the limitations of crate supported SQL. but i may 100 % wrong :)

[2019-05-06 12:18] ohylli opened #185 "Possible fix for multiple data elements in notifications not supported yet"
I was attempting to find the most efficient way to send a lot of updates to QuantumLeap and so decided to use the notify api end point directly. Then I noticed that it only supports notifications containing only one element in the data array. If more than one element is given a response with status 400 and content "Multiple data elements in notifications not supported yet" is returned. I started t

[2019-05-06 15:15] chicco785 commented on #185
dear @ohylli
thanks for looking into quantum leap :)
most probably it was not implemented since at afaik, orion return 1 data element per notification, but i may be wrong :) @taliaga ?

cheers,
federico

[2019-05-07 09:01] chicco785 commented on #185
@ohylli we discussed in our weekly sprint. we assumed multiple data notification where never issued by orion. which is not the case in a special case, the initial notification:
https://fiware-orion.readthedocs.io/en/master/user/initial_notification/index.html

We welcome a pull request on the matter!

Thanks!

[2019-05-08 13:29] taliaga opened #186 "Review CI build time"
Builds in CI are starting to timeout, plus there are some legacy stuff (packages in docker image) that can be improved. Adjust as necessary.

[2019-05-08 14:59] taliaga opened #188 "Fix tests in sql package"
tests in sql package are not running (and need checking. see https://travis-ci.org/smartsdk/ngsi-timeseries-api/builds/529815262?utm_source=github_status&utm_medium=notification )

[2019-05-09 13:49] jason-fox opened #190 "docker-compose-dev is outdated"
The [docker-compose-dev.yml](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docker/docker-compose-dev.yml#L56) refers to the deprecated Crate-DB plugin. The plugin is not found when starting with the `grafana/grafana:latest` image so Grafana does not start.

Related:  https://github.com/smartsdk/ngsi-timeseries-api/issues/166  https://github.com/FIWARE/tutorials.Time-Series-Data/issue

[2019-05-13 06:36] #173 closed

[2019-05-15 08:17] #190 closed

[2019-05-16 12:18] c0c0n3 opened #193 "Batch processing of notifications"
PR #191 added support to store multiple entities in notification messages---btw, kudos to @ohylli. But we still need to think about how to handle:

1. **Partial errors**. What to do if we encounter an error for some of the entities in the batch? e.g. what if 2 out of 20 entities fail validation? should we reject the whole batch (probably not a good idea!) or try saving the 18 that passed validatio

[2019-05-16 16:50] c0c0n3 opened #194 "Querying state at a given time"
We'd like to be able to query the set of data points collected for a given entity type at a specified point in time. For example, we'd like to be able to tell

* how many bikes are currently available for rent;
* what was the average air quality yesterday at 11am;
* how much waste was collected this morning at 9;
* how many EV charging stations are currently busy charging vehicles.

### Conceptual

[2019-05-22 10:56] pooja1pathak opened #195 "Data persistence even after removing subscription"
According to the [documentation](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docs/manuals/user/index.md) which states that ```Historical data for each entity type will be persisted as long as the subscription is active, correctly configured and the entity in the notification is NGSI compliant.``` It should be concluded that the data in QuantumLeap should exist as long as subscripti

[2019-05-22 11:02] chicco785 commented on #195
The statement refers to the fact that no new data is persisted if no subscription is active. You need to remove data calling the proper endpoint if you don’t want it to be stored anymore.

[2019-05-22 12:26] taliaga commented on #195
The use of the English expression "as long as" there is to indicate that the mentioned conditions are prerequisites for data persistence. I.e., it means "provided that", not "for the duration of". I understand why this may be a source of confusion, so we could rephrase the sentence if you agree.

I believe QL should never delete data when subscriptions are deactivated/deleted in Orion.

[2019-05-23 12:36] #195 closed

[2019-05-23 17:16] AngeloIapichino opened #197 "time_index only in seconds?"
Hi guys, i'm new in FIWARE.

I'm wondering why if i send to the broker messages with a time interval < 1 second i get this behaviour (more record in same second):

![image](https://user-images.githubusercontent.com/12069840/58272401-b65eb980-7d8e-11e9-80c5-89aaf5b6b518.png)

I want to use milliseconds in my project.

Any advice?

Thanks in advance

[2019-05-23 17:33] taliaga commented on #197
Hi there!

QL processes `time_index` with precision of milliseconds so that shouldn't be a problem.

You need to make sure the Orion subscription has no throttling to actually get more than 1 per second. But that what you show, 4 times the same instant, looks weird. I've seen sometimes a duplicate of two, specially with the first notification Orion sends, but not more than that.

What does your su

[2019-05-23 18:30] AngeloIapichino commented on #197
Orion version: 2.2.0
QL version: 0.6

I made subscription using QL API:
POST url = 'http://host8668/v2/subscribe'
With this data {
          "orionUrl": 'http://orion:1026/v2',  "quantumleapUrl":'http://quantumleap:8668/v2',
          "entityType": entityType
        }

[2019-05-24 08:11] chicco785 opened #199 "meeting to discuss future evolutions of ql"
Dear All,
@AngeloIapichino @ohylli @pooja1pathak @heikkilv @juliozinga @agaldemas @versatildefuy @demestav

will you be interested in discussing together about features and contributing to the evolution of quantum leap?

Cheers,
Federico on behalf of Martel team

[2019-05-24 08:28] chicco785 commented on #197
@AngeloIapichino most probably the problem is what orion sends to ql. please check that `dateModified` does not include milliseconds. also, refer to the [time-index](https://quantumleap.readthedocs.io/en/latest/user/#time-index) discussion to see how to use alternative columns as `time_index`

[2019-05-24 08:39] #185 closed

[2019-05-24 11:56] ohylli commented on #199
Thank you for the invite. Both I and @heikkilv are interested in participating. We both work at [Tampere University](http://www.tuni.fi/en), Unit of Computer Sciences. We use FIWARE in the [CityIoT](https://www.cityiot.fi/english) project.

[2019-05-24 14:22] AngeloIapichino commented on #199
Thank you! I work for Intellimech and we are in the FIWARE foundation. I'm surely interested in your proposal :) We use FIWARE in the FASTEN project

[2019-05-24 14:25] chicco785 commented on #199
@c0c0n3 @taliaga can you set up a doodle and share here the link?

before the meeting, we will create as well a google document to share with you, so you can put topics for the call

[2019-05-24 17:35] c0c0n3 commented on #199
Done, here's the link to the Doodle:

https://doodle.com/poll/b2ia8k2mbs9baw4n

I don't have your email addresses so I wasn't able to send you an invite but anyone with the link should be able to vote. I was thinking we could try scheduling the call in the first week of June so I set up the Doodle accordingly---time slots in Zürich time (GMT+2). If that week doesn't work for some of you, we can tr

[2019-05-27 07:41] ohylli commented on #197
Orion does not support milliseconds. See for example [this issue](https://github.com/telefonicaid/fiware-orion/issues/3412).

[2019-05-27 08:04] AngeloIapichino commented on #197
Thanks ohylli! We get the problem know...

[2019-05-27 08:32] demestav commented on #199
Thank you for the invite @chicco785 . What channel of communication is planned for the meeting?

[2019-05-27 08:33] ohylli commented on #197
If you insert directly to QuantumLeap via its notify API I think it will then keep the milliseconds.

[2019-05-27 09:47] chicco785 commented on #197
AFAIK, it supports it for but not for default dateCreatetion
dateModification

[2019-05-28 12:21] Glagnar commented on #154
Is NGSI-LD on your roadmap @taliaga ?

[2019-05-29 10:18] taliaga commented on #154
Hi @Glagnar, for the time being not really, because it does not connect directly to the most urgent needs of the current projects in Martel.
The first action item is to spend some time to understand how big or small the effort to support LD would be.
Do you need such support soon? May we ask out of curiosity in which context?

[2019-05-29 12:02] chicco785 commented on #199
we will provide an hangout, if that's ok to everyone

[2019-05-29 13:26] chicco785 commented on #194
@c0c0n3 the state at a given point in time is the latest state of an entity before that point in time, no?
you seem to consider the a surrounding of a given point in time, which to me is not the answer to the question "what is the latest state before this point in time" (and introduce too much complexity)

so, for example, i would use this query for the "now":
[code]

and this query for the `p = 4

[2019-05-29 13:30] chicco785 commented on #197
i suppose we can close the issue, if not please, let us know, we will re-open it

[2019-05-29 13:30] #197 closed

[2019-06-03 09:40] c0c0n3 commented on #199
Hello everyone,

Considering the Doodle poll and our schedule for this week, it looks like the best option for the meeting would be

* **Friday the 7th of June from 11am to 12am**

We've set up a Google Hangouts, please join using the link below:

* meet.google.com/dvu-hsfs-mjd

Tentative agenda:

* New features to develop and their priorities
* Enhancements and fixes
* Collaboration options

@Ang

[2019-06-03 11:20] Glagnar commented on #154
Hi @taliaga We are looking both at the open source NGSI-LD implementations Scoripo Broker ( by NEC ) and the djane.io broker ( by Sensinov ) and wondered if they perhaps could be used in conjunction with QuantumLeap ?

[2019-06-03 11:46] chicco785 commented on #154
hi @Glagnar , I think some tweaks will be needed to make it work, but not having it tested, it is hard to say 100%. In general not much work may be needed to just store the json, a different topic is to implement the NGSI-LD semantic.
Anyhow, this is an open source project, which means, if a feature is a priority for you, you can contribute it.

[2019-06-03 13:38] chopmann commented on #199
@c0c0n3 cornelio.hopmann(--)wobcom.de

[2019-06-03 13:57] c0c0n3 commented on #194
Not sure. For example, what if the latest data point we have is a month old? Perhaps the device was decommissioned or just stopped working. I think we should provide the means to deal with stale data which is what the selection lower bound `p0` does.

Yep, that's right. Considering near points makes sense to me since it's more generic and caters for situations where you're not necessarily dealing

[2019-06-03 14:15] chicco785 commented on #194
Let's go now for a simple and supported solution, and later, eventually, extend. In general, we need to be more pragmatic, or implementing simple things will consume time with don't have.

An entity should not have multiple updates in the same point in time (I am not even sure considering context broker throttling this is possible) and this should solve your case. A lower time bound can be introdu

[2019-06-03 16:09] c0c0n3 commented on #194
Cool, but are we going to use your query for measurements too, e.g. air quality, and later improve it? Also, yes, perhaps we can assume duplicates are unlikely---even though I reckon they're possible given the fact we introduced custom time indexes. This would simplify the query. Anyhoo, below is the same query rewritten to be Crate-friendly, just in case we'll need it in the future :-)

    SELEC

[2019-06-03 16:15] chicco785 commented on #194
Latest value of airquality parameter should not be an issue, i suppose. or the question was in reference to data duplication? I tend to believe that `entityId, time_index` should be seen as a key. you may update it, but not duplicate it. feelings? @c0c0n3 @taliaga

[2019-06-03 16:26] c0c0n3 commented on #194
I was thinking of that one example, where you have two data points, one at 14:01 and the other at 15:01 and you ask what was the air quality at 15:00.  Wouldn't the 15:01 data point be a better approximation?

I'd hope so too, at least for practical purposes, but don't have enough experience with IoT devices in the wild to actually make a call :-) For example is it possible to have time indexes wi

[2019-06-03 17:10] chicco785 commented on #194
while i agree that it would be a better approximation, it is a different semantic (and so query) than give me the last value before time x. as said, let's start simple.

usually msec is the resolution, and if different devices sends data to orion within a time frame less than the throttling, only a single notification is sent, grouping all updates.

[2019-06-04 07:17] c0c0n3 commented on #194
Yes indeed, which is why I thought we should support something more flexible than "last value before time x" or "first value after x". In this kind of situation "nearest point" seems to be more appropriate? Anyway, the point here is that if we provide a more generic mechanism, then the query writer can decide what's the best thing to do for the situation at hand. For example, if we're querying par

[2019-06-06 06:22] pooja1pathak commented on #199
Hi @c0c0n3,
Could you please provide the time-zone for meeting. My email Id is: pooja1pathak@gmail.com.
If possible, kindly add my team member in the meeting and his email-id is kr.chandradeep@gmail.com.

[2019-06-06 07:32] c0c0n3 commented on #199
Hi @pooja1pathak,

I've added your and your colleague's emails to the invite, you both should get a confirmation email soon.

Meeting will be at 11am Zurich time---Central European Summer Time (GMT +2).

Thanks!

[2019-06-07 08:51] chicco785 commented on #199
https://docs.google.com/document/d/1Ik5obEgrci7HZkI_I7e7Yimi3GrdYQXwRYYfe2ZKjpQ/edit#

[2019-06-07 12:03] c0c0n3 opened #204 "How to deal with nulls?"
Quantum Leap may store a `null` attribute value even if the attribute wasn't originally sent by the device. This is especially so in batch notifications where we take the union of all the attributes for each entity type in the batch---see #191.

How should a DB `null` be interpreted? As it stands now it could be either because the device sent an attribute with an empty value or it could be we adde

[2019-06-08 10:22] agaldemas commented on #199
Hello, sorry was not available for the meeting, but I'm interested to participate further,
@ Eridanis (FIWARE gold member since 11/2018), we promoted the use of QL/CrateDB/Grafana as an alternative to STH
Our experience:
- while the project @nice metropole smart city team, using QL with high frequency input from Orion, show performance issues, location information, postal address, complex AirQuali

[2019-06-10 10:09] chicco785 commented on #199
hi @agaldemas

can you clarify:

are you experiencing perfomance issues sending data to QL?

i believe this is already implemented, at least partially. QL as such supports milliseconds. The issue is the notification. PR #176 introduced new strategy to set time index and also provided a way to configure it via notification.

We use QL in a cluster and performs quite well. Still we think that to imp

[2019-06-13 07:02] chicco785 opened #205 "500 error returned when wrong parameters (should be a proper message)"
**Describe the bug**
If query uses wrong parameters a message that cannot be understood is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Send this request to 'https://api.s.orchestracities.com/timeseries/v2/entities/urn:ngsi-ld:AirQualityObserved:lugano-2689/attrs/no2?type=AirQualityObserved&lastN=10'
2. See error:

[code]

[2019-06-13 07:24] chicco785 opened #206 "return not found for query attribute, but the attribute is there"
**Describe the bug**
An attribute that is listed in the single entity query is not returned in the attr query.

**To Reproduce**
Steps to reproduce the behaviour:
1. Send this payload `https://api.s.orchestracities.com/timeseries/v2/entities/urn:ngsi-ld:AirQualityObserved:lugano-2689/attrs/airQualityIndex/value?lastN=10`
2. See error:
[code]

**Environment (please complete the following informatio

[2019-06-13 07:55] chicco785 commented on #205
it's not that the bug see #206

[2019-06-13 07:55] #205 closed

[2019-06-13 12:00] chicco785 opened #208 "issues with multi entity notification (wrong servicepath created)"
**Describe the bug**
When a multiple notification is sent, the service path created is a comma separated version of all servicepaths of the entities.
It could be that the header sent by orion is exactly that. We should then split it and attach it one for entity.

entity_id | entity_type | fiware_servicepath | powerstate | time_index | timeinstant
-- | -- | -- | -- | -- | --
urn:ngsi-ld:Streetlight

[2019-06-13 21:58] chicco785 opened #209 "don't store entries where all values are null"
**Is your feature request related to a problem? Please describe.**

When you first register an iot device, a registration with empty values is sent to the context broker. as result a corresponding notification may be sent to quantumleap. such notification should not be used, given that no data will be in it.

[2019-06-14 14:51] c0c0n3 opened #211 "Upgrade test env to Crate 3.3.3"
We've recently upgraded our prod Crate cluster to Crate version 3.3.3 but we're not yet using this version in our dev test environment.

**Proposed solution**
Use Crate 3.3.3 in all our docker files.

[2019-06-17 08:19] chicco785 commented on #211
let's check the matrix approach to test multiple version of crate!
https://github.com/smartsdk/mongo-rs-controller-swarm/blob/master/.travis.yml

[2019-06-17 10:22] c0c0n3 commented on #206
closed by #210.

[2019-06-17 10:22] #206 closed

[2019-06-18 09:40] c0c0n3 opened #213 "Flatten JSON in query results"
**Current query result format**
We've been using the following format for query results: `{ data: { ...query result...} }`. The `data` attribute adds a level of nesting which isn't needed.

**Proposed solution**
Remove the `data` attribute from the JSON returned by the queries and put the fields that make up the query result at the top level as in e.g. `{ entityId: ..., index: ..., values: ...  }`

[2019-06-18 16:49] c0c0n3 commented on #147
As of PR #214, we switched to untyped arrays in the API spec for values returned in query responses. While this works, it can be improved: we may want to consider using typed arrays again. The array type in the spec will probably have to be the sum type `S` of all types catered for by the NGSI spec, i.e. `array[S]` where `S = bool | number | ...`.

[2019-06-20 07:35] ghost opened #215 "Coverage tool integration with Travis for quantumleap"
Code coverage shows which lines of source code have been tested and which lines of your source code have not been tested.
It will help to improve code quality. Whenever a new PR comes, it is important to find the code coverage before merging it into the master code.

So, there should be a proper coverage tool integration available for quantumleap repository.
I'd suggest to integrate existing Travi

[2019-06-21 08:03] SourabhChourasiya-NEC commented on #215
Hello @c0c0n3, @chicco785, @taliaga Sir

I am investigating for Coveralls, CodeCov and CodeClimate with coverage.py. Could you please provide your opinion for code coverage tools(Coveralls, CodeCov and CodeClimate) or according to you which one is suitable for the same?

As per my suggestion, we can use coveralls with Travis for the same.
Please provide your valuable comments.

Thanks

[2019-06-21 08:25] taliaga opened #217 "Handle ql/v2 root endpoint"
The root endpoint (https://ql/v2/) should not error out, maybe present the api with the different options available

[2019-06-21 08:26] taliaga commented on #217
maybe best solved together with https://github.com/smartsdk/ngsi-timeseries-api/issues/94

[2019-06-21 09:26] pooja1pathak commented on #199
Hi @chicco785 @c0c0n3
As discussed in the meeting regarding Coverage tool, my colleague has raised an issue #215 for the same. We have investigated the integration of coveralls with travis which is working as expected.
We have also investigated CodeClimate for the same. But as per our analysis coveralls will be better to use.

Please provide your input so that we can raise PR for this.

[2019-06-23 07:32] taliaga commented on #215
Hi @SourabhChourasiya-NEC , thanks for taking the initiative here. I don't have a strong preference over which of those to go with, I am happy to trust your judgement. I assume you have a criteria to pick one. We'll be happy to hear about your criteria and your findings!

If it helps, here are some points that I would consider:
- Easy to use (not only to put in place, but also to let us extract th

[2019-06-23 09:41] taliaga commented on #171
Reopening because I saw latest QL complaining about a dot in the name. I don't recall the full story of what happened with supporting this. We will investigate and check what's the current status.

[2019-06-24 08:38] c0c0n3 commented on #213
closed by #214.

[2019-06-24 08:38] #213 closed

[2019-06-24 09:44] c0c0n3 commented on #154
@taliaga @chicco785
One thing that came out of the Fiware meeting on 24 June 2019 is that support for NGSI-LD temporal queries would position Quantum Leap very well in the Fiware ecosystem. We don't need to support the whole NGSI-LD spec I think, but possibly just adapt/extend the current query functionality to implement NGSI-LD temporal queries.

[2019-06-24 10:14] c0c0n3 opened #219 "Release 0.7 reloaded!"
### The problem
Release 0.7 (#216) brought in a breaking API change. While the query semantics remained exactly the same, the result representation format changed slightly---see #214, #213. Even though technically this isn't a "semantic change", we should still consider bumping up the major version number to 1 since that's what semantic versioning requires and we're supposed to stick to it--- @jas

[2019-06-24 10:30] c0c0n3 commented on #219
@taliaga @chicco785 @jason-fox
One thing to consider though is that our API is somewhat still in the flux---think state-related queries! So as we experiment and explore new avenues there will be lots of breaking API changes. If we stick to semantic versioning and bump up the major version number each time, we might wind up on version 7 or 11 or whatever in a short period of time---think months rat

[2019-06-24 13:19] c0c0n3 commented on #219
@jason-fox a variation on the theme would be to use semantic versioning at the API level for the interim.
In fact, we deliver Quantum Leap as a REST API, not as a Python library. So we could keep our own informal versioning scheme for the Python code and bump up the API major version number independently as/when needed. In detail:

1. The API spec we released with 0.7 gets a 1.0.0 version number o

[2019-06-26 09:25] pooja1pathak commented on #180
Fixed in #196

[2019-06-26 09:25] #180 closed

[2019-07-02 10:25] SourabhChourasiya-NEC commented on #215
fixed in #221

[2019-07-03 13:40] SwatiNEC opened #222 "Not able to access subscribe API of quantumleap with WSO2 API Manager"
Hi

I am accessing QuantumLeap APIs via WSO2 APIM using mediator and policy files. The GET entities API executes successfully. But I am facing an issue while executing the subscribe API of QuantumLeap via WSO2 API Manager, i.e., Quantumleap becomes unresponsive for subscribe API, and in this unresponsive duration we are not able to access any other API of QL directly.
But after some time the timeo

[2019-07-03 15:36] taliaga commented on #222
Hi,

I have never tried WSO2. We should understand if it's a QL-only or an integration issue with WSO2.

Could you reproduce the problem with a simple local docker-based deployment of QL? `/subscribe` should work for you in this setting.

Note that the '/subscribe` endpoint is just a convenience to get your subscription created in Orion. It makes QL create a request to Orion, so maybe this request

[2019-07-04 04:27] SwatiNEC commented on #222
HI @taliaga

It is an integration issue with WSO2 when we use policy based authorization on wso2.

`Could you reproduce the problem with a simple local docker-based deployment of QL?`
yes /subscribe API of QL is working properly without WSO2. I am facing this issue only with WSO2.

Is there any deployment server used by QL?

[2019-07-05 09:33] taliaga commented on #222
Good first check.
Did you happen to investigate the hypothesis of QL's request to Orion being blocked by WSO2?
Not sure I understand your last question. We've been deploying QL in Docker Swarm clusters on Openstack, Kubernetes clusters on AWS and vSphere. Never with WSO2 though, so I'm not sure how I can be of further help.

[2019-07-08 09:30] tomsluyts opened #223 "Insertion date != Observation date"
Is there a way in quantum leap to distinguish between insertion date and observation date?

STH has the difficulty that for instance the querying API uses the insertion date as the basis for time related queries. This leads for instance to issues when replaying historical data to get it up to date - in these cases the insertion date is not very relevant. Basically insertion date only has operation

[2019-07-09 11:28] pooja1pathak commented on #199
Hi @chicco785 @c0c0n3 @taliaga

Our team raised the PR #221 for coverage tool integration.
Please look into this and provide your comments if any.

Thanks

[2019-07-09 14:07] taliaga commented on #223
Hi there!

There are many dates in the nature of the problem and things can get a bit confusing quite easily (for me at least).

For the queries, QuantumLeap will use the `time_index` column. Which date field that column persists is something you can configure and it's explained (hopefully) [in the Time Index part of Data Insertion in the docs](https://quantumleap.readthedocs.io/en/latest/user/#da

[2019-07-09 14:14] tomsluyts commented on #223
Thanks that's a clear answer. It would be nice if QL would support ranges, or would at least have a way to handle them, because the NGSI datamodel also supports them but for us it's not a must.

[2019-07-09 14:14] #223 closed

[2019-07-12 13:14] scjimenez commented on #166
Thanks a lot for the switch, that's awesome :) May I ask you to update [this page of yours](https://smartsdk.github.io/ngsi-timeseries-api/admin/grafana/) as well, please? In case needed: Please find some information about pairing CrateDB with the latest Grafana version [in this blog post.](https://crate.io/a/pair-cratedb-with-grafana-6-x-an-open-platform-for-time-series-data-visualization/). Than

[2019-07-17 19:15] taliaga opened #224 "First-time null values taken as object attributes"
**Is your feature request related to a problem? Please describe.**

When the first notification arrives with an attribute value of Null, QL creates a column for it of type null

**Describe the solution you'd like**

In those cases, don't commit to a data type and simply ignore the attribute.

**Describe alternatives you've considered**

**Additional context**

[2019-07-17 19:18] taliaga opened #225 "Support use of " wrapping fromDate and toDate"
**Describe the bug**

Parameters dateFrom and dateTo of several API methods require a date in ISO format. If such paramter goes as "YYYY-mm-ddThh:mm:ss" instead of just YYYY-mm-ddThh:mm:ss (i.e. with wrapping "") QL does not recognize the dates.

[2019-07-18 14:14] taliaga opened #227 "Fix master (nominatim timing out)"
Master is broken, three tests are failing:
- test_entity_add_street_line
- test_entity_add_country_shape
- test_caching

All due to timeout in the connection to osm Nominatim. See https://travis-ci.org/smartsdk/ngsi-timeseries-api/builds/560494245?utm_source=github_status&utm_medium=notification

[2019-07-19 08:00] c0c0n3 opened #228 "Initial Timescale DB support"
### The problem
Crate DB's support for window functions and advanced queries is still in its infancy. Ditto for storage and querying of spatial data. Moreover, most of the existing advanced features are only available in the enterprise edition. All this makes it hard for us to implement time series analytics that go just beyond the basics.

### Proposed solution
Implement an additional storage bac

[2019-07-19 08:04] c0c0n3 commented on #228
@dherykw: @taliaga mentioned your interest in a Timescale QuantumLeap backend. Get in touch if you'd like to contribute or just find out more about our plans :-)

[2019-07-19 22:28] jaimeventura opened #229 "/ui/ endpoint no longer available since 0.6.2"
Since 0.6.2, with the update to Connexion 2.x, /ui/ endpoint no longer available.

You need to include/install 'connexion[swagger-ui]', as it no longer includes Swagger UI by default.

[2019-07-22 16:42] jaimeventura opened #230 "Allow specify which attribute to apply the 'fromDate'/'toDate' filter"
**Is your feature request related to a problem? Please describe.**
Sometimes our instances are updated in batch (several updates for the same entity). As an example, imagine that for some reason, the readings from a sensor were cached (in the sensor or midlware) and later sent to the context broker at '03/01/2019':
{'entity_id': 'A', 'dateObserved': '01/01/2019', 'value': 5}
{'entity_id': 'A', 'da

[2019-07-22 17:04] chicco785 commented on #230
@jaimeventura the trick to solve your issue is to set as `time_index` attribute `dateObserved`

[2019-07-22 17:05] chicco785 commented on #230
see the documentation for more details: https://quantumleap.readthedocs.io/en/latest/user/#time-index

[2019-07-23 00:17] jaimeventura commented on #230
Oops, sorry about that.
Last time i checked the documentation was a long time ago, i must admit.
Its not what i was describing, but fits the purpose.
Im closing this.
Thank you,

[2019-07-23 00:17] #230 closed

[2019-07-24 08:09] chicco785 commented on #230
@jaimeventura i know that is not exactly what you asked, there reason why we don't support arbitrary time attributes is that timeseries query optimization require to select a specific index, multiple ones are not supported (at least in crate)

[2019-07-24 09:36] jaimeventura commented on #230
@chicco785 Sorry if it passed the wrong ideia. :)
I strongly believe/agree the way it is implemented as the right way to solve the problem i presented.

By the way, is there an alternative channel to have community support (maillist, slack, ..). I have some ideias/doubts/... i would prefer to present other in than as "bug" or "feature request" in github.

Thanks

[2019-07-24 09:41] chicco785 opened #232 "evaluate availability of other communication channels"
**Is your feature request related to a problem? Please describe.**
QL developers and users can communicate / discuss only via github so far.

**Describe the solution you'd like**
Other channels would allow more interaction

**Describe alternatives you've considered**
ML/Slackware

**Additional context**
N/A

[2019-07-24 09:42] chicco785 commented on #230
We have thought of other channels so far, because being a small team, we prefer to limit distractions. Anyhow, I opened a ticket #232 to discuss this internally.

[2019-07-29 09:46] c0c0n3 opened #233 "Timescale backend docs"
**Is your feature request related to a problem? Please describe.**
PR #231 brought in a new Timescale backend. This needs to be documented in the QL manual.

**Describe the solution you'd like**
Features are already documented in #231 but the content needs some massaging into the QL manual.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-07-31 10:36] SwatiNEC opened #234 "Why subscribe API use query parameters"
Hi

I have a query regarding the implementation of notify and subscribe API. subscribe API uses query parameter as payload while notify API uses body as payload.
Could you please tell me why the implementation of both API is different?

[2019-07-31 13:35] c0c0n3 opened #235 "Enable Coveralls integration"
**Is your feature request related to a problem? Please describe.**
After merging #221 into master, there are still a couple manual of steps to enable Coveralls integration with GitHub and Travis.

**Describe the solution you'd like**
@chicco785 @taliaga follow the instructions on #221 to log into Travis and Coverall, taking care of using the **organisation** account so that the settings don't get

[2019-07-31 16:06] chicco785 commented on #235
i think i covered all stesp

[2019-08-04 11:18] c0c0n3 commented on #235
excellent, thanks! closed by #236

[2019-08-04 11:18] #235 closed

[2019-08-04 20:35] c0c0n3 commented on #234
Hi @SwatiNEC,

The reason why each endpoint has a different interface is that those endpoints serve different purposes. The `notify` endpoint is where Orion sends entity updates to QuantumLeap, whereas `subscribe` is a QuantumLeap-specific convenience endpoint to register QuantumLeap for notifications with Orion---i.e. to create a subscription in Orion that points back to QuantumLeap's `notify` en

[2019-08-05 08:47] c0c0n3 commented on #228
closed by #231 , #237

[2019-08-05 08:47] #228 closed

[2019-08-05 09:04] c0c0n3 opened #238 "Relax Crate health check"
**Is your feature request related to a problem? Please describe.**
At the moment we make the Crate health check pass only on a `GREEN` label. This might be the cause of the frequent restarts we're experiencing in our cloud deployment, since often the Crate cluster state is `YELLOW` and so we our health check doesn't pass and K8s will eventually restart QL.

**Describe the solution you'd like**
Mak

[2019-08-05 10:24] c0c0n3 commented on #238
closed by #239.

[2019-08-05 10:24] #238 closed

[2019-08-05 15:46] agaldemas commented on #199
Hi @chicco785, sorry for late reply, find hereafter my answers

**AG: using Orion subscription, to feed QL, we experiment some loss of notification messages, we had to configure the queue system in Orion to avoid this issue.**

**AG: I read about PR #176, if "TimeInstant" attribute is considered, high priority  than "dateModified" and that the milliseconds are captured, it's perfect !**

**AG: I n

[2019-08-07 09:13] c0c0n3 opened #241 "Discard attribute on type mismatch"
### The problem
The first time we see an entity we create a corresponding table in the DB. Attributes get mapped to columns and the column type gets derived from the attribute's NGSI type if present or inferred by QL if the attribute has no type. Then attribute values get stored in the table according to their types. From this point on, we expect attributes we've seen already to always have the sa

[2019-08-07 09:22] c0c0n3 opened #242 "Retry DB inserts when DB isn't available"
**Is your feature request related to a problem? Please describe.**
On receiving a notification, if the DB isn't immediately available, QL bombs out since we can't do the insert.

**Describe the solution you'd like**
Implement retries when the DB isn't available (e.g. overloaded) or we can't connect to it.

**Describe alternatives you've considered**
Use message queues as a back-pressure mechanism

[2019-08-14 07:33] c0c0n3 commented on #229
@jaimeventura thank you so much for reporting this along with how to fix it, much appreciated! PR #244 implements your fix and now the Swagger UI is available again at `/v2/ui/`.

[2019-08-14 08:17] #229 closed

[2019-08-14 08:17] c0c0n3 commented on #229
closed by #244

[2019-08-15 08:52] c0c0n3 opened #245 "QL timescale init script may load different datasets in the same table"
If more than one CSV file is in the `ql-db-init` dir, all data from these files winds up in one table. The problem is that the same `Psql` class instance in `quantumleap-db-setup.py` can't be reused in a loop, you'll have to use a fresh instance every time.

[2019-08-15 09:38] #245 closed

[2019-08-22 16:17] taliaga opened #247 "Custom Time Index Header not recognised with different casing"
**Describe the bug**
Orion is lowercasing the custom headers being sent in the notification so when the custom time_index header arrives as fiware-timeindex-attribute QL is not recognising it as such. QL should treat custom http headers as case insensitive.

**To Reproduce**
See added tests in PR

**Environment (please complete the following information):**
- Version 0.7.3

[2019-08-23 12:38] #247 closed

[2019-09-04 15:22] taliaga opened #249 "Fix lastN implementation"
**Describe the bug**
A query to the lastN values of a specific attribute (e.g. https://{{QL}}/v2/entities/urn:ngsi-ld:NoiseLevelObserved:FOO/attrs/LAeq_m?lastN=5) is not returning the lastN values found in the database.

**To Reproduce**

- Note there is an [integration test](https://github.com/smartsdk/ngsi-timeseries-api/blob/b33a1a5e4321f198ffbc65abe5a43d82ac2bd887/src/reporter/tests/test_1T1E1

[2019-09-10 13:31] #249 closed

[2019-09-23 13:25] AngeloIapichino opened #253 "Grafana makes CrateDB crash"
Hi guys,

I installed FIWARE components through docker compose file following this page: https://quantumleap.readthedocs.io/en/latest/admin/

While data are sent from the Broker to CrateDB, Grafana comes slower and slowe until CrateDB crashes.

I'm sure that is Grafana that make CrateDB crash because if nobody open a dashboard in Grafana, CrateDB continues to live.

What can i do for avoiding this

[2019-09-23 13:49] chicco785 commented on #253
hi @AngeloIapichino
it is hard to reply to your question:
1. you haven't provided any concrete information on the deployment neither simple way to reproduce the bag;
1. clearly this is not anything specific to quantumleap, but rather a problem of crate related to your environment.

now, my wild guess is that your are poor on ram in your docker machine, and that when it saturates, due to queries, y

[2019-09-23 14:19] AngeloIapichino commented on #253
Deployment with this docker-compose file:

I have about 14k records.

Do you think that the problem is the deployment (all in a local and docker machine)? Can you suggest a different way to deploy it?

Thanks in advance.

[2019-09-23 14:41] chicco785 commented on #253
As said, I think the issue is the memory, but it's a guess. You can:
1) check the logs of the different components and try to guess what's going wrong; 2) measure (with top) resources in the docker machine to see if you are hitting memory limit; 3) see what happens if you increase memory assigned to your virtual machine.

[2019-09-23 15:10] AngeloIapichino commented on #253
I know that the problem is the memory because CrateDB crashes with outofmemoryerror.
The question is: the solution can be only increasing the memory or maybe i have to change the deployment approach (i read about HA deployment)?

[2019-09-23 15:26] chicco785 commented on #253
i am not sure that just going HA will solve your memory issue :) you should just make proper amount of memory available in your docker machine.

anyhow, if you wanna use docker swarm:
https://smartsdk-recipes.readthedocs.io/en/latest/data-management/quantumleap/readme/

alternatively, on kubernetes:
https://github.com/orchestracities/charts

[2019-09-25 07:18] iamarnavgarg commented on #217
Hi , I would like to work on this issue.
Thanks

[2019-09-25 07:23] chicco785 commented on #217
hi @iamarnavgarg you are welcome to contribute!
if you provide a short description of how you plan to handle it (it could be also through an initial pull request updating the [swagger doc](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/specification/quantumleap.yml)), we will provide you feedback before you start coding.

cheers

[2019-09-25 12:57] MRROOX opened #254 "Error when subscribing to an entity from Orion"
**ERROR:app:Exception on /v2/notify [POST]**

Hello, the context of the bug is as follows:

- I'm working on an example to get a series of data using Fiware.

- When I try to subscribe an entity using Orion's APIs (http://localhost:1026/v2/subscriptions/):

 [*] Content-type : application/json

[code]
**The following ERROR occurs in the Quantum Leap Container.**
[code]
**My docker-compose.yml file

[2019-09-27 05:56] ansh1221 commented on #217
Hi @chicco785 ,

My approach would be as follows:
1. We will create a new file with api.py present at location /reporter. Here, we will return the list of it's available api's while calling `http://ql-url/v2/`
2. Moreover, we will add new path corresponding to `/v2/` in the `/specification/quantumleap.yml `file, so that it will call the api when we hit `http://ql-url/v2/` URL.

Please let me know

[2019-09-27 05:57] iamarnavgarg commented on #217
Hi @chicco785 ,

My approach would be as follows:

We will create a new file with api.py present at location /reporter. Here, we will return the list of it's available api's while calling http://ql-url/v2/
Moreover, we will add new path corresponding to /v2/ in the /specification/quantumleap.yml file, so that it will call the api when we hit http://ql-url/v2/ URL.
Please let me know in case of any

[2019-09-27 06:37] chicco785 commented on #217
hi @iamarnavgarg
Sounds good. I would also include a new test for the new endpoint.

[2019-09-27 06:43] chicco785 commented on #254
we will try to reproduce. It would be useful if you have also a payload example for Orion.

[2019-10-01 13:24] c0c0n3 opened #256 "CrateDB 4 Upgrade"
### The problem
With the CrateDB 4.x series out since June 2019, we should consider upgrading at some point.
Currently we support version `3.3` and it doesn't look like that upgrading to `4.x` is going to be a walk in the park for us. In fact, some of the SQL statements we generate rely on features that were dropped in Crate `v4` (see e.g. #254) and it'd be a good idea to review the rest of the SQ

[2019-10-01 13:44] c0c0n3 commented on #254
@MRROOX thank you for reporting this with so much detail. It seems your problem is that the Crate version in the Docker compose is the latest---i.e. `4.x`, which we don't support yet. You should switch to  Crate `3.3`, which we support. If you could please try replacing these lines in `docker-compose.yml`

    crate-db:
        image: crate

with e.g.

    crate-db:
        image: crate:3.3.2

[2019-10-01 13:48] chicco785 commented on #256
@c0c0n3 as first action, i would in the readme the version supported of crate and timescale

[2019-10-01 13:57] c0c0n3 commented on #254
Just adding some debug info that might come in handy when upgrade to Create 4 (see #256).
With Crate 4, the statement below, generated by `_update_metadata_table` in the Crate translator, breaks since `on duplicate key` is no longer supported in Crate 4---was already deprecated in `v3`.

    insert into md_ets_metadata (table_name, entity_attrs)
    values ('"etdht22"', {'entity_type': ('type', 'T

[2019-10-01 14:01] chicco785 commented on #256
`ON CONFLICT (column_ident [, ...]) DO UPDATE SET { column_ident = expression` update may not be that painful. Yes we had some release using crate 2.x. But i am not sure anyone is still using it.

[2019-10-01 14:23] c0c0n3 commented on #256
Yep, as long as it's the only thing to change, but we should test the rest too :-)

[2019-10-03 01:49] MRROOX commented on #254
Exactly the problem is in the Crate database version, simply changing the image tag to `3.3.2` works without any problem.

### I leave the result of the Quantum Leap container:

[code]

Works perfect.!

Thank you very much. I really appreciate your time and dedication.

[2019-10-03 01:50] #254 closed

[2019-10-03 06:30] c0c0n3 commented on #254
Great! I'm happy I could help you!

[2019-10-08 13:58] AngeloIapichino commented on #253
I solved the crashes increasing the crate's heap space memory setting the environment variable CRATE_HEAP_SIZE to 3 giga.
In the docker-compose file:

[code]

Grafana is still very slow and laggy, but i'm doing some test increasing the RAM amount of the machine.

[2019-10-08 15:02] chicco785 commented on #253
Be careful with heap memory, it should not be more than half of the actual memory available on your machine, or you will end up swapping. https://crate.io/docs/crate/guide/en/latest/performance/memory.html#mobile-nav

[2019-10-10 10:05] pooja1pathak commented on #162
Hi @taliaga , I am working on this issue. Please assign it to me.

[2019-10-10 10:36] daminichopra commented on #94
Hi @taliaga , I am working on this issue and just wanted to confirm my approach that I have removed basePath from quantumleap.yml file and added /v2 as prefix in other api e.g. for /config I have done /v2/config.

Please confirm my approach so that i can raise PR.

[2019-10-10 11:27] chicco785 commented on #94
hi @daminichopra i would synch with PR #255
check the discussion there, and let's either combine the PR, or build your PR on top of PR #255.

[2019-10-11 13:34] AngeloIapichino opened #258 "Using InfluxDB instead of CrateDB"
Hi guys,

I'm working in a project where some data are acquired through fiware environment storing them on CrateDB and some data are acquired through Apache Kafka storing them on InfluxDB.

Could be fine have only one database and we are evaluating if the fiware environment can store data in influxDB and if Apache Kafka can store data in CrateDB.

I'm working on the fiware side and i trying to use

[2019-10-11 14:39] chicco785 commented on #258
As by documentation, only crate and timescale (but only for injecting data currently) are currently supported.

Il giorno 11 ott 2019, alle ore 15:34, Angelo Iapichino <notifications@github.com> ha scritto:

[2019-10-12 09:54] chicco785 commented on #258
here comes, the long reply.
influxbd was initially explored, but not considered because:
- open version did not provide ha
- there was not support for geojson queries
I doubt that this changed meanwhile, so we won't support it. of course, if you want to code the support, you are welcome to do so.

there is a [`factory`](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/fa

[2019-10-12 09:57] chicco785 commented on #179
i believe this was solved with allowing for yellow state of crate cluster.

[2019-10-15 07:23] Chandradeep-NEC commented on #209
@chicco785 @c0c0n3 @taliaga
If no one is working on this issue, then lease assign us

[2019-10-15 08:46] #217 closed

[2019-10-15 08:54] chicco785 commented on #94
hi @ddaminichopra PR #255 was merged
I would then proceed as follow:
- move `/v2/version`,  `/v2/config`,  `/v2/health` to root in the swagger [specs](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/specification/quantumleap.yml)
- remove those paths from the api [endpoint] (https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/reporter/api.py)
- change the test for api `/v2`

[2019-10-15 15:08] AngeloIapichino opened #262 "statistics API"
Hi guys,

is there the corresponding Orion API `GET /statistics` in Quantumleap?

I have to do a benchmark between different architectures in a project and could be nice to have some indicators.

Thanks in advance

Angelo

[2019-10-15 15:19] chicco785 commented on #262
as by documentation, there is not

[2019-10-15 19:10] chicco785 commented on #253
Can we consider this issue closed?

[2019-10-22 11:55] chicco785 commented on #162
hi @pooja1pathak
performance wise, rather than using the `query` function in the translator, it may be easier and more performing to create a specific function.

1. you can use pagination (offset and limit) to return the list of tables, e.g.
`SELECT DISTINCT "table_name" FROM "doc"."md_ets_metadata" LIMIT 100;`
2. then you can use the list of tables to build a union query with pagination:
`SELECT

[2019-10-24 07:14] iamarnavgarg commented on #46
Hi @taliaga , As per my understanding, I think the information for adding the data to QL is using `/v2/notify `API and should be placed at location -[Here]( https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docs/manuals/user/index.md)

[2019-10-29 09:23] c0c0n3 opened #269 "Travis tests fail"
**Describe the bug**
It looks like #260 is coming back to haunt us :-o

**To Reproduce**
Look at Travis logs for #266, #268

**Expected behavior**
Clean Travis test run.

**Environment (please complete the following information):**
 - Travis

**Additional context**
N/A

[2019-10-29 09:53] c0c0n3 commented on #46
Fixed by #268

[2019-10-29 09:53] #46 closed

[2019-10-31 13:29] mtalhaf opened #270 "Failing to run up docker containers via docker-compose"
While trying to run a local instance of quantum leap with all the other necessary tools via the  docker-compose provided, the quantum leap container fails with an error of "Failed to add operation for POST /v2/config", while the final error being "connexion.exceptions.ResolverError: <ResolverError: Cannot resolve operationId "reporter.reporter.config"! Import error was "No module named 'pytest'">"

[2019-10-31 14:15] c0c0n3 commented on #270
Hi @mtalhaf, it looks like your problem could be that you didn't run `pipenv install` (installs Python env + deps) and `setup_dev_env.sh` (sets up vars you'll need to run docker compose files). Try this:

    $ cd wheres/you/extracted/ngsi-timeseries-api
    $ pipenv install
    $ sh setup_dev_env.sh
    $ cd dir/where/docker-compose/you/want/to/run/is
    $ docker-compose up -d

Let me know if th

[2019-10-31 14:38] chicco785 commented on #270
i think the point is which image has been used, if it is the one from the
docker hub repo,
there is surely a problem, a local one was used, I believe andrea is correct

On Thu, 31 Oct 2019 at 15:15, c0c0n3 <notifications@github.com> wrote:

[2019-10-31 16:00] kernchen commented on #270
@chicco785, @c0c0n3,

Just writing, since I've been working on this with @mtalhaf together. We basically tried out QuantumLeap. I tried it out a bit earlier with this hash, that didn't have any issues:

sha256:d310ee076e91a60c857c9f49dee5524149d52b44afe763e9b8ac661f0f0de6bb

It's coming directly from Docker Hub. We've been using the same docker-compose-dev.yml file. While mine processed fine, it s

[2019-10-31 16:03] kernchen commented on #270
Maybe as an addition, would you recommend using 0.7.5 instead of latest?

[2019-10-31 16:20] chicco785 commented on #269
i am not sure is that.

[2019-11-01 08:11] c0c0n3 commented on #270
@mtalhaf @kernchen hi guys, like I said, did you try doing what I suggested? In particular the reason for running `setup_dev_env.sh` is that it also builds a local QL image that the docker compose files pick up later---see env vars in those docker compose files, which btw get set up when you run `setup_dev_env.sh`. Anyway, like I said earlier it looks like your problem is that `pytest` isn't there

[2019-11-01 09:02] c0c0n3 commented on #269
well, um, do the errors on Travis look different than what you saw in #260? It looks like the build fails cos test code can't connect to QL. This is doubly weird though, since if you look at the Travis output for #271, `ens4` has an IP of `10.20.1.120` which is the same picked up by the test code. For example, the version test does a plain GET and looking at the Travis log (`address = ('10.20.1.12

[2019-11-01 13:39] c0c0n3 commented on #270
@mtalhaf @kernchen hi again, are you running on Linux by any chance? Just got this Travis build error:

https://travis-ci.org/smartsdk/ngsi-timeseries-api/builds/605998561?utm_source=github_status&utm_medium=notification

on a Linux box which looks similar to yours. Will dig deeper...

[2019-11-01 14:25] kernchen commented on #270
@c0c0n3 hi, we tried it on an AWA EC2 instance, but also locally on a Mac had issues. We now managed to get a running setup online, but with the actual 0.7.5, so I'll try to follow your steps in the previous posts on my Mac and see if this throws any errors and let you know.

[2019-11-01 14:47] kernchen commented on #270
OK, seems at least locally on my Mac this doesn't produce any issues for me according to your previous provided steps.

[2019-11-02 15:27] c0c0n3 commented on #269
After digging deeper, it turns out the reason for the tests failing isn't that the test code can't see the Docker network. The actual problem is that the QL process inside the Docker container fails to start properly, so there's no server socket bound to port `8668`, hence the "connection refused" error we see in the logs.

What makes QL fail to start? In this build I've output the Docker logs:

h

[2019-11-02 18:43] c0c0n3 commented on #270
hi @kernchen, thanks for this. PR #271 implements a fix---what was broken is detailed in the comments to #269. As soon as we merge #271 into master you should be able to build and run the QuantumLeap image on any box, in particular on an EC2 instance. If you could please try again after we merge #271 and let us know if you still have any issues.

[2019-11-02 19:15] MRROOX opened #272 "docker-compose | image: smartsdk/quantumleap exited (1)"
**Hello, with the latest update of quantum leap (smartsdk/quantumleap "latest") the following error occurs:**

[code]

[code]
**But with quantum leap version 0.7.5 (smartsdk/quantumleap:0.7.5) it works well**
[code]

[code]
**I only report the bug with the latest version and how I have "fixed" by doing a downgrade of the image version of quantum leap.**

**My Environment:**

- OS: Ubuntu 18.04.3 L

[2019-11-02 19:26] c0c0n3 opened #273 "Upgrade Docker image to Alpine 3.10"
**Is your feature request related to a problem? Please describe.**
The Docker image uses Alpine as a base. QuantumLeap won't start in the container if the image gets built from Alpine `3.10`---see #269 for the details. PR #271 implemented a stopgap solution by pinning the Alpine version to `3.8`.

**Describe the solution you'd like**
We need to understand what goes wrong exactly with `3.10` and th

[2019-11-02 19:29] c0c0n3 commented on #272
@MRROOX thanks for this. We have a fix for this already, see #271 and #269.  If you could please try again after we merge #271 and let us know if you still have any issues. Many thanks!

[2019-11-03 10:56] #269 closed

[2019-11-03 14:27] chicco785 commented on #272
#271 is merged and the build is successful

[2019-11-03 14:27] chicco785 commented on #270
#271 is merged and the build is successful

[2019-11-06 10:58] #94 closed

[2019-11-07 08:35] c0c0n3 opened #274 "Add backward compatibility warning to release notes"
**Is your feature request related to a problem? Please describe.**
PR #261 implemented #94, changing the url of the version, health and config endpoints. Warn users about this since it could break existing clients.

**Describe the solution you'd like**
Add warning to release notes as done for release 0.7. Consider bumping up version from 0.7.5 to 0.8.

**Describe alternatives you've considered**
N

[2019-11-08 13:43] michaeI-s opened #276 "http:// protocol should be automatically inferred for URL query parameters"
Hi,

when POSTing to the `/subscribe` endpoint I get a "400 Bad Request" response, if the 'orionUrl' query parameter does not begin with 'http://'.

In my case I tried with

[code]

and got

[code]

1) I think the leading 'http://' should be automatically inferred when not given. It took me some time to figure out what the problem was...
2) It should also return a 412 status code instead for an un

[2019-11-08 17:01] c0c0n3 commented on #276
Hi @MS-Fiware,

Interesting point. While this could be convenient to some, it might catch others off guard.  Why should the scheme default to `http`? To me `https` is equally viable. So which one should we use? I reckon whichever way you look at it we lose, if we default it, we'll always risk making someone unhappy? Also, if my memory serves me well, valid URLs **must** begin with a scheme compone

[2019-11-11 14:11] daminichopra commented on #209
Hi @chicco785 , I am working on this issue and i want to confirm if payload contains both **"null"** and **some value** as Key value in payload for attributes in that case QL will filter out such entries and will not be stored in CrateDB.

[2019-11-11 17:37] chicco785 commented on #209
@daminichopra the idea is to ignore only entities where all attribute values are null (except entityType and entityId).

[2019-11-12 11:09] c0c0n3 opened #277 "FIWARE Generic Enabler Compliance"
**Is your feature request related to a problem? Please describe.**
This issue is a follow-up to the Nov 2019 Fiware TSC conf call where we promised we'd look into what still needs doing to have QuantumLeap meet the [Fiware GE requirements][fw-ge-req].

**Describe the solution you'd like**
Review the [Fiware GE requirements][fw-ge-req], collect them in a checklist and for each item say if  QL meets

[2019-11-12 11:23] c0c0n3 commented on #277
@chicco785 if you could please tag any core chapter member who may be interested in following progress on this, e.g. @fgalan?

[2019-11-12 16:05] MS-Fiware commented on #276
H @c0c0n3,

I probably should have talked about `http(s)` ;). `https` is also viable to me. But `http` as the base / non SSL-variant seems more appropriate to me. If a host only accepts `https` connections, or more general, if the used protocol schema is not supported by the host, its response code might be conveyed by the QL response message. This way one get a feedback of what could have gone wr

[2019-11-12 19:14] c0c0n3 commented on #276
@MS-Fiware thanks for your comments :-)

**TL;DR**: I don't think there's any quick way to implement *robust* URL scheme defaults, but better error messages should be doable. Gory details below :-)

### Using a default URL scheme
Thinking of it, yes, I agree w/ you that if we had to pick a default, probably `http` is what most devs would expect. But here's the party pooper. I'd like to have both s

[2019-11-13 07:30] chicco785 commented on #276
this is a side feature in ql, and previously I already questioned its
utility given that it's just a duplicate of what orion does, and its api is
not well formed.
i would remove the feature actually.

[2019-11-22 14:40] tstorek commented on #256
Hi,
is there any update on this? From my perspective crate 4.x is slighly easier adminstrate and to scale than v3.x. Especially from the documentation point of view it seems easier. But maybe this also goes together with #258 which would make quantumleap more independent from the database engine itself.

Cheers

[2019-11-24 20:00] taliaga commented on #272
@MRROOX prefer not to use `latest` tag in your images. Sometimes `latest` will require upgrades of the dependencies (e.g. docker image of the database) and you will only find out with a broken container.

[2019-11-24 20:00] #272 closed

[2019-11-27 08:15] c0c0n3 commented on #256
Hi @tstorek,

No, we haven't managed to tackle this yet. We're understaffed at the moment, so this will probably have to wait until next year---of course, contributions are welcome! Re: InfluxDB, we have no plans to support it at the moment since it's missing some critical (to us!) features, see [this comment](https://github.com/smartsdk/ngsi-timeseries-api/issues/258#issuecomment-541308721) to #2

[2019-11-27 08:26] c0c0n3 opened #279 "GitHub services migration"
**Is your feature request related to a problem? Please describe.**
GitHub services have been deprecated in favour of Webhooks / GitHub Apps. We're still using two GitHub services: Docker and Travis CI. They might stop working soon...

**Describe the solution you'd like**
Figure out how to migrate the current GitHub services.

**Describe alternatives you've considered**
N/A

**Additional context**

[2019-12-12 09:04] c0c0n3 commented on #162
closed by #264.

[2019-12-12 09:04] #162 closed

[2019-12-19 08:37] tstorek commented on #160
Hi,
are there any new on this? We would like to use Qunatumleap in a project but the logging in this way is quite unhandy.

Thanks

[2019-12-19 09:33] c0c0n3 commented on #160
Hi @tstorek, nice hearing from you!

Sadly no. We do recognise this is something that needs to be done but have no dev capacity at the moment. Hopefully that'll change in the new year :-)

As always, contributions are very welcome!!!

[2019-12-24 09:24] daminichopra commented on #242
Hie @c0c0n3 , if no one is working on this please assign this issue to me. Thanks

[2019-12-27 06:40] daminichopra commented on #242
Hie @c0c0n3 , I have tried it When CrateDB  isn,t available and it retries with Warning  to connect to it and give 500 response
![Capture](https://user-images.githubusercontent.com/35693908/71504519-bf24ea00-289f-11ea-9e64-ba491063b006.PNG)
![Capture](https://user-images.githubusercontent.com/35693908/71504618-2cd11600-28a0-11ea-9ade-894384f19cc1.PNG)

As per my understanding If crateDB isn't avai

[2020-01-03 11:40] c0c0n3 commented on #242
@daminichopra thanks for this. Looking at the trace you posted I suppose you're right. It looks like the Crate HTTP client already implements retries through `urllib3`. I could see no timestamp in the trace, can you check how far apart are those retries?

[2020-01-07 10:56] pooja1pathak commented on #148
Hi @c0c0n3 , I want contribute for this issue. Please assign it to me.

[2020-01-07 13:35] c0c0n3 commented on #148
awe, thanks! it's your baby now :-)

[2020-01-08 07:18] pooja1pathak commented on #148
Hi @c0c0n3 , I have checked PR #132 and I have following queries:

1. In QL's code ```request.headers.get('fiware-service', None)``` and ```request.headers.get('fiware-servicepath', None)``` is used for **Fiware-Service** and **Fiware-ServicePath** respectively. I have checked previous versions and the same is used there also.
As per my analysis ```request.headers.get('fiwareservice', None)``` and

[2020-01-08 09:56] c0c0n3 commented on #148
Hi @pooja1pathak, PR #132 had to be reworked, what actually got implemented is PR #142---sorry I should've mentioned this before. In fact, I've just realised one thing that isn't clear from the issue description above is that the renaming of the headers got left out so the header names in the spec never changed, i.e. they're still called `fiwareService` and `fiwareServicePath`:

https://github.com

[2020-01-08 10:04] c0c0n3 commented on #148
@pooja1pathak re: your other points above, if we just rename the headers in the spec, then please ignore my comments below since they won't be relevant anymore!

yep, that's correct, but I'd factor that logic out in a single function if possible and add the dashed header versions too which are currently scattered all over the show. It'd be great, if you could do this refactoring for us :-)

Perfec

[2020-01-08 10:06] chicco785 commented on #148
@Cerfoglg is the best person to answer

[2020-01-09 05:35] #234 closed

[2020-01-09 16:25] c0c0n3 opened #281 "Follow up to PR #278"
Just a reminder of minor improvements we left out of PR #278.  If we can find the time for that, we could implement them as discussed there. As a bare minimum though we should update the test cases in `test_incomplete_entities.py` to take into account the changes introduced by PR #278---see discussion over there.

[2020-01-10 09:41] pooja1pathak commented on #148
Hi @c0c0n3 @chicco785, Any update on this?

As per my analysis we have used fiware-service and fiware-servicepath in code. fiwareService and fiwareServicePath is only used in API Specification. So, no backward compatibility will be needed.

I think just renaming the headers in the spec will do the thing. Please confirm so that I can raise PR and close this issue.

[2020-01-10 10:51] c0c0n3 commented on #148
Hi @pooja1pathak,

We haven't had time to do our due diligence yet but thank you so much for the analysis and yes, if that's the case, I agree with you, all we need to do is rename the headers. Did you test it though? i.e. did you check what happens if you POST a notify request with `fiwareService` and `fiwareServicePath` headers? Do they get ignored and the payload gets stored in the default name

[2020-01-13 13:46] c0c0n3 commented on #281
Tests updated, see #282. I reckon we can actually ditch this issue now?

[2020-01-17 06:29] daminichopra commented on #242
Hi @c0c0n3 , the timeout retries is set to **socket._GLOBAL_DEFAULT_TIMEOUT** which has value **None** and value of **None** indicates that new socket objects have infinite timeout. Please check below URL's for the same.
[https://github.com/urllib3/urllib3/blob/4903840bf36a05bcc8299f6553ff7a1816d4aa63/src/urllib3/connection.py#L236](url)
[https://github.com/urllib3/urllib3/blob/d369183f60749d735f0

[2020-01-21 09:51] pooja1pathak commented on #148
Hi @c0c0n3 ,

Yes I have tested it for all the APIs mentioned in specification.

As per my observation and test results, code does not handle fiwareService/fiwareServicePath. Only fiware-Service/fiware-ServicePath (with '-' sign) is considered.

Yes your understanding is correct. fiwareService and fiwareServicePath are ignored and payload gets stored in the default namespace in Crate.

[2020-01-21 14:24] c0c0n3 commented on #148
@pooja1pathak

good stuff!!! thanks for this!

excellent, thanks for checking!!!

[2020-01-21 16:56] c0c0n3 commented on #242
Hi @daminichopra, thanks for the detailed analysis! :-)

Going to collect all we know about the issue at this stage down below.

### Crate client
1. The client keeps a pool of Crate servers.
2. Each server in the pool gets a chance to establish a connection.
3. On failure, the client retries 10 times per server.

### Connection & socket timeouts
4. The Crate client uses`urllib3` under the bonnet t

[2020-01-22 09:31] c0c0n3 commented on #148
closed by #283

[2020-01-22 09:31] #148 closed

[2020-01-23 06:20] pooja1pathak commented on #225
Hi @taliaga @c0c0n3 , I want to contribute for this issue. Please assign it to me.

[2020-01-23 08:32] c0c0n3 commented on #225
@pooja1pathak just assigned to you, thanks :-)))

[2020-01-24 12:02] daminichopra commented on #242
Hi @c0c0n3 , I have investigated further on this. Firstly, in crate.py file it import client library and use it client.connect to connect to server which gives warning and retry it 10 times.
https://github.com/smartsdk/ngsi-timeseries-api/blob/dc565af24b303a94f7c298b2567e62487088de3b/src/translators/crate.py#L64
https://github.com/smartsdk/ngsi-timeseries-api/blob/dc565af24b303a94f7c298b2567e62487

[2020-01-27 10:06] daminichopra commented on #242
Hi @c0c0n3 , I have investigated further on this. Initially server retries to connect to client (total 10 times) which take 12 milliseconds (approx).
![Capture](https://user-images.githubusercontent.com/35693908/73162657-4ae69c00-4114-11ea-9ea3-db11b6609738.PNG)

### Crate Client

1. The time between the retries is controlled by **backoff_factor**, which is used for retry interval between attempt

[2020-01-27 10:53] c0c0n3 opened #284 "2020 Roadmap Update"
**Is your feature request related to a problem? Please describe.**
This issue is a follow-up to the Jan 2020 Fiware TSC where we were kindly reminded to update our roadmap for 2020---thanks @jason-fox.

**Describe the solution you'd like**
As discussed during the meeting, support for NGSI-LD should be one of our top priorities for 2020. This could happen through multiple releases in 2020, each pro

[2020-01-27 11:02] c0c0n3 commented on #242
Hi @daminichopra this is great! Excellent investigation, you're a star.
I suppose then all we need to do for this issue is tweaking the backoff param. Do you think we could make this configurable, e.g. through an env variable so that different QL deployments could specify different backoff values?

[2020-01-27 11:14] chicco785 commented on #284
@c0c0n3 we set priorities based on resources and customer requirements, so a request being made in the TSC, does not qualify it as "priority"

[2020-01-27 11:34] c0c0n3 commented on #284
@chicco785 good point. On the other hand I reckon if we want to be part of the FiWare foundation we should at least try making an effort to align our roadmap to the foundation's vision for the future? At this point though it isn't clear, at least to me, how to reconcile possibly conflicting requirements/priorities...

[2020-01-28 09:25] c0c0n3 commented on #242
Had a quick look at the code base, we've got util classes to read env vars---see `util/cfgreader`. Perhaps you could do something similar to `PostgresConnectionData` (in `translators/timescale`) which uses `EnvReader` from `util/cfgreader`.

[2020-01-31 03:44] daminichopra commented on #242
Hi @c0c0n3 , As per the flow of the code it need to add parameter "backoff_parameter" in crate code.
When QL try to make connection to server at location:
https://github.com/smartsdk/ngsi-timeseries-api/blob/dc565af24b303a94f7c298b2567e62487088de3b/src/translators/crate.py#L64
After that it call methods of http.py (which is part of crate library) where no parameter  is defined for 'backoff_factor'

[2020-01-31 04:46] daminichopra commented on #281
Hi @c0c0n3 , Please close this issue as [PR#282](https://github.com/smartsdk/ngsi-timeseries-api/pull/282) has been merged. Thank you :)

[2020-01-31 10:09] daminichopra commented on #171
Hi @c0c0n3 @taliaga , I have tried reproducing this issue and  it still shows SQLException. Please confirm if it needs to be fixed. Thank you

[2020-01-31 18:01] c0c0n3 commented on #242
Sorry I missed that. Well, then I suppose there's nothing more we can do about this issue, unless you have other ideas?

Thank you a stack for the great sleuthing!

[2020-01-31 18:03] c0c0n3 commented on #281
hi @daminichopra, thanks for reminding me!

[2020-01-31 18:03] #281 closed

[2020-01-31 18:15] c0c0n3 commented on #171
Hi @daminichopra, this one is a hairy issue, like very hairy. The reason why it fails is that the dot isn't a character we can escape, at least not easily---see #136 for the gory details and my [earlier comment](https://github.com/smartsdk/ngsi-timeseries-api/issues/171#issuecomment-470679878) about it.

If this is affecting your deployment, you could try introducing an [agent mapping](https://git

[2020-02-03 05:31] daminichopra commented on #242
Hi @c0c0n3 , As per my understanding i suggest that we can raise this Issue in CrateDB community and can fix it there. If it looks OK then Please confirm. Thank you :)

[2020-02-03 06:25] daminichopra commented on #118
Hi @taliaga @c0c0n3 , Please assign this issue to me. Thank you :)

[2020-02-03 08:18] c0c0n3 commented on #242
Hi @daminichopra, yes agreed, good idea. Then I'm going to keep this issue open so when a fix becomes available in Crate we can implement configuration in our translator. If you could be so kind to add a link to the Crate issue. Thank you so much!

[2020-02-03 08:19] c0c0n3 commented on #118
done, thanks!!!

[2020-02-03 09:45] c0c0n3 commented on #118
hi @daminichopra, I'm curious though, what's your use case? i.e. what do you need this for? I'm struggling to think of a good use case. In fact, querying an attribute across **all** entities assumes you know beforehand this makes sense, i.e. you know that:

1. there exist an attribute `x` shared by a set of entities `E = { e ∈ DB | ∃ e.x }`.
2. the **meaning** of `x` is the same **for all** entiti

[2020-02-03 11:48] pooja1pathak commented on #225
@c0c0n3 , as PR #285 is merged, this issue can be closed.

[2020-02-03 12:40] c0c0n3 commented on #225
@pooja1pathak whoops, thanks for reminding me!

closed by PR #285

[2020-02-03 12:40] #225 closed

[2020-02-06 05:56] pooja1pathak commented on #119
Hi @taliaga @c0c0n3 I want to contribute for this issue. Please assign it to me.

[2020-02-06 08:46] c0c0n3 commented on #119
Hi @pooja1pathak, thanks for taking care of this!

I've just had a look at the code, it looks like it'd be best to implement a separate query in the translator rather than adding to the existing one. This will help going forward if we ever get around to replacing the string based query building with an AST based approach.

Thanks!

[2020-02-07 18:25] Glagnar opened #287 "Document that when using crateDB backend 3D coordinates are not supported"
**Describe the bug**
A valid GeoJson crashes the system.
Validation failed for location: Cannot cast {"coordinates"=[53.822510377, 2.485033098, 68], "type"='Point'} to type geo_shape]

Check chapter 9 of the RFC, it is valid to have altitude as a third parameter.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send this payload to '...'
2. See error

**Expected behavior**
A clear and

[2020-02-07 19:30] chicco785 commented on #287
Hi,
1. [crate](https://crate.io/docs/crate/reference/en/latest/general/ddl/data-types.html#geo-shape) does not support 3D coordinates, so in the best case, the processor should strip the alt.
2. I suspect that some of the functions we use, such as the one to compute centroids, maybe become quite complex computationally.

In short, the only fix in the short term is stripping alt, if that is not goi

[2020-02-07 21:52] Glagnar commented on #287
Thank you for the speedy reply, and I understand the problem. Here are my thoughts.
a) I honestly think it is a bad idea to truncate data without notifying the user, they may loose stuff.
b) The user 'me' will find out very quickly if their data is not there, and may find out too late if you save part of the data.
c) Improve the error message, to indicate you know you do not support the RFT
d) Wri

[2020-02-07 22:03] Glagnar opened #288 "Validation failure: Cannot cast to type string"
**Describe the bug**
I am posting this valid NGSI entity and get an error message:
`Validation failed for category: Cannot cast ['sensor'] to type string]
`
[code]

I am just following the example here:
https://fiware-datamodels.readthedocs.io/en/latest/Device/DeviceModel/doc/spec/index.html

**To Reproduce**
Steps to reproduce the behavior:
1. Send this payload to '...'
2. See error

**Expected b

[2020-02-07 22:15] Glagnar commented on #288
My greatest problem with this is, that it is a **MANDATORY** field.
It does not pass the schema validation without it.

[2020-02-08 14:00] chicco785 commented on #287
The error message reported is actually from cratedb, the internal processor is perfectly parsing geojson:
https://github.com/crate/crate/issues/8053

We will see how to improve error, by clarifying that the error is originated by the backend.

FYI, I checked and postgis supports 3D coordinates, which means also timescale does. Hopefully (haven't tested) this means that if you used timescale as bac

[2020-02-08 14:05] chicco785 commented on #288
I am not sure what you have currently in the db, can you check the structure?
Arrays should be supported, reading the message my guess is that you first stored category as a string and then as an array. Type switching is not supported currently.

[2020-02-13 04:48] pooja1pathak commented on #119
Hi @c0c0n3 I have implemented the code using query method in translator/crate.py. The code is working as per our requirement.

As per your comment https://github.com/smartsdk/ngsi-timeseries-api/issues/119#issuecomment-582796854 , I tried to build a new query method but unable to get the perfect query. I am still working on that.

I just wanted to know about your expectation from separate query, a

[2020-02-13 08:39] c0c0n3 commented on #119
Hi @pooja1pathak :-)

Yea, I know. The code is pretty intertwined and there's no easy way to reuse single bits and pieces out of context. So if it's too hard to implement a separate query, rather add to the existing one. But please be extra careful, like go in with surgical gloves and scalpel, since the existing query method is QL's workhorse so whatever we do the existing semantics **must** stay

[2020-02-13 09:13] pooja1pathak commented on #119
@c0c0n3 Thank you for your response :-)
I would suggest to address the AST viewpoint in another issue. So, we can raise a new issue for separate query of each API and then we can investigate on that.
Regarding the current issue #119 we can proceed with existing query method.

[2020-02-13 10:21] c0c0n3 commented on #119
@pooja1pathak

Agreed! At the moment this is just an idea and I'm not even sure myself it's worth our while looking into this, but will open an issue if one day we decide to go ahead with it.

cool bananas, thanks!!!

[2020-02-14 05:58] daminichopra opened #290 "Broken link in document check.md"
**Describe the bug**
Broken link in document [check.md](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docs/manuals/admin/check.md)

**Expected behavior**
Link should be open for AirQualityObserved in check.md

**Additional context**
Broken link in check.md which gives error 404

[2020-02-14 06:04] daminichopra commented on #290
In reference to PR(https://github.com/smartsdk/ngsi-timeseries-api/pull/289).
Hi @chicco785 , I have raised issue for broken link in check.md.
Please close this issue as PR is merged for this issue.
Thank you :)

[2020-02-14 08:09] #290 closed

[2020-02-14 13:08] c0c0n3 opened #292 "Fix geocoding tests"
**Describe the bug**
Lately we've been getting no love from OSM.  Geocoding tests have been failing with e.g.

    Status code 403 from https://nominatim.openstreetmap.org/search: ERROR -
    403 Client Error: Forbidden for url: https://nominatim.openstreetmap.org/search?q=IJzerlaan+18+%2C+Antwerpen+%2C+BE&format=jsonv2&addressdetails=1&limit=10

It doesn't look like a transient error (it's a `403

[2020-02-15 00:10] Glagnar commented on #288
Thanks, you are right - it does seem to be defined as a string, and not string array. Since there is no way to drop colum, or even rename column in CrateDB. What do you suggest I do ? Drop the table ? How do I trigger QuantumLeap to create the table again ?

[2020-02-17 09:13] c0c0n3 commented on #288
Hello :-)

If you don't care about the data you already have in it, sure, drop the table.

QL will do that for you on seeing the first NGSI entity notification for which there's no corresponding Crate table. Keep in mind that as mentioned earlier, column types are inferred from NGSI attribute types the first time an entity attribute `A` is received in a notification `N`. For any subsequent notific

[2020-02-18 15:39] chicco785 commented on #288
you may need also to clean the entry in the related entry in the table "doc"."md_ets_metadata"

[2020-02-18 16:49] c0c0n3 commented on #288
definitely a good idea. For the record, the old entry should get overwritten with the new entity meta info if the attribute set of the "revised" entity is different than that of the entity stored in the table you want to drop:

https://github.com/smartsdk/ngsi-timeseries-api/blob/dfacb7d84fc533b5e10cb591f74e533089adc0ec/src/translators/crate.py#L359

So after dropping the entity table, you can eit

[2020-02-20 06:17] pooja1pathak commented on #119
As PR #293 is merged, we can close this issue.

[2020-02-20 07:47] c0c0n3 commented on #119
thanks for reminding me!

[2020-02-20 07:47] #119 closed

[2020-03-05 05:33] daminichopra commented on #118
Hi @c0c0n3 , I have raised PR for API implementation /v2/attrs.
I would like to suggest to create a new issue for https://github.com/smartsdk/ngsi-timeseries-api/issues/118#issuecomment-581325646
Thank you :)

[2020-03-09 14:36] c0c0n3 commented on #118
Hi @daminichopra!

Not necessary for now. I see your implementation (#294) actually lets clients filter by type which is great. So a client can specify "entity type" filters as in the example I gave earlier:

    p(e) = True <=> e.type ∈ { Air, Water }

I've had a second thought about implementing a filter based on a more generic predicate `p: Entities --> Bool` since that means changing the under

[2020-03-18 10:18] ilarimikkonen opened #295 "SQL injection security vulnerability"
Hi folks! I hope you are having a good day despite Corona.

We have been using your excellent QL. There has been security tests done in one project and a concern has been raised, please see the General description of the vulnerability below.

additional questions:
- are the fromDate and toDate only parameters we should worry about?
- if we need to implement a quick fix (say with parameter modifica

[2020-03-18 11:23] c0c0n3 commented on #295
Hi @ilarimikkonen thank you for using QL and reporting this issue :-)

### Background
At the moment QL builds queries by string manipulation---input parameter substitution in string templates, string concatenation, etc. Have a look at:

* https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/crate.py#L491

In addition to that, input parameters aren't sanitised so **SQL inject

[2020-03-27 05:19] daminichopra commented on #209
Hi @chicco785 , Please close this issue as it is Fixed. Thank you :)

[2020-03-27 06:59] pooja1pathak commented on #145
Hi @taliaga @c0c0n3 ,
Is this issue fixed by PR https://github.com/smartsdk/ngsi-timeseries-api/pull/150 ? or need to be fixed?

[2020-03-27 13:38] pooja1pathak commented on #224
Hi @taliaga @c0c0n3 ,
I want to contribute in this issue.
Please confirm my below understanding:
1. Case 1: All the attributes have Null value.
2. Case 2: One of the attributes have Null value and all the others have valid values.

For case 1:  No value will be stored neither will table be created.
For case 2: Table will be created for the valid attributes and attributes with Null values are ignor

[2020-03-30 07:40] c0c0n3 commented on #209
cool, thanks for reminding us :-)
closed by #278

[2020-03-30 07:40] #209 closed

[2020-03-30 07:55] c0c0n3 commented on #145
@pooja1pathak yes good catch, PR #150 fixes it, we just plain forgot to close this issue. Thanks!
closed by #150.

[2020-03-30 07:55] #145 closed

[2020-03-30 08:42] daminichopra commented on #120
Hi @c0c0n3 , If  no one working on this issue then Please assign this issue to me. Thanks :)

[2020-03-30 09:01] c0c0n3 opened #296 "Aggregates of incompatible attributes"
### Is your feature request related to a problem? Please describe.
PR #294 brought in support for querying attributes across entity types---yay, thanks @daminichopra!
But we're sitting with a dilemma: how should aggregate operations work over attributes of different types? See for example test case (4) [from this comment](https://github.com/smartsdk/ngsi-timeseries-api/pull/294#issuecomment-596588

[2020-03-30 10:23] c0c0n3 commented on #224
Hi @pooja1pathak thanks for volunteering :-)

This gets confusing for me too so I'll try to state the problem a bit more precisely below, mainly for my own benefit so I'll be able to understand what's going on a year from now :-)

Call `E = { e[1], ..., e[n] }` the set of entities being notified to QL (i.e. what gets POSTed to `/v2/notify`) and `T` the set of DB tables we have when QL gets the not

[2020-03-30 10:30] c0c0n3 commented on #120
Hi @daminichopra, I've just had a look at issue [7997](https://github.com/crate/crate/issues/7997) in the Crate repo. It looks like they still haven't got around to implementing equality support yet. So unless you have a better idea about how to implement this, perhaps we should wait until the Crate guys do it for us :-)

[2020-03-30 15:15] pinkerltm opened #297 "Sanity check GET /version returns 404 on Docker Image tagged :0.7.5 while working on :latest"
I deployed smartsdk/quantumleap:0.7.5 on a kubernetes cluster but it did not pass the sanity check of a GET Request on localhost:8668/version as it always returned 404.

As I changed to tag smartsdk/quantumleap:latest, a sanity check returnes Status Code 200 and version number 0.7.5 in the content.

I also recognized, that both images are different in size.

[2020-03-30 15:56] chicco785 commented on #297
i believe /version works only for next release, 0.7.5 is still using /v2/version

[2020-03-30 16:10] c0c0n3 commented on #297
@pinkerltm thank you for trying Quantum Leap. @chicco785 is right. If you'd like to use the current stable release `0.7.5`, then the version endpoint is at `/v2/version`. On the other hand if you'd rather be on the bleeding edge and use the latest image on DockerHub, then the path is: `/version`. Further details in #274.

[2020-03-30 16:11] #297 closed

[2020-03-30 16:26] chicco785 commented on #297
@pinkerltm on another matter, this may be relevant to you: https://github.com/orchestracities/charts

[2020-03-31 11:36] chicco785 commented on #296
we know which attributes "instances" are numeric and which are not. simply /v2/attrs/pippo considers all the "pippo" that are numeric, the rest is discarded. if all "pippo" are non numeric, we report 404 or something like that

[2020-03-31 20:39] pinkerltm commented on #256
We would also very much appreciate if crate 4.x gets supported as we already use it as a component, currently persist context data with our very own glue code (but without an API to query the timeseries) and downgrading to 3.x isn't really an option at our stage.

As much as I would like to contribute on this, I doubt that my python skills will be helpful here, but at least I have forked the repo

[2020-04-01 05:00] daminichopra commented on #211
Hi @chicco785 , Please assign this issue to me.

[2020-04-01 06:14] ilarimikkonen commented on #295
Hi, at the moment we are experimenting with a temporary solution of Nginx + js

[2020-04-01 07:40] chicco785 commented on #256
@pinkerltm I suspect the issue is not much about python skills, at least to introduce base support. At the moment, as you can read from the thread, is not a priority internally. Of course contributions are welcome. If that's really something extremely important and urgent to you, we can explore some commercial support option, but we will have to check if allocations allow for that.

[2020-04-03 09:51] c0c0n3 commented on #295
Hi @ilarimikkonen :-)

If your JavaScript sits on the server (NodeJS?) and you're using Nginx as a gateway, you could try exposing the QL endpoints you need through your server side JS app and redirect QL traffic there using Nginx

    QL URL
      o ---------> Nginx ------->  JS APP ------> QL ------> Crate

hiding QL behind the gateway. In your JS app you could sanitise QL input params, e.g. con

[2020-04-03 10:18] c0c0n3 commented on #256
@pinkerltm

You could try patching SQL statement generation like @chicco785 explained in an [earlier comment](https://github.com/smartsdk/ngsi-timeseries-api/issues/256#issuecomment-537050315). If we're lucky, perhaps that's all we need to do.

If you'd like to give it a shot:

1. Update the Crate version in [deps.env](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/deps.env#L8)
2. Pat

[2020-04-03 10:20] c0c0n3 commented on #256
Oh forgot to mention. A couple of tests will fail regardless, just ignore them---see #292.

[2020-04-03 10:48] ilarimikkonen commented on #295
Hi, it's more like
`QL URL
  o ---------> Nginx + JS ------> QL ------> Crate`
there is a JS plugin in Nginx. We have limited time & resources, so fast and dirty it is for now.

I understand that it would be best do in QL, and I think that is the ultimate solution. One step at a time.

[2020-04-03 12:15] c0c0n3 commented on #295
Awesome, I didn't know about that.

Like I said sanitation should already go a loooong way. But also keep in mind: who would break in and why? What's the payoff? What's the cost/consequence of a breach? We've had instances with public QL endpoints, nothing bad has ever happened, and if it did it'd be of little consequence---e.g. think feeding data into QL that's already been made public on the int

[2020-04-03 12:34] c0c0n3 commented on #224
@pooja1pathak @chicco785
After reviewing #298, I can't help thinking that maybe we shouldn't go down that road. Do we actually have cases of notifications in the wild where we get an attribute value of `"Null"` (i.e. a string containing the chars `N`, `u`, ...) as in

    {
        "id": "nasty::1",
        "type": "Device",
        "state": { "type": "Text", "value": "Null" },
        "temp": { "

[2020-04-03 12:44] chicco785 commented on #224
Hi,
to be honest i don't recall how this issue was born.

is there are test were we can see it occurring? then maybe there is a
problem in the old pr and related test.

a similar issue, that is for sure something to think about is "dropping"
attributes that cannot be cast to the proper attribute format,
so we save at least the other values and don't reject the full message.

On Fri, 3 Apr 2020 at

[2020-04-03 15:15] c0c0n3 commented on #224
Um, the plot thickens. I've got a faint recollection of Thomas explaining it to me and pointing the finger at JSON `null` but I never actually saw the culprit myself, so can't tell for sure. If my memory serves me well, it was some LORAWAN data he was struggling with.

Not that I know. I couldn't find anything like that.

Great idea! In fact, this is the second time you have it :-)) You asked me t

[2020-04-03 15:42] c0c0n3 commented on #296
Excellent, it actually didn't occur to me we could do that too. Also like [you said](https://github.com/smartsdk/ngsi-timeseries-api/pull/294#issuecomment-606572183), this may be an option too:

which is basically what I'm suggesting here, modulo the `4xx`. Anyway, I've realised there are still bits and pieces of that big honking translator query that I don't grasp fully, especially when it comes

[2020-04-04 01:05] chicco785 commented on #295
@c0c0n3 @ilarimikkonen fixing the issue in ql it may easy as define the pattern matching string for `fromDate` and `toDate` in the [spec](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/specification/quantumleap.yml#L249)

if that does not work, we can go this [way](https://gist.github.com/rafaelcaricio/6e67286a522f747405a7299e6843cd93)

[2020-04-04 01:15] chicco785 commented on #256
@pinkerltm as you can see i made an attempt in #300 probably not so painful to fix except if one of the test failing is actually a crate 4.x bug.
feel free to build an image from the branch and play with it

[2020-04-04 01:18] chicco785 opened #301 "move to uwsgi"
**Is your feature request related to a problem? Please describe.**
flask runner are not the recommended solution for production

**Describe the solution you'd like**
move to uwsgi, see here:
https://github.com/hellt/nginx-uwsgi-flask-alpine-docker/blob/master/python3/Dockerfile

**Additional context**
Hopefully this make ql container more performing

[2020-04-04 01:22] #288 closed

[2020-04-06 08:54] c0c0n3 commented on #292
It look like we're *not* getting the above error anymore, but some others related to coordinates: see [build log](https://travis-ci.org/github/smartsdk/ngsi-timeseries-api/builds/669184574?utm_source=github_status&utm_medium=notification) of PR #294.

As a stopgap solution, PR #299 disabled the failing tests, see [diff](https://github.com/smartsdk/ngsi-timeseries-api/pull/299/files?file-filters%5B

[2020-04-06 09:24] c0c0n3 commented on #295
@chicco785 all params need sanitation. E.g. what if I passed in an entity type of

    1 -- \n DROP DB ql

properly encoded, etc. There's one gazillion way to inject SQL at the moment I guess so we should rather aim for a global solution rather than fixing bits and pieces. When it comes to security, closing some of the doors but leaving the others open doesn't help :-)

[2020-04-06 09:39] c0c0n3 commented on #301
See also Flask deployment options over here:

* https://flask.palletsprojects.com/en/1.1.x/deploying/#deployment

Notice what the docs say about using the built-in server for prod workloads

oh dear :-)

[2020-04-06 09:56] chicco785 commented on #301
you get the exact same message everytime quantumleap starts...

[2020-04-06 09:59] chicco785 commented on #295
sure, my point is that there is already some sanitation (connexion if pass a string where parameter is supposed to be a number complains), and i think that doing it at connexion level, given that it seems to already offer that, is a good option

[2020-04-06 10:15] c0c0n3 commented on #295
yes, definitely something to look to. perhaps there might even be a sql injection plugin we could use to sanitise strings---e.g. make sure they don't contain sql statements. will comb the interwebs for low hanging fruit.

[2020-04-06 10:56] c0c0n3 opened #302 "Crate version check still needed?"
**Is your feature request related to a problem? Please describe.**
Everytime we get a notification, we issue a query to get the Crate version. As @chicco785 noted in PR #299, we could actually cache this so that we don't have to waste a query on each notification. Perhaps we could even get rid of it altogether.

### Describe the solution you'd like
Review the `_adjust_gh_44` method of Crate transl

[2020-04-06 12:03] chicco785 commented on #302
I suspect that also for the differences between crate 3 and 4 we may need the version check. But I may be wrong.

[2020-04-06 12:19] #160 closed

[2020-04-06 13:53] c0c0n3 commented on #302
I've had a quick look at it. If we won't need any more changes than you pushed to PR #300 so far, then your stuff is actually backward compatible between v4 and v3 (but not v2). In fact,

    ON CONFLICT (column_ident [, ...]) DO UPDATE SET...

is supported both in v3 and v4

* https://crate.io/docs/crate/reference/en/3.3/sql/statements/insert.html
* https://crate.io/docs/crate/reference/en/4.1/sq

[2020-04-06 16:22] chicco785 opened #303 "Make MAX limit for retrieved rows an env variable"
**Is your feature request related to a problem? Please describe.**

Currently the  MAX limit is hardcoded

**Describe the solution you'd like**

I would like it to be a ENV variable i can change.

[2020-04-07 12:31] Siedlerchr opened #304 "Index should contain ISO Date with Timezone Z"
**Is your feature request related to a problem? Please describe.**
When querying history Data, I always get the data back in UTC, however, as the 'Z' identifier is missing, javascript interprets this as local date time. This local time is then currently 2h off (Europe/Berlin)
It should be consistent with Orion which reports dates back in ISO as:
` 2020-04-07T12:02:07.00Z`

[code]

**Describe the s

[2020-04-08 07:48] daminichopra commented on #242
Hi @c0c0n3 , I have fixed the code for above issue in cratedb community which is merged now in their code but it is updated for version [4.0.2](https://github.com/crate/crate-python/blob/ac8736f85764b2d00a7d556715530ca6868b2905/versions.cfg#L2) and QL is using version [3.1.2](https://github.com/smartsdk/ngsi-timeseries-api/blob/aeb3230e998d17a0077e45bc8f139980123f41a4/docker/docker-compose-dev.yml

[2020-04-08 08:14] c0c0n3 commented on #304
@Siedlerchr thank you for reporting this :-)

### Implementation notes
The index value can easily be returned in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC representation by specifying the UTC Z timezone in `_get_isoformat` (Crate translator). That method gets called when formatting query results into the output JSON returned to the client.

But we should dig deeper to review the inser

[2020-04-08 08:18] c0c0n3 commented on #242
@daminichopra super duper, thank you soooo much!
see also #256 and PR #300

[2020-04-08 08:23] c0c0n3 opened #305 "Update CREDITS file"
The CREDITS file hasn't been updated in a while. Since then we've had major contributions from @daminichopra and @pooja1pathak. We have to acknowledge the great work they've done so far!

[2020-04-08 08:30] Siedlerchr commented on #304
Thanks for the quick reply. I looked at the python script and it seems like it's quirk of python which does not emit the "Z"
However, for python 3.x there seems to be a solution: https://stackoverflow.com/a/28164131

[2020-04-08 08:56] chicco785 commented on #295
alternatively, given that at the moment the only parameters afaik that may raise the issue are fromDate and toDate, we should just change this function to raise error when string is not a date format:
https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/crate.py#L457

[2020-04-08 08:59] c0c0n3 opened #306 "Follow up on Crate "Union all" bug"
### Is your feature request related to a problem? Please describe.
PR #300 implemented a workaround to crate/crate#9854, have a look [over there](https://github.com/smartsdk/ngsi-timeseries-api/pull/300/files#diff-038dc5c6921c5e01d1f89c6db1778a13L759).

### Describe the solution you'd like
Follow up with the Crate guys. If the issue gets fixed, revert back PR #300's workaround.

### Describe alter

[2020-04-08 09:11] ilarimikkonen commented on #295
Hi,

just to (trying) to contribute to this, we are trying this with the JS in Nginx:

[code]

and then we catch that in nginx and redirect:

[code]

This effectively strips everything off except for those three args. This work in our use case ONLY.

[2020-04-08 09:16] chicco785 commented on #304
This is the code for query:
https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/crate.py#L128

While for injection, i feel this is delegate to crate (can't spot any conversion):
https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/crate.py#L226

If that's the case, then crate converts any input to epoch using UTC timezone. So, if the input express tim

[2020-04-08 10:46] c0c0n3 commented on #118
closed by #294

[2020-04-08 10:46] #118 closed

[2020-04-08 11:41] #305 closed

[2020-04-12 19:36] chicco785 opened #308 "Test ticket from Code Climate"

[2020-04-12 19:37] #308 closed

[2020-04-12 19:39] chicco785 opened #309 "Fix "TODO" issue in src/reporter/health.py"
TODO found

https://codeclimate.com/github/smartsdk/ngsi-timeseries-api/src/reporter/health.py#issue_5e936c09230c22000100011a

[2020-04-12 19:39] chicco785 opened #310 "Fix "TODO" issue in src/translators/crate.py"
TODO found

https://codeclimate.com/github/smartsdk/ngsi-timeseries-api/src/translators/crate.py#issue_5e936c09230c22000100011f

[2020-04-12 19:43] #258 closed

[2020-04-12 19:43] #253 closed

[2020-04-12 20:02] chicco785 commented on #256
@pinkerltm @tstorek
except few last checks, we are ready with cratedb 4.0 support. it would be great if you could run few tests before we merge to master.
an image build is available as `smartsdk/ngsi-timeseries-api:fix-256`

[2020-04-13 18:38] c0c0n3 commented on #296
So I've done quite an extensive analysis of how querying works and put [my findings][moaq] on the [wiki][wiki]. As it turns out, at least for queries involving a single table and one attribute, Quantum Leap actually does what you're suggesting: if the attribute doesn't exist or it does exist but isn't numeric, return a `404`. If the query touches more than one table, then only return results from

[2020-04-13 18:42] c0c0n3 commented on #303
We should also update the spec accordingly to state that the max can be configured and advise against setting it too low as a low max would make more likely the below issues detailed in [The Mother of all Queries][moaq] section of the [wiki][wiki]:

* [Hidden partial results][partial-res]
* [Limit not honoured][lim-not-honoured]

[wiki]: https://github.com/smartsdk/ngsi-timeseries-api/wiki
[moaq]:

[2020-04-14 08:02] c0c0n3 commented on #304
@chicco785 that's great. Cross-referencing #300 which introduces a fix when generating a time index on insert.

I reckon we should add some tests *after* merging #300 to see what still needs fixing, if anything.

[2020-04-14 08:51] c0c0n3 commented on #295
Hi @ilarimikkonen,

Thank you so much for posting your solution, it should definitely be helpful to others using Quantum Leap + Nginx!

[2020-04-14 08:52] pooja1pathak commented on #224
Hi @c0c0n3 , @chicco785

I have checked for the above, below is my observation:
**CASE-1:**
When we notify QL for an entity say Room with 2 attributes i.e., temperature and pressure as for the very first notification, temperature value is set null with type Number and pressure value is 15 of type Number. The notification successfully gets processed.
**Entity is created in Crate DB as temperature w

[2020-04-14 12:35] c0c0n3 commented on #224
Hi @pooja1pathak, thanks for testing those scenarios :-)

Spot on! That's how notifications work at the moment. #241 explains in more detail what happens under the bonnet---see problem section.

I reckon that's because of implicit type conversions. The temperature column got created numeric in the first notification and the temperature value in the second notification is the string `"25"` which ha

[2020-04-14 12:47] c0c0n3 commented on #224
I like your suggestion. Let's put a bit more flesh on the bones of this. I'm going to use the same notation defined in my [earlier comment](https://github.com/smartsdk/ngsi-timeseries-api/issues/224#issuecomment-605915939), please have a look there for the details.

So what we want is this. For each entity `e` and attribute `a`

    not known(e, a) and not has_value(e.a)  ===>  do not store a

[2020-04-15 09:23] pooja1pathak commented on #224
Thank you for the detailed explaination :-)

I am writing a new function which will get called after ```_filter_empty_entities``` to filter no_value and no_type attributes from the entities, as suggested by you.

I'll update my PR once it is done.

[2020-04-15 11:56] c0c0n3 commented on #224
Pleasure! Thank you for the detailed report and suggestion!

That's great, thanks a stack!

[2020-04-15 16:17] #215 closed

[2020-04-15 16:48] chicco785 opened #314 "Reduce code duplicates"
**Is your feature request related to a problem? Please describe.**
Large part of codes are duplicated between Crate and Timescale.

**Describe the solution you'd like**
Reduce duplication to improve maintainability.

[2020-04-16 07:12] daminichopra commented on #211
Raised [PR#313](https://github.com/smartsdk/ngsi-timeseries-api/pull/313)

[2020-04-16 17:04] c0c0n3 commented on #256
@pinkerltm @tstorek
We just merged #300 into master with experimental Crate 4 support. By the time you read this the latest QL image with Crate 4 support should have become available on Docker Hub.

    docker pull smartsdk/quantumleap:latest

to get the goodies. It'd be great if you could take it for a spin and report any issues here on GitHub.
Many thanks!

[2020-04-16 17:04] #256 closed

[2020-04-16 17:25] c0c0n3 commented on #314
Guilty as charged, see TODO I left [here](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/src/translators/timescale.py#L13) when I implemented initial support for Timescale---we had no time for proper design and refactoring then. Thanks for reminding me.

There's also lots of similar code in most of the reporter modules that deal with queries, scars of past C&P technology.

[2020-04-17 13:03] chicco785 commented on #314
No worries :) In my free time at night if kids wake me up, in the attempt to learn basis of python, I will make a proposal, and then share with you for revision and consolidation.

[2020-04-17 13:23] pooja1pathak commented on #224
Hi @c0c0n3  I've updated my PR #298  as per our discussion.

[2020-04-17 18:41] pinkerltm commented on #256
@c0c0n3 @chicco785 thanks a lot for your great effort...sorry I didn't recognize this as long as I received the issue closed per mail. I will test it immediately on our dev cluster.

[2020-04-20 05:21] daminichopra commented on #303
Hi @c0c0n3 , Please assign this issue to me if no one is working on it. Thank you

[2020-04-21 09:36] c0c0n3 commented on #224
Hi @pooja1pathak I've just merged your PR. Great stuff, thank you sooooo much!!
Closed by #298

[2020-04-21 09:36] #224 closed

[2020-04-21 09:40] c0c0n3 commented on #303
Hi @daminichopra, assigned to you. thanks for offering :-)

[2020-04-27 14:07] chicco785 commented on #304
hardening timezone support, is not that simple, but hopefully is covered here: #315

[2020-05-07 11:52] mechanomi commented on #287
we have a note about this now:

https://crate.io/docs/crate/reference/en/latest/general/ddl/data-types.html#geo-shape

see https://github.com/crate/crate/issues/8053 for the feature request, which will remain open and on our backlog for the time being

closing the issue

thanks! :)

[2020-05-18 10:16] chicco785 opened #318 "store raw json incoming notification"
**Is your feature request related to a problem? Please describe.**
To improve management of incoming data and provide later support to recover badly formatted data not mapping to columns, it would be nice to store raw json data.

**Describe the solution you'd like**
have a "_raw" column for each data entry in the entity column where we can store source json data. this column should be stored also

[2020-05-27 09:02] c0c0n3 opened #320 "FiWare Active Contributors Census"
@pooja1pathak, @daminichopra, @iamarnavgarg,
We're busy updating the list of [FiWare Active Contributors](https://docs.google.com/spreadsheets/d/1EAAsZvgx-u7NygFN4v6hQXSr2zbOJ1kScFJhv4nDC0A) and I took the liberty to add the three of you since you made your personal details public on your GitHub profile---name, surname, email, organisation you work for.

@ohylli, @agaldemas
We'd like you to be on

[2020-06-09 10:46] c0c0n3 opened #321 "Multiple FiWare service paths in notification batch"
**Describe the bug**
A notification batch may contain entities for different service paths, e.g.

    entities             [ e1, e2, e3, ...]
    fiware-service-path   "p1, p2, p3, ..."

at the moment the code that inserts those entities assumes it's always the case that `p1 = p2 = p3 =...`

**Expected behavior**
Each entity should be assigned its corresponding service path, `e1 -> p1, e2 -> p2, .

[2020-06-12 12:44] pinkerltm opened #322 "can't figure out "Nested arrays are not supported" error"
Our orion-context broker gets Weather and Weather Forecast data following more or less the smart-data-model specification (its in a state between NGSIv2 and NGSI-LD).

Our WeatherObserved Entities look like this, for example
[code]

Subscribing QuantumLeap to this created the tables `etweatherobserved` and `etweatherforecast` but does not append rows. The QuanumLeap logs say

[code]

I can't figur

[2020-06-12 12:53] chicco785 commented on #322
[code]

this is not recognised as geo:json.

rename `GeoProperty` to `geo:json` and it should work.

consider that ql supports ngsi-v2, but no ngsi-ld, so, when the message arrives, the value:
[code]
is processed as an array (not as geo:json). but being a nested array, which is not supported by CrateDB, things go badly

[2020-06-12 14:17] pinkerltm commented on #322
Thanks to pointing out that detail, I took the NGSI-LD Sample and adopted it to more fit NGSIv2 but missed the "GeoProperty"

You are perfectly right, reformated my Context and recreated the tables, now it works like a charm again.

Thank you very much!

[2020-06-12 14:17] #322 closed

[2020-06-12 14:28] chicco785 commented on #322
happy to have helped :)

[2020-06-16 14:58] c0c0n3 commented on #273
PR #315 upgraded to Alpine `3.12` and Python `3.8.3`.

[2020-06-18 16:42] pinkerltm opened #323 "API selective on content field 'source'"
We are using the [Device](https://swagger.lab.fiware.org/?url=https://raw.githubusercontent.com/smart-data-models/dataModel.Device/master/Device/swagger.yaml)-"smart-data-model" on our Context Broker which get persisted to CrateDB by QuantumLeap. First we fired a couple of testrequests to Context Broker, where the field 'source' of the datamodel got the value 'application/test-data', which led to

[2020-06-19 11:43] chicco785 commented on #323
@pinkerltm i am not sure i understand what happens. how did you import the cvs data?
in principle, there should not be any issue (at least on quantumleap side). one thing though you have to keep in mind is that when you import lot of data in a batch way to crate, it takes some times for the data to be "consolidated" and hence available in queries.

said so, to investigate your problem, we need to

[2020-06-22 16:42] c0c0n3 opened #324 "Implement Timescale queries"
Just a reminder to pick up from where #315 [left off](https://github.com/smartsdk/ngsi-timeseries-api/pull/315#issuecomment-647635324).

[2020-06-22 16:42] c0c0n3 commented on #304
@Siedlerchr we've just merged #315 which, among other things, implemented a fix for timezones. Now QuantumLeap returns time values in ISO 8601 format with [offsets from UTC][iso8601.offset]. In the case of UTC time, an offset of `+00:00` gets appended to the time as in the example below

    2020-06-22T01:20:01.567             # before PR 315
    2020-06-22T01:20:01.567+00:00       # after

This i

[2020-06-22 16:43] #304 closed

[2020-06-22 16:51] c0c0n3 opened #325 "Log QL_DEFAULT_DB value when reading it from env"
This is a left over of #315: I forgot to push this commit to the branch so it will have to go in a separate PR, sorry for the mess :-(

[2020-06-22 17:32] Siedlerchr commented on #304
Thanks for the fix. That should also work.

[2020-06-23 09:39] chicco785 opened #327 "Replace os.getenv with util"
at least in the core code:
https://github.com/smartsdk/ngsi-timeseries-api/blob/a257af2b424d8326da62c46f013ec29a9e3259e7/src/reporter/health.py#L20
https://github.com/smartsdk/ngsi-timeseries-api/blob/42a20ae23f20f10b55f794b19d05ecea7a4eca14/src/translators/factory.py#L26
https://github.com/smartsdk/ngsi-timeseries-api/blob/42a20ae23f20f10b55f794b19d05ecea7a4eca14/src/reporter/reporter.py#L46
http

[2020-06-23 12:46] c0c0n3 commented on #295
@ilarimikkonen #315 implemented better parsing of datetimes which should prevent the kind of SQL injection you reported. If you could please try running the [latest QL image](https://hub.docker.com/layers/smartsdk/quantumleap/latest/images/sha256-625fa192529ccc1f851abe6d69d1cc0a2135f42ca001c5945966df46212b412b?context=explore) on DockerHub to see if you still have that problem and let us know eith

[2020-06-23 13:01] c0c0n3 opened #328 "More descriptive Docker tags"
**Is your feature request related to a problem? Please describe.**
After merging a PR into master, the DockerHub task kicks off to create a new image with the code currently in master and uploads it to DockerHub with a tag of `smartsdk/quantumleap:latest`. To us "latest" means latest build but others out there may take it to mean "latest & greatest", expecting a stable release. On the other hand,

[2020-06-23 18:08] c0c0n3 commented on #314
closed by #315

[2020-06-23 18:08] #314 closed

[2020-06-24 13:10] chicco785 commented on #327
fix by #326

[2020-06-24 13:10] #327 closed

[2020-06-24 13:10] chicco785 commented on #325
fix by #326

[2020-06-24 13:10] #325 closed

[2020-06-24 20:24] WyRe opened #329 "QuantumLeap integration with OrionCB and IoTagent-LoRaWAN"
**Describe the bug**
I'm not sure if this is a bug or I am doing something wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. First I've posted a device in the IoTagent-LoRaWAN and apparently is receiving the payload as you can see in the picture
![Anotación 2020-06-24 215108](https://user-images.githubusercontent.com/4059108/85623012-0120c400-b668-11ea-8f96-ec5e5ddfc61f.png)
2. However

[2020-06-25 09:24] WyRe commented on #329
Well, apparently it was my fault and the `docker-compose.yml` file was not deploying properly `mongodb` and `orioncb` so they cannot connect between them. However, ... now I'm able to create an entity through a POST request to the IoTagent-LoRaWAN when I create a device, also I'm able to create the subscription sending this body in another POST request to `orioncb`

[code]

As you can see in the p

[2020-06-25 09:53] c0c0n3 commented on #329
Hello @WyRe, thank you for getting in touch.

As you noted, the problem there was that in your initial setup QuantumLeap wouldn't be able to reach Orion on localhost since Orion was in the Docker network. If you'd like to access QuantumLeap and Orion from your localhost too, you could try setting up a Docker compose bridge network, see e.g. https://github.com/smartsdk/ngsi-timeseries-api/blob/mast

[2020-06-25 10:19] WyRe commented on #329
@c0c0n3 oh no, thank to you! Now it's apparently working :smile:

[code]

And here in Crate I can also see details of my device like `analog_in_1`

![Captura de pantalla_2020-06-25_12-14-57](https://user-images.githubusercontent.com/4059108/85701414-a6c24a80-b6dd-11ea-93b4-1c86e3463d91.png)

However, ... I was reading [the docs about grafana](https://quantumleap.readthedocs.io/en/latest/admin/graf

[2020-06-25 10:19] #329 closed

[2020-06-25 10:27] WyRe commented on #329
@c0c0n3 Do you recommend me to use your [docker-compose.yml](https://github.com/smartsdk/ngsi-timeseries-api/blob/master/docker/docker-compose.yml)?

[2020-06-25 10:50] c0c0n3 commented on #329
That's just a test file but I suppose you could use it as a starting point :-)

Yes, if you're using a Docker compose network, then the Crate container should be reachable using the `crate` host---as long as `crate` is also the service name in your Docker compose, if my memory serves me well. Did you try using `crate:4200` when setting up the Grafana data source, like you suggested? It should work

[2020-06-26 09:36] WyRe commented on #329
Thank you so much, @c0c0n3 it's all working apparently but ... I'd like if you don't mind to ask you a few more things,

- Why apparently CrateDB exposes the port 5432 despite I didn't indicated such thing in the docker-compose.yml?
![Captura de pantalla_2020-06-26_11-34-08](https://user-images.githubusercontent.com/4059108/85843214-2bc26800-b7a1-11ea-88e1-b868bd83bb95.png)

- Also ... Which gener

[2020-06-27 13:01] dSalvoG opened #331 "404 Error when subscribing to a entity from Orion"
Hello, the **context of the bug** is as follows:

- I'm working on an example to get a series of data using Fiware.

- When I try to subscribe an entity using Orion's APIs (http://localhost:1026/v2/subscriptions/):

**Request: **

- I would like to know how can I configure the docker image to get Quantum Leap service running and making subscription into my Orion entity.

[*] Content-type : applica

[2020-06-29 07:54] c0c0n3 commented on #303
closed by #330

[2020-06-29 07:54] #303 closed

[2020-06-29 08:18] c0c0n3 commented on #329
Um, not sure. Probably because of this?

https://github.com/crate/docker-crate/blob/master/Dockerfile#L60

(Latest Docker file, haven't checked `v3.3.5` but I bet you it's the same :-)

Yes, that's correct. QuantumLeap uses Redis to cache geo-location data. On receiving a notification QL tries to pin down the geo-coords if they're not explicitly specified in the NGSI entity payload. To do that, QL

[2020-06-30 11:17] ilarimikkonen commented on #295
Hi @c0c0n3 just back from vacation. We'll check when we have a good slot.

[2020-07-01 12:27] ilarimikkonen commented on #295
Hi, tested and a query with an argument: ?toDate=2020-03-03'%20and%20'1'%3d'1

results:
[code]

So seems fixed! Great work guys!

[2020-07-01 12:27] #295 closed

[2020-07-01 16:59] c0c0n3 opened #332 "SQL injection, our old nemesis"
### Background
At the moment QL builds queries by string manipulation---input parameter substitution in string templates, string concatenation, etc. In addition to that, not all input parameters get sanitised so **SQL injection is a very real threat**. We've been discussing this for a while (see e.g. #165 and [this comment about SQL injection](https://github.com/smartsdk/ngsi-timeseries-api/issues

[2020-07-01 17:01] c0c0n3 commented on #332
### Example

Here's a script where we trick QL to return data that supposedly the client doesn't have access to. There are two tables, `test_device` and `secret_device`. The client should only be able to query `test_device` but the script sneakily injects a SQL snippet to get data from `secret_device` while querying `test_device` by using `attr_name` as an attack vector. Notice that requiring the

[2020-07-01 17:03] c0c0n3 commented on #295
@iamarnavgarg yes, #315 implemented a good fix for datetimes, but that's just a stepping stone, more needs to be done---see #332. So please keep that in mind!

[2020-07-06 08:40] daminichopra commented on #287
Hi @chicco785 , I would like to work on this issue. Please assign me if no one is working on this issue. Thank you :)

[2020-07-06 08:50] c0c0n3 commented on #287
Hi @daminichopra, just assigned this to you. Thanks alot!

If you could please test what happens with the Timescale backend too. In principle the above example should work with Timescale, but we have to make sure. If it doesn't, then if you could please document that at the moment QL doesn't support 3D coords, regardless of which backend is used.

[2020-07-06 11:29] dSalvoG commented on #331
Nice, thanks for your time. Everything worked great.

Thanks!

[2020-07-06 11:29] #331 closed

[2020-07-06 12:00] ccsr opened #334 "QL doesn't notify when CrateDB is locked due to less available memory"
When the allocated available memory to CrateDB goes below 15%, CrateDB gets locked and QL doesn't give any errors.

Steps to reproduce the behavior:
1. Create a subscription from Context Borker to QL and wait till the allocated free disk is below 15%
2. CrateDB locks and QL don't give any errors

**Expected behavior**
QL should return "not processed or not updated" error code to subscription call

[2020-07-06 12:31] chicco785 commented on #334
@ccsr thx, we will check

[2020-07-10 09:32] pinkerltm opened #336 "INSERT...ON DUPLICATE DO ... Behaviour"
Because Crate sometimes gets locked and therefore misses CB notifications we are facing uncomplete timeseries data where we tend to fill up the gaps later on. Fortunately we collect data not only via Context Broker but also in other stores so we are able to just "replay" certain timespans.

Doing this we risk to sometimes produce duplicates which we also have to tidy up afterwards.

The better sol

[2020-07-10 13:15] chicco785 commented on #336
hi @pinkerltm

* as you know we have a value for each attribute, so adding the ON DUPLICATE DO NOTHING would basically means convert into key every column, which i suspect is performance killing. This is not really performing. Not also how this is compatible with CRATEDB SQL in v4 (which seems to not support on DUPLICATE KEY): https://crate.io/docs/crate/reference/en/4.1/sql/statements/insert.html

[2020-07-10 13:37] pinkerltm commented on #336
Sorry you are right, its INSERT ... ON CONFLICT ... now https://crate.io/docs/crate/reference/en/latest/sql/statements/insert.html

To include `value` in the key seems odd in the first place, according to NGSI SmartDataModels its allowed to (url)encode multiple measures into a Text Value. So in our IoT environment we get update messages which update a single measurement, and we have to translate t

[2020-07-10 14:02] chicco785 commented on #336
are you aware of this: https://github.com/orchestracities/charts ? may help, and if you want to contribute updates, you are of course welcome.

i feel your pain for the device model. i consider it actually it wrong. which is the reason why, we don't store "value", but only actual device info and then lift "values" to a specific model e.g. AirQuality.

regarding the feature request, to be honest, i

[2020-07-10 14:32] pinkerltm commented on #336
@chicco785 oh thats really nice! although I prefer Operators over Helm Charts wherever there are some available (can't manage writing golang also for now). We put most of these together on our own (Simple Crate STatefulSet Deployment without any lifecycle management). THANKS!

And yes, we also came to the conclusion that the Device Model is simply wrong in this case and propose to introduce an Dev

[2020-07-10 15:57] chicco785 commented on #336
we combine charts with flux: https://fluxcd.io/

[2020-07-10 15:59] chicco785 commented on #336
it basically provide a generic operator for helm charts configurations, that you can version in git, and it keeps in synch the config in git and the cluster

[2020-07-11 06:27] pinkerltm commented on #336
When it deploys YAML, it also deploys Operators.....nice one. Perhaps something we can use for our new nightly-dev cluster

[2020-07-11 06:40] pinkerltm commented on #336
I think I will close this now, as we are more and more missing the topic.... nevertheless I found it nice to exchange experiences on clustering FiWare properly. Perhaps there is a better platform for this (Slack, RocketChat, SE, Reddit, ...)?

[2020-07-11 06:40] #336 closed

[2020-07-11 07:25] gboege opened #337 "New milliseconds in Creation date and modification date break fromDate and toDate"
**Describe the bug**
In the latest updates to ContextBroker there seem to be additions of milliseconds to the creation date and modification date. See this link and the picture attached:
![Milliseconds](https://user-images.githubusercontent.com/44926950/87218885-3c550f80-c357-11ea-8972-21d20bb67edb.png)
https://github.com/telefonicaid/fiware-orion/blob/c3b30bd940b88d1b9654553fc9b62cd01cd0e468/test

[2020-07-11 07:58] chicco785 commented on #337
which version of the image are you using?

[2020-07-11 15:32] gboege commented on #337
It is only 4 days old...

https://github.com/telefonicaid/fiware-orion/blob/c3b30bd940b88d1b9654553fc9b62cd01cd0e468/CHANGES_NEXT_RELEASE

And there is only the "latest" images updated so far. No image with a version Number. It will be part of the next release, but without naming a specific version you have it already today.
https://hub.docker.com/r/fiware/orion/tags?page=1

[2020-07-11 15:35] gboege commented on #337
see creDate and modDate
https://github.com/telefonicaid/fiware-orion/blob/c3b30bd940b88d1b9654553fc9b62cd01cd0e468/doc/manuals/admin/database_model.md

[2020-07-11 15:52] chicco785 commented on #337
sorry, my question was not clear :) which version of quantumleap image ?

[2020-07-11 15:57] gboege commented on #337
this is my demo docker-compose ... changed to orion 2.4.0 ... now it works smoothly

version: "3.7"

services:

  orion:
    restart: always
    image: fiware/orion:2.4.0
    hostname: orion
    container_name: orion
    networks:
      - main
    ports:
      - "1026:1026"
    depends_on:
      - mongo-db
    command: -dbhost mongo-db -logLevel DEBUG

  mongo-db:
    restart: always
    image: mo

[2020-07-11 16:02] chicco785 commented on #337
would you mind testing with smartsdk/quantumleap:latest? is the dev version and we made few updates to date management, maybe it solves already

[2020-07-12 14:16] gboege commented on #337
Just tested. And no:
In 4 combinations:

CB = Image Version Context Broker
QL = Image Version Quantum Leap

CB: 2.4.0
QL: 0.7.5
NO-404: /v2/
NO-404: /v2/entities
OK-200: /v2/entities/User-UUID-11
NO-501: /v2/attrs
NO-500: /v2/attrs/userDistanceKM-ALL
NO-404: /v2/types
NO-500: /v2/types/RideShareActivity
OK-200: /v2/types/RideShareActivity/attrs/userDistanceKM-ALL
OK-200: /v2/types/RideShareActivit

[2020-07-14 13:35] pinkerltm opened #338 "QuantumLeap API Query doesn't find records"
We have Timeseries data of NGSI Devices from Dec. 2019 to now stored in CrateDB. So when I query Crate

[code]
I get 13 records (5 Minute steps) for the given timespan. But when I query QuantumLeap with the same parameters

`/v2/entities/urn:ngsi-ld:Device:evn-joulie:FFFF644214006784:64002D0204BC/attrs/value?fromDate=2020-04-04T12:00:00&toDate=2020-04-04T13:00:00`

I get

[code]

When I just chang

[2020-07-14 14:16] pinkerltm commented on #323
the problem doesn't have anything to do with the "source" field, therefore closing this

[2020-07-14 14:16] #323 closed

[2020-07-14 14:22] c0c0n3 commented on #338
@pinkerltm thanks for reporting this, we'll look into it.

it should make no difference to QL how you choose your entity ID values, any string should do. so it's most likely a genuine bug we've bumped into :-)

[2020-07-14 14:23] chicco785 commented on #338
@pinkerltm can you try without from and to? i suspect it may be related to that and last changes we made

[2020-07-14 14:23] chicco785 commented on #337
@gboege thx, we are looking into this

[2020-07-14 14:25] pinkerltm commented on #338
That works, but it only delivers values until a certain limit is reached (which is all in 2019, which also works with from and to anyway).

[2020-07-14 14:28] c0c0n3 commented on #338
results sets get capped at 10,000 records unless you explicitly specify a limit query param, in which case the least of the two is used. #319/#330 made the result set cap configurable to something else than 10,000.